[2021-06-21 04:22] cnkidong opened #179 "RequestAddNode error"
the console shows **"[error] request rejected as it is out of order**"
the code below:
ctx, cancel := context.WithTimeout(context.Background(), 10*time.Second)
	defer cancel()
	memberShip, err := nodehost.SyncGetClusterMembership(ctx, uint64(intClusterID))
	if err != nil {
		log.Errorf("get membership failed, %v", err)
		return
	}
	rs, err := nodehost.RequestAddNode(xx, xx, xx, memberShip.ConfigCh

[2021-06-21 05:47] #179 closed, assigned to nobody

[2021-06-21 05:59] lni commented on #179
@cnkidong I guess you've figured out the problem by yourself.

I've also added a test named TestOrderedMembershipChange in nodehost_test.go, it seems to me that the involved add node with constrained config change ID feature works as expected.

[2021-06-21 06:27] lni opened #180 "Transfer the leadership to a different node in graceful node shutdown"
need to coordinate with the engine to ensure such leadership transfer is requested before removing the node from nodehost.

[2021-06-21 08:28] lni opened #181 "Dynamic sharding when executing committed proposals"

[2021-06-22 16:38] brianburnett opened #182 "Documentation to include delete operation examples"
### Dragonboat version
v.3.3.4

### Expected behavior
The code examples and/or go doc should describe the details to properly remove entries from Raft logs and the underlying persistence stores.

### Actual behavior
Example code and go doc demonstrate the addition of entries but it is unclear on how to perform deletions.

### Steps to reproduce the behavior
Request is relating to documentation, sp

[2021-06-23 02:39] lni commented on #182
@brianburnett In your email, you mentioned that

My understanding is you want some of your data entries in OnDiskStateMachine to be expired after a period of time.

Raft log is an append only log of all operations you proposed for your OnDiskStateMachine, it can be compacted meaning you can request to have no longer required log entries (those already applied into your OnDiskStateMachine) to be re

[2021-06-23 08:30] lebovski opened #183 "Read after leader elected return: request dropped as the cluster is not ready"
If I try to SyncRead after leader elected first time, I get error (request dropped as the cluster is not ready).
What is the correct way to wait for the cluster to be ready?

### Dragonboat version
v3.2.8

### Expected behavior
SyncRead successful.

### Actual behavior
Error: request dropped as the cluster is not ready

### Steps to reproduce the behavior
1. Create listener, and add SyncRead actio

[2021-06-23 20:04] brianburnett commented on #182
Yes, I needed to better understand how to manage the removal of entries before opening up a ticket on implementing a mechanism to expire them. That feature would be similar to other Raft implementations such as RedisRaft's Expire or etcd's Lease.

For this issue I was hoping to see if it was possible to add some sample code that follows your existing examples.

Such as with your ondisk example cod

[2021-06-24 02:05] lni commented on #182
For the replication state machine (RSM) model, PUT and DELETE are nothing different from each other, they both require changing the state of the RSM and thus they should be implemented as proposals.

I'd like to keep the examples as simple as possible, maybe I can add some comments in the example to indicate that PUT and DELETE should both be implemented as proposals.

Please feel free to open a n

[2021-06-24 02:19] lni commented on #183
This is because a ReadIndex backed read can only be requested after the new leader figures out what is the current commit value. The new leader achieve that by proposing a noop entry immediately after becoming the leader.

I'd recommend to always add code logic to handle such "cluster is not ready" and timeout failures, as there is no guarantee at any moment that read/proposal can be successfully

[2021-06-24 20:48] brianburnett opened #184 "Entry auto expiration feature"
### Dragonboat version
v3.3.4

### Expected behavior
A proposal or entry can have an associated time to live which after expiration the entry will no longer be accessible or take up physical space.

### Actual behavior
N/A

### Steps to reproduce the behavior
This is a new feature request which is similar to the RedisRaft EXPIRE or etcd Lease functionality.

[2021-06-25 03:40] lni commented on #184
@brianburnett as explained in the previous issue, Raft and its RSM (replicated state machine) model implemented by Dragonboat is a generic framework for replicating states across multiple servers. From the library's point of view, there is no concept such as PUT, GET or EXPIRE. Raft/Dragonboat provides two basic operations (propose and ReadIndex read) to help you to construct your distributed syst

[2021-06-25 08:12] lebovski commented on #183
Thanks a lot for the recommendations. Now I don't have much time, but if I have the opportunity, I will try to prepare a PR.

[2021-06-25 15:30] brianburnett commented on #184
Thanks!

I appreciate the clarifications.  That helps put context around what dragonboat provides and what becomes a feature for the application to build.

[2021-06-25 16:06] #184 closed, assigned to nobody

[2021-06-28 08:33] #183 closed, assigned to nobody

[2021-06-30 07:21] grokking88 opened #185 "[Use Help] Is it reasonable to use raft to replicate data in a ultra-low latency storage system?"
Hi dragonboat,

We are building a ultra-low latency storage system which aims to make the whole IO path latency under 50us for 4KB workloads(the network is RDMA and disk is NVMe level SSD or optane SSD).

We benchmarked many raft implementations which is written with C++ and the performance is not good, some of them even cost more than 1ms for QD=1(very low workloads pressure). While some guys poi

[2021-07-02 13:10] intrntbrn opened #186 "Get notified about clusters a node is part of, but has not joined"
I was wondering if there is way to get notified about clusters a node is part of, but has not joined  yet.

Let's say a node `N` is a voting member in a cluster where node `L` is the leader.

`N` crashes, restarts the process and initializes nodehost. `L` is now able detect that `N` recovered and is online again (via `ConnectionEstablished` event), but how is `L` able to determine if `N` actually

[2021-07-02 15:42] lni commented on #186
For the raft implementation itself, it is determined once a message from N is received by L.

For your application built on top of the raft implementation, there is currently no available method to figure out whether N has been started or not. Is there any particular reason you want to know that N has been started?

[2021-07-03 06:44] lni commented on #185
I don't think it is a Raft problem. For a single raft group, you don't have to complete the first Raft log write before starting the next Raft log write. Different implementations including Dragonboat may put restrictions for various reasons, but such implementation decisions have really nothing to do with the Raft protocol itself. Secondly, the high IO parallelism of your storage devices can be f

[2021-07-05 01:41] grokking88 commented on #185
Yes, this is correct, the worst case is that if the log entry is not in fixed size, when the log are arrived at followers out-of-order, the logs which are arrived earlier can't be written into WAL since their offset in the WAL can't be calculated with missing entries. While I still believe this is useful since all the arrived entries can be logged without waiting previous WAL write operations.

I'

[2021-07-05 13:55] lni opened #187 "Persistently store latest membership details for on-disk statemachines"
In the current implementation, dragonboat has to create periodic metadata-only snapshots (usually just a few kbytes each) for on-disk statemachines so they can be restored after reboot. This is largely because we have to somehow persistently store raft group membership details which are kept in in-memory. Basically, in the current implementation, on-disk statemachines are not purely on-disk, they

[2021-07-05 13:59] lni opened #188 "Hybrid statemachine"
Dragonboat currently supports both in-memory and on-disk statemachine types. A potential usage is to require hybrid statemachines in which user applications can choose to have some states persistently stored on disk while the rest states are kept in memory only.

See #187 for some related problems

[2021-07-05 14:01] lni opened #189 "More raft state related callbacks"
Provide callbacks on more raft states. Need to check with users to see what they need.

[2021-07-05 14:12] lni opened #190 "Support manual Raft log compaction"
In the current implementation, Dragonboat automatically compact Raft logs whenever it is possible. It is automatically triggered whenever a new snapshot is created as that implies all logs included in the snapshot is no longer required.

A potential Dragonboat user mentioned the requirement that they would like to be able to manually trigger such log compaction by using the specified raft log rang

[2021-07-06 08:42] fly3366 commented on #189
Need some hook. eg. OnNodeNumberHasChange/OnLeaderHasChange/OnClusterReady.

[2021-07-07 07:39] cloudlounger opened #191 "ILogDB and Statemachine is sensitive to all kind of errors"
### Dragonboat version
3.3.4

### Expected behavior
when statemachine implement and ILogDB implement encounter errors, engine could use better graceful ways to handle errors, for example,  the engine retry some work instead of panic immediately.

### Actual behavior
when processSteps、processCommits、processApplies encounter errors, the process excute panicNow(err).

### Steps to reproduce the behav

[2021-07-07 13:35] intrntbrn commented on #186
In my application the leader of a cluster has to report the state of the cluster (e.g. online status of peers) to a coordination/scheduling process (also raft backed). But since the `ConnectionEstablished` event only means that `nodehost`  is initialized, it is pretty useless in that case. The peers might also share another cluster in the same configuration, so there wouldn't be a (new) event in t

[2021-07-09 12:43] prettykernel commented on #120
建议把 代码/注释/文档 中 Drummer 相关的部分也一起移除：
https://github.com/search?q=user%3Alni+drummer&type=code

[2021-07-24 13:36] lni opened #194 "Nodes can be loaded from two incarnations"
Saw this in TestJoinedClusterCanBeRestartedOrJoinedAgain.

The underlying issue here is that nh.stopNode() doesn't wait until the node is actually offloaded from the engine.

This bug is expected to have minimum impact on users as applications are not expected to stop a node and then immediately restart it.

[code]

[2021-07-26 15:56] jkassis opened #195 "Cluster stuck in voting loop?"
This could be a tuning problem, but it seems that my raft cluster has been stuck in a voting loop for quite some time. This surfaced in production when a SyncRead timed out after 10secs.

### Dragonboat version
	github.com/lni/dragonboat/v3 v3.2.8

### Expected behavior
Voting protocol elects leader

### Actual behavior
blah. blah. blah.

time="2021-07-26T15:22:52Z" level=info msg="Dockie: Sync" f

[2021-07-27 01:38] lni commented on #195
@jkassis thanks for reporting the issue.

based on the log above, it seems to me that there are other raft nodes (n60202) probably running on different machines, any chance you can provide their log of the same time period as well? thanks.

[2021-07-27 01:58] lni opened #196 "Future plan for dragonboat"
I've been trying all those exciting Paxos variants in the past few weeks. Will add some of them to dragonboat in H2, 2021 (towards the end of 2021). Yes, Dragonboat will support both Raft and Paxos. Nothing has been finalized yet but the current rough plan is to -

1. keep maintaining/enhancing Raft, nothing will replace the Raft support.
2. add support for multi-paxos.
3. provide a unified interf

[2021-07-28 02:02] lni commented on #195
@jkassis I had another look at the log you provided above, you changed the verbosity level to WARNING for the raft package. Any chance you can set it to INFO, that is to leave the verbosity level to its default, and restart your system? Together with the logs from nodes within the same affected cluster, that would help to identify the issue.

It would also be useful if you could provide the Config

[2021-07-28 11:18] enefuture opened #197 "Performance testing problem"
Hi
   i bulid a version base on dragonboat-example/helloworld,   Dragonboat can just sustain writes at 14 w/s when payload is 16 bytes each.

   1.389829122s 6.949 micros/op, 143902.58 op/s, 0.000000 err/rate

It is quite different from that in the document（Dragonboat can sustain writes at 1.25 million per second when payload is 16 bytes each, Can you provide your pressure test program or give som

[2021-07-28 11:26] lebovski opened #198 "Logger factory does not handle gossip logs"
In order to transfer my logger to dragonboat I use logger.SetLoggerFactory, but the gossip service keeps writing logs to stdout.

### Dragonboat version
v3.3.4

### Expected behavior
Logs from gossip written to my logger.

### Actual behavior
Logs from gossip written to stdout.

### Steps to reproduce the behavior
Simple example of wrapper code:

[code]
In this example all logs is ignored, but gos

[2021-07-28 12:02] lebovski opened #199 "Store previous gossip configuration"
When using a raft without gossip, I need to send the config once. For the gossip option, I should always use config. Is it possible to create a launch option that will allow configuring the gossip protocol without config.

Example.
We set the parameters of the gossip protocol through a method call, and not through a config or through a constructor, while the configuration is remembered by the clus

[2021-07-28 16:53] lebovski opened #200 "Allow to set NodeHostID in config"
It is not always possible to poll all nodes and get their nhid. Cluster configuration is simplified if I can set the identifier myself. I would like to be able to set it from the config.

Currently, the identifier can be set only by specifying the TestNodeHostID.

[2021-07-28 18:53] jkassis commented on #195
hi @lni. i'll do everything i can. i *might* still have the logs for those other nodes. give me til tomorrow am to produce those.

[2021-07-29 02:16] jkassis commented on #195
Here is an instance of this from today (with warning level):

[code]

[2021-07-29 02:17] jkassis commented on #195
Node 2:

[code]

[2021-07-29 02:19] jkassis commented on #195
Node 3
[code]

[2021-07-29 02:22] jkassis commented on #195
[code]
10ms rtt, 200ms heartbeat, 2000ms election

[2021-07-29 02:23] lni commented on #195
@jkassis thanks for the log above.

If possible, a couple extra inputs I'd like to get from you -
* **INFO** level logs from all involved machines (seems to be 3 replicas in your deployment?) as well
* when you felt that your raft cluster got stuck in such election loop, how long did you wait? did it got stuck there forever or just much longer than expected?

thanks!

[2021-07-29 02:26] jkassis commented on #195
thanks as always for quick replies @lni. overall the system has been durable. recovery with no reboots. my subjective experience when I noticed the issue was that it resolved within a minute or two, but i could be wrong. i don't have good external metrics on this availability.

i will flip to info level logging.

[2021-07-29 04:15] lni commented on #195
good to know it didn't get stuck there forever.

INFO level log will definitely help.

[2021-07-29 06:17] lni commented on #200
You can set it via the following field.

https://github.com/lni/dragonboat/blob/ea6f310feeb6fa61677857eb00099f5d34851987/config/config.go#L939

It is not provided as a regular configuration field as I don't want to make the configuration too complicated for regular users. Note that once you set your own NodeHostID via configuration, you will be responsible for making sure that the unique ID is alw

[2021-07-29 06:17] #200 closed, assigned to nobody

[2021-07-29 06:21] lni commented on #199
@lebovski please note that when using dragonboat without gossip, you do need to specify configuration every time when you restart your nodes.

I think user applications should always be explicit on what configurations they want to use and the best way to do that is to let the applications explicitly provide such configurations on each reboot.

Is there any particular reason why you would like to c

[2021-07-29 06:27] lni commented on #197
@enefuture

Please note that -

1. you should be using the same hardware & benchmark program (which is never released) when reproducing the claimed benchmark.
2. dragonboat's provided example program is not for benchmarking purposes, I believe the code & docs contain such explanations.

for the extremely low throughput you are seeing, please check what is your disk's fsync performance. Note that h

[2021-07-29 06:32] lni commented on #198
@lebovski you need to add some code for dragonboat to plumb memberlist's (the gossip library used in dragonboat)  logging to the logger used by dragonboat.

you can write a logger wrapper for memberlist and specify it here -
https://github.com/hashicorp/memberlist/blob/619135cdd9e5dda8c12f8ceef39bdade4f5899b6/config.go#L212

this logger should just pass all logging info to your above loggerWrap us

[2021-08-03 00:03] jkassis commented on #195
still working on the info logging, had to instrument a lot of env vars and cli stuff to pass the new log level down. hopefully coming up today. meanwhile i did check the RTT with ping. looks ok...

[code]

[2021-08-03 02:11] lni commented on #195
thanks. no rush.

[2021-08-13 20:11] sebholstein commented on #197
@lni I experience the same with the ondisk example. Only 6 comitted sync proposes per second are possible on my new Macbook Pro. Fsync can't be the reason for such a big gap. Any hints how to tune it or how to run the benchmarks shown in the graphs?

Thanks!

[2021-08-14 02:34] lni commented on #197
@SebastianM any chance you can run the same program on a different machine, say on a linux machine with ssd?

[2021-08-14 08:14] sebholstein commented on #197
@lni **I ran it on two linux machines now:**

1. A small 512 MB Ram Droplet on DigitalOcean with an SSD
2. My desktop machine with an AMD Ryzen 7 3700X (16) @ 3.600GHz and a fast Samsung NVMe SSD and Arch Linux

On the DigitalOcean VM I got at best 700 sync proposes per second. After a few minutes, one node chrashed with a panic:

[code]

On my linux desktop machine I achieved only ~400 per second

[2021-08-16 16:00] lni commented on #197
@SebastianM I'd willing to bet that your SAMSUNG nvme SSD is a consumer grade one. fsync performance of such consumer grade SSDs are in general terrible. Please see some test results below.

https://www.percona.com/blog/2018/02/08/fsync-performance-storage-devices/

I will look into that panic issue, it seems to be from the example code.

[2021-08-17 03:34] lni opened #201 "fsync issues"
Tim Fox @purplefox mentioned the following concerns in the gitter chatroom. As I think this might be interested by other potential users as well, I've moved the discussion here so the information can be later searched & read by everyone including those who don't use the gitter chatroom.

Tim Fox @purplefox mentioned that -

First of all, please note that the fsync usage issue you mentioned is not

[2021-08-17 07:04] purplefox commented on #201
Could you explain this scenario in more detail? I'm not sure I understand how it would be possible for this to happen.

[2021-08-18 05:44] lni commented on #201
Please consider a raft group with 3 nodes, A, B and C. Let's say entries up to index 10 are committed. In case entries after 8 are lost on A while entries after index 5 are lost on B and C. Then B and C can get a set of different entries for entries after index 5, this will cause diverged states for you replicas on those 3 nodes.

[2021-08-18 07:51] purplefox commented on #201
Can you explain how that would actually happen?

If we do not fsync when we commit every entry, then if a node crashes then it's possible that committed entries aren't in the log of that node. When that node rejoins the quorum it will get sent the missing records. Then the group will be consistent.

If all nodes crash before fsync, then they can all have different numbers of committed entries in t

[2021-08-19 08:41] purplefox commented on #201
@lni Any thoughts on the above?

[2021-08-20 02:19] lni commented on #201
you can't assume there is no concurrent reboot. please consider the situation in which you have 3 replicas in a data center and a sudden lose of power for the data center.  yes, one can argue that the probability is lower than having a single machine failure, but when it is possible, that is significantly different from not possible at all. with fsync, it is not possible to lose any data even with

[2021-08-20 07:50] purplefox commented on #201
Hi @lni it seems you answered a different question. Let's try and keep the discussion focussed :)

**The question was specifically about log divergence, not about data-loss.** I fully understand that dataloss is more likely if we do not fsync committed log entries. I made that clear in the original gitter post.

As I understand it, the Raft protocol ensures that when nodes join the groups (e.g. af

[2021-08-20 07:55] purplefox commented on #201
This is really not true. Although fsync reduces the probability of dataloss, fsynced data can be lost in the real world. The real world is messy, not like an ideal academic thought experiment. Disks fail, battery backed caches fail, SANs fail, fires or tornados happen in data centres. So it really is all about probabilities.

[2021-08-20 08:02] purplefox commented on #201
Do we agree:

* Probability of dataloss for fsync'd data is low but non zero?
* If we do not fsync on every committed record it won't break dragonboat it will simply increase the probability of dataloss in the case of machine failure?

Based on the above can we agree that it is the choice of the user to decide what probability of dataloss they are comfortable with?

1. If the user wants the highes

[2021-08-20 08:11] purplefox commented on #201
Very nice! Looking forward to trying this out at some point :)

[2021-08-23 16:26] lni commented on #201
Please see my answer provided 5 days ago. I copied it below again for your reference.

Of course you can lose your data after fsync. I was obviously talking about the fact that you won't lose your writen but not fsynced data simply because of a machine reboot.

It will completely break the safety guarantees provided by Raft & Paxos. If you are so concerned about the fsync performance and okay with

[2021-08-24 09:48] purplefox commented on #201
As mentioned previously, it does not appear possible for replicas to have diverged logs when they are in the quorum. The raft protocol ensures that all replicas will have the same log entries. So log divergence does not seem possible.

If you simply reboot your process before fsyncing you will not lose data. When the node rejoins it will be sent all missing records. Even a hard crash of every proc

[2021-08-24 13:57] lni commented on #201
Consider a Raft group with 3 replicas, A, B and C. Let's say the group had two commands committed on log index 1 and 2, they are -

cmd1, it asks the state machine to do "set x to 1"
cmd2, it asks the state machine to do "set x to 2"

Assuming those log entries are written to disk but not fsynced so some of them can be lost after machine reboot. After machine reboot on B and C, let's say both of t

[2021-08-24 13:59] #201 closed, assigned to nobody

[2021-08-24 17:14] purplefox commented on #201
I still can't understand how this can happen. Please be patient with me :)

According to the Raft paper:

In the case you describe above A has an extra entry at index 2. When B replicates x = 3 at index 2, A will realise it already has an entry at index 2 and overwrite it, which will bring the logs back into sync. What am I missing here?

[2021-08-24 18:33] purplefox commented on #201
I discussed this with my colleague, and I think I understand what you're saying now.
Although the raft protocol makes it impossible for the logs to diverge, the *state machines* can diverge. As deleting extra applied entries from the log won't roll-back the statemachine.
But... instead of deleting entries in A from the log couldn't we just apply the last snapshot to it, and replay log entries from

[2021-08-25 07:36] lni commented on #201
In a 3 replicas group, B and C forms the majority quorum and they are allowed to make all decisions without any involvement of A. That is when a proposal is made from B, B can choose not to replicate the message to A for performance reasons (e.g. latency between A and B is significantly higher than that of B and C), or maybe A is network partitioned and thus couldn't get any message from B and C a

[2021-08-25 08:27] purplefox commented on #201
I'm not sure I follow this. In your description above, the quorum is still in sync no? Isn't that all that matters? If a node is separated by a network partition, and other nodes still form a quorum, then it's not considered part of the group any more so why do we care what it's log says?

[2021-08-25 10:34] lni commented on #201
@purplefox when a node is network partitioned, it is still a member of the group.

Please note that this issue is not for raft 101, I'd recommend to read & understand the raft paper first.

[2021-08-25 11:22] purplefox commented on #201
Thanks I have read the paper.

Firstly the raft paper does not use the term "group" (try searching the Raft paper). It talks about "servers". So, apologies if I cannot read your mind on what you mean by "group". I guess this must be your own terminology.

If the issue is so clear and obvious to you, perhaps you could explain it more clearly.

[2021-08-25 11:29] purplefox commented on #201
I was trying to say that if a node loses the quorum (e.g. by network partition) then it should not respond to requests any more, so we don't care what's in its log.

If it does rejoin, then, aiui, AppendEntries will be sent to it, and it will delete messages from its log or accept replayed ones until its log is in sync.

In the case that it has too many entries (the Server A example from before),

[2021-08-25 15:18] SergeyLysanov commented on #189
[code]

In other words some API to understand available/unreachable nodes in cluster from RAFT point of view.

[2021-08-30 13:29] purplefox commented on #201
Hi @lni Any thoughts?

[2021-09-02 17:48] coufalja commented on #197
Note that Pebble (the default LogDB implementation) is particularly slow on MacOS (darwin) OS. To be precise the fsync operation is terribly slow. https://github.com/cockroachdb/pebble/issues/1028 I can confirm this as we faced the same issue ourselves.

[2021-09-15 13:17] intrntbrn opened #204 "Promoted Observer is unable to reconnect"
### Dragonboat version
3.3.4

### Expected behavior
After successfully promoting an observer, the node should be able to reconnect as non observer.

### Actual behavior
The node is unable to reconnect as non observer (panic).

### Steps to reproduce the behavior
1. A node n is added to the cluster as observer (via `nh.RequestAddObserver`)

2. n joins the cluster (via `nh.JoinOnDiskCluster` with Is

[2021-09-16 05:23] lni commented on #204
I can be wrong but from memory you should restart your node n with IsObserver = true. Its state will be set to regular voting node when the promotion config change entry is applied directly or via a snapshot.

Could you please try this and share the outcome here? Thanks.

[2021-09-16 08:25] intrntbrn commented on #204
This seems to be case. After rejoining with IsObserver=true and applying the entries, the node was able to become the leader of cluster after crashing the previous leader.

In my application another coordination process keeps track of all shards, the participating nodes and their roles.
To work around this issue, the coordination process now has to keep track of the current role *AND* the initial

[2021-09-16 08:33] intrntbrn commented on #204
Also, is there a way to tell if an observer has received all entries (is uptodate) and therefore is safe to be promoted?

[2021-09-17 08:13] lni commented on #204
@intrntbrn for most applications, you don't have to explicitly keep the initial role, e.g. for new nodes joining into existing raft clusters, if you always create observers first and then promote them to voting members, you can always assign fixed & known nodeID values to raft cluster's initial members but other nodeID values for such observers. By doing that, you can figure out whether a node was

[2021-09-17 15:15] carr123 opened #205 "the Update method"
hello, this is not a issue,  i have a  question to ask you.
i implement an OnDiskStateMachine, and set it to dragonboat system.
is it possible that the Update method in IOnDiskStateMachine are invoked by two goroutines at the same time ?
thanks.

[2021-09-18 05:44] lni commented on #205
No, for the same node, its Update method implemented as a part of the IOnDiskStateMachine interface will never be invoked concurrently by two goroutines. The Update method will always be invoked sequentially in the same goroutine.

[2021-09-18 05:44] #205 closed, assigned to nobody

[2021-09-18 09:30] carr123 opened #206 "custom logger"
hi, i implement my own ILogger, and could you tell me how can i set it to dragonboat ?
the default logs in dragonboat are written to stderr/stdout, so i want to use my own log system.
thanks.

[2021-09-20 04:33] lni commented on #206
Please use the factory function linked below.

https://github.com/lni/dragonboat/blob/7db91bd26f838034603319ae0a3ea50e49cb0126/logger/logger.go#L59

[2021-09-20 04:33] #206 closed, assigned to nobody

[2021-09-21 06:09] carr123 opened #207 "how to control batchsize"
IOnDiskStateMachine.Update(entrys []sm.Entry) ([]sm.Entry, error)

hi，is there any config that i can control the max number of entrys at a time?
i worry if there are too many entries, the underline database could fail to operate in a single batch.

thanks.

[2021-09-21 09:21] lni commented on #207
@carr123 there is no such configuration available atm.

you can easily control the number of entries to apply in one batch within your Update() method, e.g.

consider your Update() is called with 4 elements in its input parameter "entries []sm.Entry" when there Entry.Index is 100 to 103, you can write those 4 sm.Entry instances to the db in 2 batches, that is you can apply the first two sm.Entry i

[2021-09-21 09:21] #207 closed, assigned to nobody

[2021-10-09 23:52] carr123 opened #208 "how to find raft group nodes ?"
hi, i have 6 server nodes (n1, n2, ... n6). n1, n2, n3 are running raft group1 while n4, n5, n6 are running raft group2.
if a client request is coming on n1, it finds the data is on raft group2(data is hashed to raft group2), how can the client find where the raft group2 nodes are and route request to them ?
tnanks.

[2021-10-10 12:44] lni commented on #208
it is completely up to your application to implement such feature. e.g. you can use gossip style service to maintain such data partition details or you can even use a centralized server to manage such info.

[2021-10-10 12:44] #208 closed, assigned to nobody

[2021-10-10 12:52] carr123 commented on #208
thanks very much

[2021-10-21 12:47] lebovski opened #209 "Can not change system hostname"
The hostname is used to form the path and is further verified. Is there a need for this? Alternatively, you can make an option without checking hostnames.

### Dragonboat version
v3.3.4

### Expected behavior
Error, if hostname changed.

### Actual behavior
Configurable behaviour.

### Steps to reproduce the behavior
1. Run dragonboat first.
2. Stop dragonboat.
3. Change hostname.
4. Run dragonboa

[2021-10-22 14:47] lni commented on #209
Please consider the situation in which the SSD of a machine from a production cluster is taken offline and then installed onto a test cluster, with the same ClusterIDs and matching NodeIDs, things can become pretty funny.

Yes, I agree that an option to skip such checks can be useful. Could you please provide a PR for that? Thanks.

[2021-10-24 09:27] lni commented on #194
This is actually a feature not a bug.

The idea is once a node is removed from the NodeHost, it is not suppose to be restarted using the current API. There are code to detect such restarted node and panic.

There might be use cases which do require nodes to be restarted, e.g. taken offline for maintenance and then restart later. To simply the APIs, might just wait for the node to be fully unloaded

[2021-10-24 09:28] lni commented on #194
will be tracked as a new feature in #210

[2021-10-24 09:28] #194 closed, assigned to lni

[2021-10-26 08:44] lebovski commented on #209
Thx, I will try to do it.

[2021-10-31 14:44] uber42 opened #211 "automatic assignment of identifiers for nodes"
Now I am trying to set up automatic deployment of the cluster and I need to somehow automatically set the identifier for the nodes

So far identifiers are set when adding each node manually, but due to the fact that some node could be removed, it may turn out that the specified identifier of the node may already exist in the cluster, then to the addition will be completed with an error

There is a

[2021-11-01 09:09] vintmd opened #212 "How can I know the status of group？"
If some nodes separate from cluster because of network isolation. How can I know how many nodes are not health and which of these?

[2021-11-02 10:50] lebovski opened #213 "Make minor release."
Many allocations have been found with applyWorkerMain. The fix is already in master. Can a minor release be released (v3.3.5)?

[2021-11-02 11:11] lebovski opened #214 "Use linters in project"
I suggest using linters in the project, like https://golangci-lint.run/

[2021-11-03 06:27] lni commented on #214
@lebovski
golangci-lint has been a part of the CI for 1-2 years. please see link below.

https://github.com/lni/dragonboat/blob/7db91bd26f838034603319ae0a3ea50e49cb0126/.github/workflows/test.yml#L151

did you find any particular problem in the code?

[2021-11-03 06:28] lni commented on #212
It is your application's responsibility to keep monitoring the node & network status.

[2021-11-03 06:28] #212 closed, assigned to nobody

[2021-11-03 06:33] lni commented on #211
You can use random 64bit integer as nodeID. As long as it is truly random (let's don't go deep on the definition here :)), it should be extremely unlikely to have any collision.

Also note that a new node with assigned nodeID must be added to the raft group by using the membership change API first. When doing that, dragonboat has code to check whether the nodeID is valid including whether it is th

[2021-11-03 06:33] #211 closed, assigned to nobody

[2021-11-03 06:34] lni commented on #213
Yes, it makes sense to make a minor release. I will make it this coming weekend.

[2021-11-03 06:34] #213 closed, assigned to nobody

[2021-11-03 08:27] lebovski commented on #213
thanks

[2021-11-03 09:30] Cloud33 opened #215 "[Help]Listening for cluster changes"
Recently, I am using the `dragonboat` software package to write a distributed system, and each node of the system will complete the whole work. When a node fails, its work results will be lost, and then I need to let other nodes run their work again. However, `dragonboat` does not provide any API for adding callbacks, nor can it listen for the status of all nodes in the cluster. What should I do?

[2021-11-05 06:42] lni commented on #215
What you need is some node state monitoring feature, this is outside the scope of the dragonboat library. dragonboat is a consensus library, it does one thing and one thing only - consensus using the raft protocol.

[2021-11-05 06:42] #215 closed, assigned to nobody

[2021-11-05 15:12] renjiegod opened #216 "How to add a learner role to the cluster"
I want to create a learner node, it does not participate in voting, what do I need to do

[2021-11-07 14:53] #216 closed, assigned to nobody

[2021-11-09 02:39] Cloud33 commented on #215
Yes, thank you

[2021-11-16 13:24] lebovski commented on #198
I prepared pr, please review:
https://github.com/lni/dragonboat/pull/217

[2021-11-24 14:52] intrntbrn opened #219 "Implement gRPC TransportFactory"
I am trying to implement a custom `TransportFactory` using gRPC. My application already uses gRPC for internal communication and want to share the tcp port using a connection multiplexer (http(s), grpc, etc. on the same port).

I've noticed that commit https://github.com/lni/dragonboat/commit/4465a0baf1bba95e74d7e025c9f66256fc012fe4 removed `raft.proto` that i somehow need to import in order to se

[2021-11-25 05:44] lni commented on #219
@intrntbrn

I am not a big fan of protobuf or gogoprotobuf, that is why they've been removed. Assuming gRPC requires just a marshaler and an unmarshaler, you can probably just implement those required interfaces for the message batch type.

Note that the marshaler/unmarshaler methods in the current code base are not generated by protobuf/gogoprotobuf.

Please also note that there was a gRPC transp

[2021-11-27 23:38] #219 closed, assigned to nobody

[2021-12-14 12:08] #204 closed, assigned to nobody

[2021-12-14 12:12] intrntbrn commented on #189
There is `SendSnapshotStarted` and `SendSnapshotCompleted`, but there is only `SnapshotReceived`.

Having both events (`ReceiveSnapshotStarted` and `ReceiveSnapshotCompleted`) on the receiving end would be appreciated.

[2021-12-21 01:32] intrntbrn commented on #195
@lni
I am also having to deal with this issue. The cluster still works, but the requesting node won't ever stop until shutdown or actually becoming the leader. It happens very frequently on my (heavily scheduled) test clusters. Several times a day.

I haven't put much effort into looking what's wrong so far. I recently started to make screenshots, when it does happen. I don't think they are much h

[2021-12-21 15:59] lni commented on #195
@intrntbrn  Thanks for reporting this issue.

From what I can see from those screenshots, it seems to me that you probably don't have the CheckQuorum feature enabled in your config instance used when calling StartCluster/StartConcurrentCluster/StartOnDiskCluster.

Could you please check your code and confirm? Thanks.

[2021-12-21 16:01] intrntbrn commented on #195
No, `CheckQuorum` has always been enabled.

[2021-12-21 17:13] intrntbrn commented on #189
Here are some event handlers that i had to implement for my application.
The returned strings are keys used to unsubscribe.

[code]

[2021-12-21 17:20] fly3366 commented on #189
Looks go to my project.  May add some metric to make tracing more better.

eg. ReceiveQueueLength & SendQueueLength and current capacity for them.

Some hook for warning. like OnMessageDropped& OnMessageRejected for alert.

[2021-12-22 14:20] lni commented on #195
@intrntbrn in your snapshots, quite often there are 4 nodes involved.

Are you trying to use 3 nodes raft groups and had 4th node added to some raft groups? Did you successfully remove an existing node after adding the 4th node?

[2021-12-22 17:13] intrntbrn commented on #195
I really don't know what happened exactly in these cases. As i said, i haven't looked into it, because i am currently very busy with implementing my application and for me it seems like it's a bug in dragonboat and has nothing to do with my application. So i've simply ignored it so far.

--

Some background:

I am implementing a distributed kv store using raft groups.
Every raft group/cluster is r

[2021-12-27 14:39] jeremyhahn opened #220 "Missing GetDiskUsage method"
### Dragonboat version
3.3.4

### Expected behavior
Code compiles

### Actual behavior
# github.com/lni/dragonboat/v3/internal/vfs
go/pkg/mod/github.com/lni/dragonboat/v3@v3.3.4/internal/vfs/vfs.go:47:5: cannot use (*PebbleFS)(nil) (type *PebbleFS) as type "github.com/cockroachdb/pebble/vfs".FS in assignment:
	*PebbleFS does not implement "github.com/cockroachdb/pebble/vfs".FS (missing GetDiskUsag

[2022-01-02 00:53] jeremyhahn commented on #220
I was able to track this down to a newer pebble version in my app's go.mod. My app is also using pebble.

When using `go get`, it pulls down a newer version - `github.com/cockroachdb/pebble v0.0.0-20211222161641-06e42cfa82c0` which produces the GetDiskUsage error above.

When I updated my go.mod to match dragonboats go.mod `github.com/cockroachdb/pebble v0.0.0-20210331181633-27fc006b8bfb` I was ab

[2022-01-02 00:53] #220 closed, assigned to nobody

[2022-01-02 16:42] lni commented on #220
@jeremyhahn thanks for the update.

I had the concern that the exact described problem would eventually happen. On one hand, I'd like to use a well tested version of pebble in dragonboat so that it won't cause surprises, that means a relatively old & stable version of pebble would be picked.

go.mod mechanism doesn't allow two versions of the same module to be used in a project, this means a user

[2022-01-02 16:56] lni commented on #195
@intrntbrn I think I figured out what happened in your setup.

When you have your 3rd node removed, there is no guarantee that the 3rd node being removed will receive that particular membership change raft entry. This is not a bug of the implementation, it is just the way how the protocol works. When this happens, that "3rd" node would become a zombie style node - the node itself still believes th

[2022-01-04 08:04] xkeyideal opened #221 "SendQueue: I | server: rate limited, v: 18446744073709551408, maxSize 134217728"
### Dragonboat version
v3.3.2

it's seems call `Decrease` first, when r.size == 0

// Decrease decreases the recorded in memory log size by sz bytes.
func (r *RateLimiter) Decrease(sz uint64) {
	atomic.AddUint64(&r.size, ^(sz - 1))
}

MaxSendQueueSize: 128 * 1024 * 1024
MaxReceiveQueueSize: 0

[2022-01-04 09:01] lni commented on #221
Thanks for reporting the bug, I will have a look soon.

In the mean time you can probably just disable the rate limiter in case it is causing your system problem.

[2022-01-08 12:38] lni commented on #221
@xkeyideal

This race is caused by the fact that sq.increase(req) is not called before sending the req to the worker goroutine, it is thus possible for the worker goroutine to call decrease() before increase() is called.

The fix is pretty simple, just need to call sq.increase(req) before the select https://github.com/lni/dragonboat/blob/b8a6bb8561483b53bd1eea49cf8c2a159c265437/internal/transport/

[2022-01-08 23:28] jeremyhahn commented on #220
Nothing simple comes to mind, but maybe Dragonboat could take an optional log database in the NodeHostConfig and allow the user to specify their own implementation or use the included pebble log backend by toggling build tags? This would also make it so *any* backend database could be used, in theory.

[2022-01-10 09:33] enefuture opened #223 "LeaderTransfer does‘t work due to prevote"
### Dragonboat version
master

### Expected behavior
LeaderTransfer can change node role from follower to leader

### Actual behavior
open prevote，LeaderTransfer does not work， do nothing with call LeaderTransfer

### Steps to reproduce the behavior

follower node need to LeaderTransfer log：
2022-01-10 17:17:20.290847 I | 20989 internal/raft/raft.go:2157 [f:12093922,l:17277407,t:9,c:17277407,a:172

[2022-01-10 14:39] lni commented on #223
I will have a look at this issue during this weekend

[2022-01-11 08:18] lebovski commented on #213
Hello, can we make minor release?

[2022-01-11 08:59] #221 closed, assigned to nobody

[2022-01-13 16:23] #209 closed, assigned to nobody

[2022-01-13 16:53] lni commented on #213
@lebovski sorry for the delay, it is done now.

please report bugs if you see any. thanks.

[2022-01-17 00:49] intrntbrn commented on #195
@lni thank you for looking into the issue. I've applied a workaround over a week ago and i haven't come across the issue again. It's not great having to rely on extra mechanism, but it's fixed, i guess. There should be at least a comment, that `NodeUnloaded` might not fire on the removed node, so others are also aware. A `BecameCandidate` event would also help to workaround this issue probably.

[2022-01-17 13:24] lebovski commented on #213
Thanks!!!!

[2022-01-18 02:14] lni commented on #195
@intrntbrn

Would you like to send in a PR to improve the docs in this aspect? Sharing your experience with others with be really useful for other users. Will be more than happy to help if you need anything from my side.

Thanks.

[2022-01-23 05:06] Cloud33 opened #226 "[help] Does node Propose need to be done in leadership?"
Does node `Propose` need to be done in leadership?

[2022-01-23 05:45] lni commented on #226
You can make a proposal from any node. When the proposal is initiated from a non-leader node, it will be passed to the leader node first, this is going to cause some overhead but it works.

[2022-01-23 05:45] #226 closed, assigned to nobody

[2022-01-28 01:50] kcmvp opened #227 "Log replication conflict"
### Dragonboat version
 sample https://github.com/lni/dragonboat-example/tree/master/helloworld

### Expected behavior
only log can replicate log to followers

### Actual behavior
can send message from any node

### Steps to reproduce the behavior
follow the steps in the sample

[2022-01-28 03:39] #227 closed, assigned to nobody

[2022-02-01 06:11] lni commented on #227
@bgymt thanks for reporting the potential issue. As you have probably figured out by yourself, it is highly likely for dragonboat to have log replication related bug, as that is the most commonly executed feature already tested by dozens of projects.

please feel free to raise other issues when you see anything strange.

[2022-02-07 16:43] uber42 opened #229 "RSM close called twice"
The flag was set in the rsm close handler, the close sometimes happens twice.
At the second closing, we throw out the panic:

[code]

### Dragonboat version
v3.3.1

### Steps to reproduce the behavior
Sometimes when closing RSM

[2022-02-11 03:43] enefuture opened #230 "Abnormal memory growth"
### Dragonboat version
v3.3.4

### Expected behavior

### Actual behavior
Abnormal memory growth
<img width="808" alt="image" src="https://user-images.githubusercontent.com/12181987/153534285-523f0377-3e8b-4452-9f40-5581d6bcd5b5.png">

### Steps to reproduce the behavior
benchmark cluster with 1kb value

[2022-02-11 07:41] lni commented on #230
@enefuture

any chance you can provide more details on what you did for such benchmark?  providing a go memory profile can also greatly help. the profiler should be able to tell what is actually on the go heap using those 50GB memory.

[2022-02-11 07:42] lni commented on #229
this is pretty strange as it never happened on my setup.

any extra info on this?

[2022-02-12 20:06] uber42 commented on #229
Unfortunately there is nothing more

[2022-02-13 15:00] lni commented on #229
Any chance you can provide the full log? that will help to identify the problem. thanks.

[2022-02-14 06:30] Cloud33 opened #231 "IStateMachine thread-safe?"
It may be a very simple question. Is `IStateMachine` thread safe? If it is a KV memory database, do you need to add `RLock`?

[2022-02-14 11:55] lni commented on #229
I think there is a bug introduced when closeWorkerPool was added. Will address that in the next few days.

[2022-02-14 12:28] lni commented on #230
I checked memory usage using the tool/checkdisk tool. By making huge number of 1kbytes proposals, memory usage is always lower than 10GBytes with the majority of on heap usage being spent on various internal buffers that can be reduced by user configurations.

See my memory profile below.

[code]

Please note that your "benchmark" program including its 3rd party dependencies might leak memory.

Wi

[2022-02-14 12:31] lni commented on #231
It is internally locked, so you don't need to use RLock inside IStateMachine.

In case you don't want such behaviour, feel free to use IConcurrentStateMachine instead which gives your IConcurrentStateMachine full control.

Please also read the godocs of those interfaces, the above described details are well documented there.

[2022-02-14 12:31] #231 closed, assigned to nobody

[2022-02-23 09:04] lni commented on #230
Closed due to the lack of essential info.

Please feel free to reopen if above requested details can be provided

[2022-02-23 09:04] #230 closed, assigned to nobody

[2022-02-24 11:56] uber42 commented on #229
I've had new problem, maybe it's something to do with it?

[code]

[2022-03-03 19:01] yufan022 opened #232 "Some performance errors only occur when the leader node call SyncPropose"
Hi, When I use dragonboat-example for performance testing, I got some strange phenomena.
If I called `SyncPropose` only in the leader node, I got some logs about timeouts, and TPS is very low, only a few hundred, And the final node will not be available.
[code]

But when if I use `SyncPropose` at every node, the TPS is higher and more stable and is not time out.
[code]

I think the question is, wh

[2022-03-06 15:56] lni commented on #232
What you are seeing/reporting doesn't make any sense, there are issues somewhere in your "performance testing" code.

[2022-03-06 15:56] #232 closed, assigned to nobody

[2022-03-09 10:08] xkeyideal opened #233 "Gossip how to use?"
1. first use set RaftAddress(can't change) start the raft cluster, then print NodeHostID to generate `initialMembers`, second change use Gossip start the raft cluster, the error `AddressByNodeHostID changed`

2. first use nodeId generate NodeHostID  for `initialMembers` and set `AddressByNodeHostID=true`, but the `dragonboat` will random generate NodeHostID, can't use `initialMembers` paramters as

[2022-03-10 01:59] xkeyideal commented on #233
And the next version can provide a test node ready buildin API, now user just loop try test the node ready for the error `request dropped as the cluster is not ready`

I see your `nodehost_test.go` file test codes test node ready, and write it.
[code]

By my test, the local host clusters be ready status need 2-3 seconds.
so I hope dragonboat framework encapsulate the API for users.

[2022-03-17 06:06] xkeyideal opened #234 "Use gossip sync raftAddress maybe has a question."
### Dragonboat version
v3.3.5

The hashicorp/memberlist Delegate interfaces,  `NodeMeta` method for the metadata store.
Dragonboat framework use the `NodeMeta` sync `raftAddress`,  but my gossip example codes also use `NodeMeta` sync some datas, I see the `memberlist` ans `serf` source codes for use `NodeMeta` method sync data, need call `memberlist.UpdateNode` method, the method will trigger `Nod

[2022-03-17 06:10] xkeyideal commented on #233
I had used ExpertConfig.TestNodeHostID solve the problem.

[2022-03-17 09:47] Cloud33 commented on #189
This feature is great, knowing the status of all Nodes in the cluster (Unreachable or Available) is very important at times, Raft has a heartbeat mechanism and should be able to know the state of all Nodes relatively simply

[2022-03-21 11:38] uber42 opened #235 "Availability statuses"
Is it planned to introduce statuses for cluster nodes?
For example
- "Available"
- "Unavailable", when the heartbeat cannot be sent for some timeout
- "Stale", when follower is far behind the leader (commitedIndex maybe)

[2022-03-29 11:56] shcw opened #236 "help, I tried to use rocksdb but failed"
### Dragonboat version
v3.3.5
### Expected behavior
success exec
### Actual behavior

I tried to use rocksdb but failed

**panic: failed to create NodeHost: mkdir : no such file or directory**

[code]

### Steps to reproduce the behavior
1. pull code
[code]
2.  Modify the file `dragonboat-example/helloworld/main.go`
[code]
3.  excuting an order
[code]

PS: Extended Information
[code]

[2022-03-30 03:27] xkeyideal commented on #236
Give up rocksdb, use pebbledb.

Dragonboat use pebbledb as raft log store, so you no need use two different kv db in your project.

[2022-03-30 03:42] shcw commented on #236
@xkeyideal
because I took over an old code and upgraded it now, I want to reuse the original kv db

[2022-03-30 08:46] xkeyideal opened #237 "PebbleDB openDB use Cache"
[code]

Recommended usage:
[code]

[2022-03-30 09:03] #237 closed, assigned to nobody

[2022-04-01 02:42] danthegoodman1 opened #238 "Balancing groups by usage?"
Are there any suggestions about how to balance the leaders of (multiple) groups among nodes so that usage (by some metric) is considered when choosing (and changing) leaders?

For example if we are using cockroachdb-style ranges for a kv store, and one range is getting hot, we’d want to split that range. How can we use dragonboat to make sure those 2 new ranges don’t land on the same node?

And fo

[2022-04-01 11:34] danthegoodman1 commented on #238
Possibly it seems like [`RequestLeaderTransfer`](https://pkg.go.dev/github.com/lni/dragonboat/v3@v3.3.5#NodeHost.RequestLeaderTransfer) might be a solution here, although I see #223 might cause issues? (I have not tested yet)

[2022-04-01 11:46] danthegoodman1 commented on #238
Also a combination of removing and adding members to the group, one could coordinate moving of group membership based on custom metrics.

Will need some way to determine who to elect as the next member, and not accidentially add too many members to the group...

[2022-04-01 14:37] danthegoodman1 commented on #238
Seems like maybe something like mangos' SURVEY or even Gossip can be used to determine who is best to add as a member.

[2022-04-01 16:12] lni commented on #236
Please use Pebble, RocksDB is no longer supported.

If you have a dragonboat based system that already has some RocksDB data in it, Pebble is fully compatible with that.

[2022-04-01 16:12] #236 closed, assigned to nobody

[2022-04-01 16:18] lni commented on #238
You need to keep monitoring the usage in your code, then request leadership transfer whenever you program believes necessary. Which node to be picked as the new leader should also be determined by your program, probably also based on the collected metrics.

was quite busy in the last several weeks, will resolve that soon.

I think such features are out of the scope of a consensus library. User pro

[2022-04-01 16:18] #238 closed, assigned to nobody

[2022-04-01 16:34] danthegoodman1 commented on #238
@lni thanks for the feedback. I agree this is definitely out of scope of this package, but wanted to consult the experts on how best to use this package to achieve my goals. It seems with a little time and investigation I was able to find the functionality needed. Thanks for confirming.

[2022-04-01 17:33] kevburnsjr commented on #236
The repository still contains dozens of references to RocksDB.
https://github.com/lni/dragonboat/search?q=rocksdb

@lni If I put together a PR to remove all dangling references to RocksDB, is that something you might consider merging?

If not all the code then at least the docs?
https://github.com/lni/dragonboat/blob/master/docs/storage.md#rocksdb

[2022-04-02 08:16] shcw commented on #236
@lni
Thank you very much :)

[2022-04-04 14:25] #199 closed, assigned to nobody

[2022-04-04 14:26] #214 closed, assigned to nobody

[2022-04-04 14:35] lni commented on #235
There were some similar discussions on whether to provide such availability info. My concern is that such availability info determined by a raft library might not a 100% match with what users really want, e.g. dragonboat considers a remote node to be "unavailable" after some timeouts, it tells this to a program totally out of the control of dragonboat, that program starts to believe that the remot

[2022-04-04 18:23] morphar opened #239 "Not an issue, just a question"
Hi @lni :)
Thank you for sharing this project, I love it! Multi-raft is exactly what I needed 👍

I am currently using v3.3.5 for a project I'm building.
I was just wondering how stable and feature complete `master` is and how far away a v3.4.0 is?

It's not to rush you **at all** - I am just trying to decide, whether I should stick with v3.3.5 or use the `master` branch instead.

[2022-04-05 09:21] lni commented on #239
I'd recommend to use the latest released version which is v3.3.5.

As the dev branch of the project, there are a few known issues on the master branch. I'd expect v3.4.0 to be released once all of them are addressed, hopefully in a few weeks.

[2022-04-05 09:21] #239 closed, assigned to nobody

[2022-04-05 09:51] lni commented on #229
Both above reported crashes were caused by the same issue.

I think it is now fixed in the master branch. Will test it a little bit more before back porting it to v3.3. Thanks for reporting the issue, @uber42, will keep you updated.

[2022-04-05 10:00] morphar commented on #239
Super 👍 Thank you @lni :)

[2022-04-05 13:09] lni commented on #223
@enefuture thanks for reporting the bug, it has been fixed in the master branch.

[2022-04-05 13:09] #223 closed, assigned to nobody

[2022-04-05 13:11] lni commented on #239
@morphar

In case you are interested in what new v3.4 features are not available in v3.3, please have a look at the CHANGELOG.md.

[2022-04-05 14:11] morphar commented on #239
Thanks @lni 👍 I read that file and thought it would be nice with Gossip, but I will just use v3.3 and wait for v3.4 before implementing Gossip.

[2022-04-05 16:08] lni commented on #198
already resolved #217

[2022-04-05 16:08] #198 closed, assigned to nobody

[2022-04-05 16:16] lni commented on #233
That TestNodeHostID parameter is provided for testing, you are misusing it. I think it will be eventually removed.

Please see the godoc of NodeHostConfig to see how to use the Gossip feature.

https://pkg.go.dev/github.com/lni/dragonboat/v3@v3.3.5/config

[2022-04-05 16:16] #233 closed, assigned to nobody

[2022-04-05 16:18] lni commented on #234
Sorry but it is not very easy to actually understand what you really want to express.

[2022-04-05 16:18] #234 closed, assigned to nobody

[2022-04-05 16:19] #188 closed, assigned to nobody

[2022-04-05 16:33] lni commented on #239
@morphar gossip was released as a part of v3.3, so you won't miss that. The only new feature in v3.4 that you won't get in v3.3 is the pre-vote support, which from my understanding is not super useful.

[2022-04-05 21:09] morphar commented on #239
Nice 👍 I will try to get that working then. Thanks @lni 👍

[2022-04-06 02:03] xkeyideal commented on #233
I attempt misusing TestNodeHostID, but the NodeHostConfig can't set the nhid by user, I must startup my application then know the nhid, so this did not meet my expectations. And my application need initial project configuration after raft startup, so I must know other raft machine's nhid, so it can't be manually configured after program startup.

My requirement is to know nhid explicitly before th

[2022-04-06 02:09] xkeyideal commented on #234
Yes, it is very easy, and I use it in my application too. I use gossip meta sync datas. I call memberlist.UpdateNode,  otherwise the metadata of this node will not be synchronized to other nodes.

You had see the issue, the dragonboat should be OK about sync gossip metadata.
Thanks for your answer.

[2022-04-06 02:11] xkeyideal commented on #233
Please see the suggestion which dragonboat support API for check the raft node clusters are all ready?

[2022-04-06 02:35] xkeyideal commented on #233
I see the NodeHostConfig and sourcecode again.

[code]

[code]

The source code NodeHostID is created with a randomly, I need a permanent and user can set(just first startup and never change after reboots), I have tested many solutions and can't achieve this requirement. So I only use TestNodeHostID

[2022-04-06 14:36] #175 closed, assigned to nobody

[2022-04-06 16:41] lni commented on #236
@kevburnsjr thanks for looking into this, yes, please send in the PR and I will be happy to merge it.

Please feel free to let me know if you need anything else from me.

[2022-05-17 06:16] lni commented on #101
Infrastructures required for doing this have been added to dragonboat in the last few days. Basically -

* there is no out of box support for using Raft Log as state machine, as you still need to define your own state machine (which should be light and straight forward). Note that such state machine should be separated from your main application logic - consider it as a metadata keeper helping you

[2022-05-17 06:16] #101 closed, assigned to nobody

[2022-05-17 06:18] #235 closed, assigned to nobody

[2022-05-17 06:20] lni commented on #190
This has been added to the master branch. SnapshotOption now contains a field called CompactionIndex.

This is an advanced feature, misusing it would cause the cluster to be permanently damaged.

[2022-05-17 06:20] #190 closed, assigned to nobody

[2022-05-17 06:26] lni commented on #191
this issues have been discussed multiple times in the issue section.

when the log entry couldn't be applied because of some underlying errors (e.g. fail to write to disk), then panic is the right approach.

when the log entry couldn't be applied as the state of user state machine would reject such updates, then it is not an error to start with, it is just another condition that need to be handled

[2022-05-17 06:26] #191 closed, assigned to nobody

[2022-05-23 02:41] touhonoob opened #243 "Question: Horizontal Scalability?"
Can horizontal scalability be achieved with dragonboat's multi-raft implementation?
Is there any configuration that needs to be made for this particular feature?
Thanks a lot!

[2022-05-23 07:18] mostcute opened #244 "master version is v 3.1.1"
### Dragonboat version

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior
old version v3.3.4
tyring to update latest version
now the master latest version is v3.1.1
github.com/lni/dragonboat/v3 v3.1.1-0.20220517163206-e0cab9aaf83c

[2022-05-23 09:01] lni commented on #244
Please just specify the version you want in your go.mod.

[2022-05-23 09:01] #244 closed, assigned to nobody

[2022-05-23 09:03] lni commented on #243
Yes. You can horizontally scale to use many different raft groups (each called a raft cluster) on many machines, you can increase the number of such raft groups/machines in your deployment when necessary.

Your dragonboat based program should have code to manage the creation of such raft groups and determines where to put those replicas (called raft nodes in dragonboat).

[2022-05-23 09:03] #243 closed, assigned to nobody

[2022-06-02 01:38] xkeyideal opened #245 "v3.3.5 use gossip running dragonboat raft framework, leader elect very very slow?"
2022-06-02 09:33:49.460	WARN	[raftstorage] [event] [LeaderUpdated]	{"target": "nhid-11772876510704", "info": {"ClusterID":31,"NodeID":11772876510704,"Term":38,"LeaderID":0}}
2022-06-02 09:33:49.496	WARN	[raftstorage] [event] [LeaderUpdated]	{"target": "nhid-11772876510710", "info": {"ClusterID":21,"NodeID":11772876510710,"Term":7,"LeaderID":0}}
2022-06-02 09:33:49.497	WARN	[raftstorage] [event] [L

[2022-06-02 02:34] xkeyideal commented on #245
had solved

[2022-06-02 02:34] #245 closed, assigned to nobody

[2022-06-27 09:17] uber42 opened #246 "Removing leader node"
`ErrClusterClosed` when removing leader, but the node is removed
We use backoff on `SyncRequestDeleteNode` and second attempt fails with `ErrClusterNotFound`.

It looks like deleting a node is faster than getting a response to a request and exiting the request happens with event `Terminated`. Reproduced very rarely.

Logs:
[code]

### Dragonboat version
v3.3.5

[2022-08-16 11:32] DruidCode opened #249 "check empty im.entries"
[code]
when progress exists abnormally, like `kill -9`,
then restart, lastIndex lower than appliedIndex
 im.entries empty, throw out panic:
`debug false
panic: runtime error: slice bounds out of range [:1524] with capacity 0`

### Dragonboat version
v3.3.5

### Steps to reproduce the behavior

[code]

[2022-08-16 17:30] lni commented on #249
Thanks @DruidCode for raising the issue, but I am not sure what lastIndex and appliedIndex variables are you talking about.

Could you please provide more details? Thanks.

The stacktrace of your above mentioned panic will also be very useful.

[2022-08-17 02:53] DruidCode commented on #249
the logs when restart
[code]

[code]

[2022-08-17 06:07] lni commented on #249
It seems to me that you have a custom logger that doesn't actually do panic. See the above few lines in your logs. It should panic when the invalid last applied value is detected (see the first line below).

[code]

[2022-08-17 06:12] lni commented on #249
Could you please provide more log, I mean everything produced by your crashed process?

[2022-08-18 22:36] siennathesane opened #250 "Unknown Panic"
Hi, I wanted to understand why this bit of code might panic.

https://github.com/lni/dragonboat/blob/cdd710b5d50e2b0d51b163a934d80ae3d90ff311/logger/logger.go#L62-L64

I'm getting very strange behavior that I'm not sure I understand. I have a test suite that idempotently test different node host wrappers. Each test creates a node host which uses a `vfs.MemFS`, random port, a custom logger, and is

[2022-08-19 07:39] lni commented on #250
It seems to me that you are probably calling SetLoggerFactory() multiple times.

The godoc of that function should have been more specific on this limitation.

[2022-09-04 14:55] lni commented on #249
@DruidCode I am still waiting for the above mentioned extra info from you.

From the limited log you provided, your node has log up to 1862335201, 1862335201 is actually a snapshot. Yet your state machine applied logs up to 1862335965, such a gap is the root cause of the problem you are experience.

There can be many reasons how this might happen, e.g. your code might incorrectly opened a state ma

[2022-09-07 16:54] siennathesane commented on #250
Yeah, eventually I was able to figure it out - I just didn't realise this was a top level function. I'll submit a PR.

[2022-09-14 08:06] bigwhite opened #254 "panic in handleHeartbeatMessage"
### Dragonboat version
v3.3.5

### Expected behavior

no panic. run well

### Actual behavior
panic.

panic log is below:

[code]

### Steps to reproduce the behavior

the panic  is not always present. we have met 2 times.

this time, we did some load test.  we store msg in 2000 tps/second to the three-node raft cluster. after sometime,  one of the cluster node panic.

[2022-09-14 16:21] lni commented on #254
@bigwhite please provide more details on the setup of your above mentioned run that triggered the panic. for example, did you stop/restart any node in between, did you do anything else? Providing the full log will also help.

From the above limited log, which is totally not enough for any analysis, basically it shows that the heartbeat message claims that the committed index is at least 511330 whi

[2022-09-15 01:49] bigwhite commented on #254
Unfortunately, some of the logs have been deleted. But as far as I know, we did no operation to the cluster except store msg to cluster.

I did not change anything in dragonboat and I do use zap wrapper:).  our state machine is in memory.

thanks for your reply. I am going to do some investigation. I will supply more log detail if the problem occur next time.

[2022-09-15 01:57] bigwhite commented on #254
I found the log below in another node which is not panic:

[code]

Could this log be related to the problem?

[2022-09-15 07:31] lni commented on #254
There is something very strange - basically you are saying that you just have 3 nodes running without interruption, somehow one of the node will have some of its persisted & acknowledged log entries lost without restarting. Given such most basic feature has been battle tested for years deployed in dozens of projects, I just couldn't understand how this is possible.

for the above new log you provi

[2022-09-15 07:34] lni commented on #254
Please re-run your program with logging verbosity level set to DEBUG, if you manage to get the panic again, please provide the full log of your program so we can look into it.

[2022-09-15 07:34] #254 closed, assigned to nobody

[2022-09-15 07:35] lni commented on #249
@DruidCode I am going to close this issue, please feel free to re-open once you have the above requested new info.

[2022-09-15 07:35] #249 closed, assigned to nobody

[2022-09-17 05:15] maxpert opened #255 "IPv6 support"
Seems like today library only supports IPv4 and there is an explicit regex validator for transport that won't let one override IPv6 binding. Can we make changes to support IPv6 or at least have a documented work around for everyone?

[2022-09-18 06:28] lni commented on #255
Will be happy to review & test PRs can bring IPv6 support. Any plan to work on that?

[2022-09-22 14:34] maxpert opened #256 "Bringing back a dead node with no raft logs folder causes panic"
So I am using dragonboat in [marmot](https://github.com/maxpert/marmot) and I can now consistently reproduce a crash, when bringing up a dead node when bringing it up for cluster after the node has lost raft logs, and snapshots have not been taken. Look at repro steps below. It happens with a race condition so sometimes it doesn't crash, but couple of attempts and you can reproduce it.

### Dragon

[2022-11-16 10:40] mostcute commented on #62
can you provide an example about how to use IOnDiskStateMachine ::Sync（）?

[2022-11-23 05:46] #250 closed, assigned to nobody

[2022-11-28 06:48] hulucc opened #259 "Randomly panic"
I believe this is my misusage, but I'm not sure how to solve it.
I have three nodehost and one shard.  After reboot, program will call `StartCluster` to recovery the shard, then panic.
Any idea will be pleasure.

shard config
[code]

### Dragonboat version
v3.3.5
### Expected behavior
no panics
### Actual behavior
randomly panic after restart
[code]
### Steps to reproduce the behavior
restart over

[2022-11-29 02:27] hulucc commented on #259
Wrong use of tools.ImportSnapshot, never mind.

[2022-11-29 02:27] #259 closed, assigned to nobody

[2022-11-29 02:30] hulucc opened #260 "`SyncRequestSnapshot` panic if `SaveSnapshot` return `ErrSnapshotAborted`"
### Dragonboat version
v3.3.5
### Expected behavior
`SyncRequestSnapshot` return abort error.
### Actual behavior
[code]
### Steps to reproduce the behavior
As the title

[2022-11-29 06:16] lni commented on #256
Thanks for bring up the issue. What you have experienced is a common mistake by users so I'd like to offer a detailed explanation on this.

In a consensus protocol, typically, logs have to be *persistently* stored before an acknowledgement can be sent to confirm that the log has been successfully replicated onto a node.  Such such persistency means that once acknowledged the log must be there as l

[2022-11-29 06:16] #256 closed, assigned to nobody

[2022-11-29 06:48] lni commented on #260
it seems to me that the Aborted state is not covered in the getRequestState method. Seems to be an easy fix, just need to recall & confirm why it was not covered in the first place.

[2022-11-29 07:37] lni commented on #256
More details on why there is nothing dragonboat can do to detect such "someone deleted all my data" incident -

For shard with a single replica, obviously there is nothing you can do once someone can delete **all** data that belong to the replica. on startup, it is just a node with no data, there is absolutely no way to tell whether there is no data because it is brand new or because someone delet

[2022-11-29 09:01] lni commented on #260
fixed in master, please let me know if you see anything else broken/strange.
https://github.com/lni/dragonboat/commit/6e5afcc9ac54d5df853ca8430dcc878c8b03ec14

will leave it there for a few days, if nothing surprise me, will patch the v3.3 branch during the coming weekend.

thanks again for reporting the bug.