[2018-12-23 07:03] lni opened #1 "Add drummer support for using non-voting members"
Non-voting observer member support has been recently added, but such observer status info is not available to the IMasterClient and thus not available to drummer.

This is a low priority issue as both non-voting member/drummer features are optional.

[2018-12-23 07:06] lni opened #2 "golang.org/x/net, golang.org/x/text, golang.org/x/sys are not accessible"
Dragonboat's drummer package depends on golang.org/x/net, golang.org/x/text and golang.org/x/sys, all of them are not accessible for users from China mainland due to well known reasons.

To work around the problem -

Solution 1 - use https proxy to bypass GFW
Assuming you have a https proxy running at hostname:port that can bypass the GFW, then
[code]
Solution 2 - get golang.org/x packages from th

[2018-12-23 07:07] lni opened #3 "Remove rocksdb_options_set_memtable_insert_with_hint_fixed_length_prefix_extractor"
With the new optimization in logdb, this is no longer that useful.

Once it is removed, with recent change to rocksdb's c binding, we can actually stop the rdbpatched supported.

[2019-01-04 04:58] chrislusf opened #4 "switch to goleveldb for pure go solution"

[2019-01-04 07:06] reusee commented on #2
Alternative: public $GOPROXY server, https://goproxy.io/

[2019-01-04 07:43] motecshine commented on #2
if your `go version > 1.11`,  you can use `go.mod`

[code]

[2019-01-04 07:49] lni commented on #4
I am investigating a list of alternative options, goleveldb will be one of them to be carefully evaluated.

[2019-01-04 07:51] lni commented on #2
@motecshine Thanks, your approach relying only on the official tool is probably the best one.

Go mod will be supported once Go 1.12 is released.

[2019-01-04 11:30] purpleidea opened #5 "Old git history?"
Cool project... Would love to learn more about the history. It looks as if it was all deleted. If you can share a branch with the old (perhaps messy) history, that might be interesting to see where you went wrong and what you learned, etc... Cheers!

[2019-01-04 12:36] lni commented on #5
I am sorry that I won't be able to share the full history.  That being said, I am happy to share those stuff that I learned/suffered from, planning to post some blog articles on that.

[2019-01-04 12:36] #5 closed, assigned to nobody

[2019-01-04 14:34] hellocodeM opened #6 "Inessential typo"
https://github.com/lni/dragonboat/blob/372182542c82c2e18a3e32763081856f6a223dfb/internal/rsm/statemachine.go#

`strings.ToLower(strings.TrimSpace(string(addr2)))`

should be:

`strings.ToLower(strings.TrimSpace(addr2))`

[2019-01-04 16:55] rleungx opened #7 "make install-rocksdb-ull failed with gcc 8.x"
When running `make install-rocksdb-ull`, there is an error:
[code]
[code]
This is a known issue in RocksDB: https://github.com/facebook/rocksdb/issues/2705

[2019-01-05 03:47] h7kanna commented on #4
https://github.com/dgraph-io/badger is a pure go alternative to RocksDB.

[2019-01-05 08:39] lni commented on #6
Fixed.

[2019-01-05 08:39] #6 closed, assigned to nobody

[2019-01-05 08:54] lni commented on #7
I guess non of my docker based test images use GCC 8. Thanks for reporting this issue.

I've updated the Makefile so user can specify what RocksDB version to use on command line, e.g.

[code]

I am in the process of looking for a pure-go alternative KV store for Raft entry logs. Requiring users to specify CGO_CFLAGS/CGO_LDFLAGS when building their own application is not that user friendly. Issues

[2019-01-05 08:54] #7 closed, assigned to nobody

[2019-01-05 09:01] vtolstov commented on #4
Please provide interface for storagw,so leveldb or badger can be used transparently

[2019-01-05 10:13] ghost commented on #4
Great to see a non cgo option.

There are a few nice badger wrappers.

https://github.com/zippoxer/bow

https://github.com/alash3al/srchx

[2019-01-07 05:07] thesues opened #9 "example/KVStore is mentioned in doc, but it is missing in source code"

[2019-01-07 13:13] lni commented on #9
The KVStore example was originally built for demonstrating how to use the optional component called drummer. The drummer component is currently used by some tests and serves as a reference implementation of the Master server concept (see master.go). Note that the master server concept itself is optional as well, many people won't need/use it.

As both of them are optional, plus there is already qu

[2019-01-07 13:24] lni commented on #4
did some research on this and I realized that badger is used by ipfs-go. badger's team also has this cash for data loss bug challenge ongoing and no one has managed to make some money out of it by identifying data corruption/loss bugs. I'd consider that as a big boost of confidence.  :)

anyone has info on how reliable is goleveldb? @chrislusf any experience on that?

[2019-01-07 13:46] h7kanna commented on #4
Its not only that, badger is used by their product dgraph which itself uses badger for raft wal storage.
https://github.com/dgraph-io/dgraph/blob/master/raftwal/storage.go#L67

[2019-01-08 23:54] xianglinghui opened #11 "有一点忌惮对cgo的依赖."
您好，dragonboat是个挺棒的multiraft库，挺感谢开源的.

在使用介绍里，它需要依赖rocksdb、cgo，我有点忌惮对cgo的依赖(主要是对cgo了解的不深入，网上有了解到它的一些问题)，我们在基于badger(https://github.com/dgraph-io/badger，纯go的kv存储)实现一些存储，dragonboat是否可以不用依赖rocksdb、cgo?

[2019-01-09 02:25] lni commented on #11
please use the existing issue #4 for discussing the cgo dependency. if possible, please post in english so everyone can read/help. Thanks.

[2019-01-09 02:25] lni commented on #11
dup #4

[2019-01-09 02:25] #11 closed, assigned to nobody

[2019-01-09 05:02] xianglinghui commented on #4
I think provide interface for storage is more better，just like etcd/raft，which provides only the core of raft.

[2019-01-09 09:36] 0zAND1z opened #12 "make test-cppwrapper fails"
Unable to PASS the tests for the C++ bindings installed. Here's the console output:

[code]

Is there something I am missing or should the header be explicitly sourced? Please advise.

TIA!

[2019-01-09 12:14] lni commented on #4
@xianglinghui, such interface is already provided, please have look at the package github.com/lni/dragonboat/raftio for their definitions. you can build your own storage/networking implementations and use them by providing a factory method to your NodeHostConfig.

[2019-01-09 12:18] lni commented on #12
as mentioned in the README file, you need to have gtest installed for running cpp-wrapper tests.

link below is a quick tutorial on how to properly install gtest on linux
https://www.eriksmistad.no/getting-started-with-google-test-on-ubuntu/

also note that test-cppwrapper tests the C++ binding of dragonboat, the C++ binding is only used when you want to use dragonboat in a C++ project. You can ig

[2019-01-09 12:18] #12 closed, assigned to nobody

[2019-01-09 21:52] fardok opened #13 "Very complicated"
and confusing.

need at least complete working examples for several nodes

[2019-01-10 03:44] lni commented on #13
as mentioned in README, examples are available at https://github.com/lni/dragonboat-example

[2019-01-10 03:44] #13 closed, assigned to nobody

[2019-01-10 07:39] xianglinghui commented on #4
@lni It's great.

[2019-01-10 09:03] 0zAND1z opened #14 "Extend the state machine example documentation"
The 2nd example “State Machine” under [dragonboat-example](https://github.com/lni/dragonboat-example/) takes us to https://github.com/lni/dragonboat-example/blob/master/helloworld/README.DS.md

Can we have more instructions on the consumption or execution of the `statemachine.go` file?

The `statemachine.go` file exists [here](https://github.com/lni/dragonboat-example/blob/master/helloworld/statem

[2019-01-11 01:33] johncming opened #15 "Is there a comparison to the etcd raft implementation？"
What are the advantages， thanks.

[2019-01-11 07:14] funlake commented on #4
Stuck in rocksdb installing when  `make install-rocksdb-ull`,anyone help?
[code]

[2019-01-11 09:07] lni opened #16 "Stuck in rocksdb installing when `make install-rocksdb-ull`"
Stuck in rocksdb installing when  `make install-rocksdb-ull`,anyone help?
[code]

_Originally posted by @funlake in https://github.com/lni/dragonboat/issues/4#issuecomment-453404053_

[2019-01-11 09:09] lni commented on #16
@funlake, it seems you got a incomplete/corrupted rocksdb .tar.gz file.

Could you please try again and see what happens?

[2019-01-11 09:09] lni commented on #4
@funlake your issue has been moved to #16 and I've replied to it. Please use the #16 to follow up.

[2019-01-11 16:43] lni commented on #15
There is a README file in the internal/raft package which has a comparison section on these two libraries.

https://github.com/lni/dragonboat/tree/master/internal/raft

[2019-01-11 16:43] #15 closed, assigned to nobody

[2019-01-13 16:17] lni commented on #16
@funlake, do you still experience the above reported problem?

[2019-01-13 16:41] lni commented on #9
fixed.

[2019-01-13 16:41] #9 closed, assigned to nobody

[2019-01-14 07:20] lni commented on #14
Updated.

[2019-01-14 07:20] #14 closed, assigned to nobody

[2019-01-14 09:21] funlake commented on #16
I will try again and see what happen

[2019-01-14 09:40] funlake commented on #16
Still got bad luck.
[code]

[2019-01-14 09:45] funlake commented on #16
my gcc version
[code]

[2019-01-14 11:23] lni commented on #16
It seems to me that you now have a complete rocksdb source package, but your gcc 4.8.5 shipped with Redhat Linux had a crash when compiling rocksdb 5.13.4.

Please update your dragonboat version to the latest in Master and try
[code]

If this still doesn't work for you, then you may want to upgrade your GCC to a more recent version. From memory, GCC 4.8 is the first GCC release with C++11 support,

[2019-01-14 11:28] lni commented on #16
Don't know much about yum/Redhat, but a quick search returned the following article that might help you to get GCC 7 in a few minutes.

https://stackoverflow.com/questions/36327805/how-to-install-gcc-5-3-with-yum-on-centos-7-2

[2019-01-15 03:35] funlake commented on #16
Ok,i will try later.thanks

[2019-01-16 01:38] funlake commented on #16
My workmate just smoothly done the installation under gcc 6.1,so i think this is not an issue of dragonboat. i think we can close it now.:-)

[2019-01-16 02:51] lni commented on #16
Cool, let me know if you have any other questions on how to use dragonboat. Have fun!

[2019-01-16 02:51] #16 closed, assigned to nobody

[2019-01-16 04:44] Petelin opened #17 "A quick question: when will follower response leader replicate RPC request?"
i am reading the source code, and found the follower simple accept log from leader and append to slice(not to DB or say Persistence). that's not what RAFT protocol said.
am i read code wrong or something else? thanks for you time.

[2019-01-16 06:15] lni commented on #17
@Petelin, You are probably reading the code in internal/raft.

Log entries are persisted to disk under the coordination of the Execution Engine implemented in execengine.go. The actual DB used for storing such entries is called LogDB and its default implementation is in internal/logdb.

[2019-01-16 06:15] #17 closed, assigned to nobody

[2019-01-16 06:19] lni commented on #15
The content of the README file in internal/raft has been recently moved to internal/raft/raft.go.

[2019-01-17 03:10] Fullstop000 commented on #4
Although goleveldb's performance is really attractive, it should be considered carefully since it doesn't provide a proof of crash consistency .

[2019-01-17 04:52] lni commented on #4
@Fullstop000 thanks for the input, I am not currently looking into goleveldb.

Any info on the crash consistency of some pure go kv-store libraries?

[2019-01-17 06:50] Fullstop000 commented on #4
Badger did their work https://blog.dgraph.io/post/alice/
I'm not familiar with the source code and performance of Badger so just for reference

[2019-01-17 07:14] lni commented on #4
@Fullstop000 thanks for the info.

[2019-01-17 07:29] lni commented on #4
I've add some **experimental** code to make badger to work with Dragonboat. The code is available in

https://github.com/lni/dragonboat/tree/badger-logdb-experimental

As mentioned above, this is some **experimental** code use to see how badger works. It should never be used in production.

I'd like to point out that there are outstanding issues preventing badger support to be added -

- it leaks

[2019-01-17 07:31] lni commented on #4
BoltDB is another library I closely checked, etcd has a fork of it, the repo seem to be pretty actively maintained. However, there are open data corruption issue pending investigation/fix.

[2019-01-17 07:43] lni opened #18 "Badger support as a pure-go alternative to RocksDB"
After discussions in #4, I've add some experimental code to make badger to work with Dragonboat. The code is available in the following branch -

https://github.com/lni/dragonboat/tree/badger-logdb-experimental

As mentioned above, this is some experimental code use to see how badger works. **It should never be used in production.**

I'd like to point out that there are outstanding issues preventi

[2019-01-17 07:48] lni commented on #4
Closing this one as I don't think goleveldb will be supported any time soon.

Badger support related discussions has been moved to https://github.com/lni/dragonboat/issues/18

If there is any other alternative kv-store library that you want to recommend, please feel free to open a new issue.

[2019-01-17 07:48] #4 closed, assigned to nobody

[2019-01-18 08:33] lni opened #19 "Enable lmdb support"
Experimental support for lmdb has been added to the branch below
https://github.com/lni/dragonboat/tree/lmdb-logdb-experimental

it is still a cgo based approach, but much easier to use/deploy -

* no extra (visible) compilation or installation step
* no need to specify CGO_LDFLAGS or CGO_CXXFLAGS
* much faster to build

it is really not that different from a pure-go approach.

RocksDB will contin

[2019-01-19 04:38] shijiayun opened #20 "Clean up some comments in which DragonBoatDocs is mentioned"
DragonBoatDocs is mentioned several times in the code comments, but I can't find DragonBoatDocs in the repo.

@lni said in the https://gitter.im/lni/dragonboat: "I will remove those comments. those docs are my personal notes, most of the content will be published as blog articles once it is cleaned up."

[2019-01-19 09:35] lni commented on #19
lmdb doesn't checksum its db file, stored data can be corrupted once you have a few bits flip due to physical disk error.

[2019-01-20 05:03] manishrjain commented on #18
There you go! Fixed both the issues. Not that I typically do them on request, but these were small changes.

[2019-01-20 07:36] lni commented on #18
Thanks @manishrjain for the quick response.

I had a quick look at the changes and its related existing code. It seems to me that sst checksum is per sst file and it is checked when OpenTable is called. When the load option is LoadToRAM, it seems to be fine. When the load option is FileIO, then the content in mmap is discarded and all blocks are going to be read from the on-disk file again without

[2019-01-20 17:31] manishrjain commented on #18
Hey @lni ,

All the accesses to SSTables after the initial load are to specific blocks within the file. Badger wouldn't read the full file again. So, it can't determine if some bits have flipped. Also, periodically reading the files to see if their checksum matches is going to introduce a lot of load on the FS. If you have ideas around what more could be done, feel free to create an issue with ref

[2019-01-21 05:05] lni commented on #18
Hi @manishrjain , I had a quick look at RocksDB's code, it checksums each block, each block is verified against its checksum immediate after reading from disk.

https://github.com/facebook/rocksdb/blob/01013ae7666af78d4b0fc1e1baf4a735a8db5344/table/block_fetcher.cc#L207

[2019-01-21 15:57] lni commented on #19
lmdb support is no longer pursued.

[2019-01-21 15:57] #19 closed, assigned to nobody

[2019-01-21 16:29] jen20 commented on #18
Hey @lni! Great job on Dragonboat! It's worth noting that if you run on ZFS the lack of checksums in the log storage database is not an issue, as the filesystem itself makes those checks.

I for one would love to see Badger land as a first-class supported option so as not to involve cgo in a build process, even if there are tradeoffs on various filesystems.

[2019-01-21 19:06] manishrjain commented on #18
I'm not entirely convinced that's the best approach. To get to know the block boundaries, one must read them from the SSTable. If the SSTable itself has its bits flipped, then those boundaries can be wrong in the first place. I tried a small truncate, and if SSTable checksum isn't checked before reading the blocks, it leads to panics.

So, I think if a block-level checksum makes sense, it only mak

[2019-01-22 04:31] lni commented on #18
Sorry for the long reply.

@jen20 I don't think anyone should be expecting users of a library to pick any particular filesystem. For the exact same reason I don't think one can just ask his/her library users to always use enterprise SSDs with hardware end-to-end data protection to do checksum verification and skip such disk IO related fault tolerance designs in software.

Having cgo in the build p

[2019-01-22 04:40] lni commented on #18
@manishrjain I am not sure how memory mapped file approach can efficiently do the checksum verification. lmdb is probably the most heavy user of such memory mapped file approach in key value stores, I can be wrong but it seems to me that it doesn't checksum its data. I contacted lmdb's author on that but couldn't get any reply.

[2019-01-22 04:41] lni commented on #18
I am closing this issue as the current plan has been updated above in my reply to jen20.

[2019-01-22 04:41] #18 closed, assigned to nobody

[2019-01-22 06:03] hnwyllmm opened #21 "compile error"
master分支和release2.0都会报这个错误：
[code]

[code]

rocksdb version 5.18
gcc 5.2.0
go 1.10(source compiled)

[2019-01-22 06:11] hnwyllmm commented on #21
more information use -x build option:
[code]
gorocksdb has been installed

[2019-01-22 06:34] manishrjain commented on #18
The performance gains of Badger over RocksDB are not purely because of Cgo, but because of the design changes, separation of key values, which reduces write amp significantly. And same goes for reads. We have benchmarks for that, and third parties have seen the same effects.

I think you are out weighing disk bit flips disproportionately. In those cases, most users would either do a restore from b

[2019-01-22 07:39] lni commented on #21
I couldn't reproduce your problem. Could you please provide the full `go build -v -x` output?

On my system using Go 1.10, gcc 5.5 and rocksdb 5.17.2, I can see the following in my output -

[code]

then

[code]

followed by

[code]

[2019-01-22 07:49] lni commented on #21
please post your `go env` output.

when you build your go tools from source, any change to the code? maybe try to build using the official binary.

[2019-01-22 07:53] hnwyllmm commented on #21
Thanks for your help.
I have forgot this:
[code]

[2019-01-22 07:53] #21 closed, assigned to nobody

[2019-01-22 08:00] lni commented on #21
Cool, happy to see the problem is now resolved.

Could you please also help me to understand why CGO_ENABLE was initially switched off on your system, is there any concern to have it enabled? I am wondering this as I want to better understand users' concerns on using cgo. Many thanks!

[2019-01-22 08:33] #20 closed, assigned to nobody

[2019-01-22 09:26] lni commented on #18
Hi @manishrjain ,

A team from TiDB is working on bringing in the WiscKey idea into a fork of RocksDB. Will be interesting to see its performance gain compared to RocksDB.
https://github.com/pingcap/rocksdb/tree/titan-5.15/utilities/titandb

Sorry but I have concerns when any DB can silently return corrupted data without notifying its users. In the end, it is up to users to decide how they are goi

[2019-01-22 09:50] vtolstov commented on #18
sorry for go to this discussion (i'm read badget issues and this repo too) and i don't think that any db may prefer speed over correctness.
so +1 fo @lni comments, because users must be notified if data is corrupted. Yes this can be disabled for performance by user, but not default and not silent.

[2019-01-22 09:56] hnwyllmm commented on #21
I am a newer of golang(from yestoday) and I do not know why golong set CGO_ENABLED to 0.
Whatever, you can write "CGO_ENABLED=1" in the document.
Note that the variable is CGO_ENABLED but not CGO_ENABLE.

[2019-01-22 14:42] lni commented on #21
Thanks for the info @hnwyllmm

[2019-01-22 15:48] manishrjain commented on #18
RocksDB is a great DB, so feel free to use it. We used it before in Dgraph and its great.

But, Badger is definitely not how you describe it above. The specific point here is, whether every individual block should be checksummed after the table has already been checksummed (I couldn't see in RocksDB wiki whether they checksum the table, without which a block level checksum is already ineffective).

[2019-01-22 18:00] lni commented on #18
As clearly mentioned in my earlier reply, "_When the load option is LoadToRAM, it seems to be fine_".  For whatever reason, badger chooses to read the data again from the disk in its FileIO mode, it happens after an unspecified amount of time from the initial checksum check.

Note that this is not the only reason why I had my concerns. My concerns raise from the overall observations, e.g. a corrup

[2019-01-22 19:34] manishrjain commented on #18
https://github.com/dgraph-io/badger/issues/690 : That's a single line change that I'm happy to put, or you could send out a PR for (all open source in the end). I don't think that's what the discussion is about (or should be about).

If you're going to assume that all your users are on Amazon or Azure, then disk bit flips are also something you should not be concerned about -- because all of these

[2019-01-23 04:03] lni commented on #18
I have concerns on badger because 1) there are multiple places where data corruption is not handled, 2) you are repeatedly trying to justify them. your reply above is just another good example.

Why should I be assuming that? Amazon and Azure are the top 2 cloud vendors, by some reports [(1)](https://www.skyhighnetworks.com/cloud-security-blog/microsoft-azure-closes-iaas-adoption-gap-with-amazon-a

[2019-01-23 04:17] manishrjain commented on #18
They protect against disk bit flips. Not sure why that wasn't clear in the first round.

Your arguments obviously present an image of Badger which is specified construed to look worse. I'll just leave things at that.

https://github.com/facebook/rocksdb/wiki/IO#memory-mapping

Good luck with your project!

[2019-01-23 04:44] lni commented on #18
@manishrjain

In your blog article introducing badger (link [here),](https://blog.dgraph.io/post/badger/) you were using ec2's i3.large instance's _local_ 475GB NVME disk. That has protection against disk bit flips? Also why/how bit flips is the only cause of corruption that need checksum protection? How about software bug as described by yourself in https://github.com/dgraph-io/badger/issues/671?

[2019-01-23 06:13] hnwyllmm opened #22 "performance tunning"
do you have performance tunning document?
or some parameters?
@lni

[2019-01-23 06:38] lni commented on #22
Please have a look at the internal/settings package, there are some parameters you can tune.

Note that anything in the Hard category should not be changed once your system is deployed, otherwise NewNodeHost can fail with a warning indicating such errors. You can freely change those in the Soft category. There are some descriptions on each parameter.

Also note that being as a part of the internal

[2019-01-23 06:38] #22 closed, assigned to nobody

[2019-01-23 06:47] lni commented on #22
btw, such tuning requires good working understanding on Dragonboat's internals, a pretty good example on what constitutes for such working understanding is that when you feel comfortable to make significant changes/bug fixes to dragonboat.

I wouldn't recommend anyone to start doing performance tuning without such solid experience on Dragonboat - by default, it is already significantly faster than

[2019-01-23 07:33] hnwyllmm commented on #22
I modified the example helloword for performance test. The result is very bad.
[code]
400 concurreny, about 2500TPS. It's unacceptable.
Surely, we have no device like NVME. But  the result of `braft`  is 70000 - 80000 tps at the same machine.

[2019-01-23 08:20] lni commented on #22
Please put your modified code to a repo so it can be verified. I don't think it is appropriate to make such claims without anything to back your claim.

Note that when using a single raft group, as reported in README.md, Dragonboat can achieve more than 1 million proposals per second.

[2019-01-23 08:27] lni commented on #22
@hnwyllmm , back-of-the-envelope calculation shows when concurrency is 400, if the tps is 2500, that is pretty much 6.25 requests per goroutine per second, or 160ms to complete a single proposal. 10000/7200rpm HDD has a disk latency of around 2-4ms.

It is actually pretty hard to intentionally slow down the program to that kind of performance.

[2019-01-23 08:45] vtolstov commented on #18
@lni as this is OSS, may be fork and fix? If authors thinks that this is not important?

[2019-01-23 08:59] hnwyllmm commented on #22
here is diff information of https://github.com/lni/dragonboat-example:
[code]
There are 3 raft nodes, start as follow:
[code]
[code]
[code]
As the code shows above, the node 1 will send proposal as many as possible.

[2019-01-23 10:24] lni commented on #22
I've made your results hidden so it won't mislead other users. Please stop posting any such misleading benchmarks when you don't even understand how to use Dragonboat.

After my fixes to your program, below is my results obtained on single socket E5-2696v4 with a single Intel P3700. I got close to 600,000 tps per second. Note that P3700 is **not** something new & shinning, it was released 5 years

[2019-01-23 10:53] lni commented on #22
On the same hardware, it can easily hit over 1 million proposals per second using 1200 client goroutines:

leader:

followers:

top outout with %CPU in bold

Such results is still highly misleading as it gives people the impression that Dragonboat can only achieve 1.15 million tps. That is **NOT** true. Using the same hardware spec, but actually run it on 3 servers, Dragonboat can sustain at 9-10

[2019-01-24 04:30] lni commented on #22
Please also note that Dragonboat's performance has nothing to do with SATA or NVME disks. As long as you use Enterprise SATA SSDs, SATA disks such as Intel S3700 released almost 7 years ago can yield very good throughput results. Same for SATA disks like Intel S3710, Intel 320 and Micron 500DC.

It is now pretty hard to buy SATA SSDs, I had to contact some vintage part vendors to get some second h

[2019-01-24 06:52] lni commented on #18
@vtolstov

Unfortunately I don't have time to maintain such a fork. Full explanations on why Badger is not supported are provided above.

If you grab the latest in Master, Dragonboat's LevelDB support has been added. When using LevelDB to store your Raft Logs, there is no extra installation step, you don't need to specify CGO_CFLAGS or CGO_LDFLAGS when building your own applications, it is thus no

[2019-01-24 07:08] zhengxiaochuan-3 opened #23 "Trigger a snapshot every 10 Update ？"
Trigger a snapshot every 10 Update ？
why ?  and how to configure it ?
[code]

[2019-01-24 07:12] lni commented on #23
@zhengxiaochuan-3

You are running Dragonboat's helloworld example, it triggers a snapshot every 10 updates to demonstrate such feature. It is configured by the following line.

https://github.com/lni/dragonboat-example/blob/c7c7377c7d08e9ef2b7111bf5c375c16109d74d2/helloworld/main.go#L158

You can change to whatever number you want, or you can set to 0 to disable snapshotting.

I will update the e

[2019-01-24 07:12] #23 closed, assigned to nobody

[2019-01-24 07:15] zhengxiaochuan-3 commented on #23
sorry , miss that .
BTW , great multi-raft project !

[2019-01-24 07:25] zhengxiaochuan-3 opened #24 "Can I just compact log without snapshot ?"
Can I just compact log without snapshot  , how ?
Cause, I use levelDB for kv statemachine ,not mem kv store like btree , no snapshot needed .
And ,In the case of large concurrent reads and writes, does snapshot affect system performance?

[2019-01-24 07:49] lni commented on #24
Snapshot is not just for the node itself to restart. It is also used by the leader to help slow followers to catch up. In your question and described approach, when some raft logs are compacted (removed) but not included in any snapshot, it means all such update info included in those compacted entries is gone, slow followers or followers joined after the compaction won't get updated from those en

[2019-01-24 08:16] #24 closed, assigned to nobody

[2019-01-24 09:24] zhengxiaochuan-3 commented on #24
ok , got it .
thanks .

[2019-01-24 09:59] SunRunAway commented on #24
The additional snapshot file in this case is not necessary. To help slow followers to catch up, can we take a snapshot from the leveldb kv statemachine temporarily and transfer it to slow followers streamly.

[2019-01-24 10:17] lni commented on #24
@SunRunAway what you described is basically taking snapshots for disk-based state machine, as described in the raft thesis.

Dragonboat doesn't has that supported in the current version. The only challenge here is how to implement it in a way that entry-level users won't get confused.

Can't promise anything, but with pretty good chance that it will be the next major feature added to Dragonboat.

[2019-01-24 10:29] zhengxiaochuan-3 commented on #24
very excited to this feature @lni @SunRunAway

[2019-01-24 12:55] brk0v commented on #24
One way how this could be done would be saving in a snapshot only committed version of the underlying storage without any actual data. And then for bootstrapping new nodes and catching up you should transfer this snapshot and using a side channel download database from the leader up to that version. MVCC and snapshot capabilities of your storage are supposed to help here.

[2019-01-24 13:24] vtolstov commented on #18
ok thanks!

[2019-01-25 02:36] hnwyllmm commented on #22
thanks for your detail and patient explanation. And I am sorry for misunderstand.
Now I am looking for a raft library with high performance, the braft is one of candidate without enough performance.  After I saw the introduction of drangonboat, it attract me and I thought it is the best raft library. However, we should test it ourself before we use it. Testing can help me understand it.
I have ask

[2019-01-25 04:43] lni commented on #22
@hnwyllmm please feel free to run whatever test you want, but posting your throughput results measured when triggering hundreds of snapshots per second on a single Raft group is not helping your own evaluation. It is also quite disrespectful for people who are putting their own time into such a free & open source project. My recommendation is to carefully read the documents of _all libraries_ you

[2019-01-25 05:02] zhengxiaochuan-3 commented on #24
@brk0v  Good idea , my storage is goleveldb  .
https://godoc.org/github.com/syndtr/goleveldb/leveldb#Snapshot

so, It can be done !

[2019-01-25 12:32] lni commented on #22
Below is the results on single socket E2696v4 + **almost 7 years** old Intel S3700 **SATA** SSD. I was running @hnwyllmm 's program with my above described fixes.

using 400 client goroutines, output on leader:

two followers:

using 1200 client goroutines, output from leader:

leader here!

followers:

[2019-01-28 02:14] hnwyllmm commented on #22
So, the performance of disk will impack the result?
below is the perforamce testing result of our disk. I think it is the worst disk on the world.
[code]

[2019-01-28 03:56] lni commented on #22
@hnwyllmm if you have concerns about your disk performance, or have questions on using dragonboat, please feel free to ask, what is the point posting your highly misleading results again?

Like all consensus libraries, Dragonboat's throughput is highly dependent on fsync() performance, for which you can measure using the pg_test_fsync tool shipped with PostgreSQL.

You seems to be using a disk wit

[2019-01-28 06:04] hnwyllmm commented on #22
I don't want to misleading anyone. And I think no one will be misled as the result is so good you post. All I do is just to tell you what result I got and if there are something wrong in my test. One million is a very fascinate number and I have the disire to display it on my testing environment and I am working on it.
But I don't agree with the point: 400 goroutines start the proposals at the exa

[2019-01-28 06:32] lni commented on #22
@hnwyllmm

your numbers are totally misleading for reasons listed below -

1. you mentioned in your post that "with snapshot period 1000 seconds", Dragonboat doesn't even support snapshotting by time interval, how could you set such "snapshot period"? As clearly documented in both the godoc and in the example program, if you set SnapshotEntries to 1000, it means a snapshot is going to be captured

[2019-02-10 23:30] ghost commented on #18
Disappointed about badger db being evicted as a data store.

I was intending to use this on arm servers. I can't use cloud servers for legal reasons.

I will have to use the BBVA implementation of raft badger.

[2019-02-11 07:00] lni commented on #18
@gedw99 the reason why badger is not supported at this stage is explained above.

As mentioned in the docs, the current version of dragonboat is known to work on ARM based platforms such as Amazon's EC2 A1 instances. It should also work on your own ARM servers as well. It has really nothing to do with whether any certain key-value database is supported or not.

Please feel free to raise an issue w

[2019-02-19 05:15] lni commented on #2
Below is my go.mod file based on the method @motecshine mentioned above. it will be added to the master branch once Golang 1.12 is released.  The replace directive support in Golang 1.11 seems to be broken.

Those golang.org/x/* and google.golang.org/* packages mentioned below are only required when you want to run the monkey test implemented in github.com/lni/dragonboat/drummer.

"require github.

[2019-02-19 05:15] #2 closed, assigned to nobody

[2019-02-19 07:49] lni opened #25 "ReadLocal() might read from a restarted node"
Dragonboat allows users to use ReadIndex() + ReadLocal() to performance linearizable reads.

I couldn't think of any legitimate reason for restarting a node in between, the timing also makes it highly unlikely to happen, but it is possible in theory using the current API.

I haven't seen such issue in production/test/dev, haven't heard anything from anyone, but still need to update nodehost.go to

[2019-02-19 08:25] #25 closed, assigned to nobody

[2019-02-28 00:29] gensmusic opened #28 "how to make delta snapshot"
we config SnapshotEntries 10000, and a node restarted, 5 minites later it restarted and just 11000 late from master. the node still needs a full snapshot to recover. let's say the full snapshot is about 10m entries which is too big.
Is there any way to notify master to generate a smaller snapshot by telling it some extra info ?

[2019-02-28 02:42] lni commented on #28
Please note that snapshot is not for such incremental updates, Raft logs are used for such incremental updates.

When your SnapshotEntries is set to 10,000, you are basically telling the Dragonboat library that "sending 10,000 log entries to a follower is more expensive than sending the snapshot". This seems to be not true based on your description above - as you mentioned that sending a snapshot

[2019-02-28 02:42] #28 closed, assigned to nobody

[2019-03-01 00:31] gensmusic opened #30 "proposal: binding address and advertise address"
When using the optional Master server, NodeHost periodically sends its details to the Master server. There is only one RaftAddress right now. We use it both for binding address and advertise address. there are cases we cannot use the RaftAddress as the binding address, e.g. when private/public address mapping is involved.

Is there any chance to add an advertise address?
if advertise address is no

[2019-03-01 08:10] gensmusic opened #31 "StateMachine Update in real world"
[code]
in a real world, we cann't assume Update() always have the same result. If one of node failed to `Update`, lastApplied is still updated. How can we avoid this ?

[2019-03-01 09:08] lni commented on #31
No, when using consensus algorithms, a big requirement (not assumption) is that Replicated State Machines backed by the consensus algorithm are deterministic. With the same initial state and the same input (the data []byte input here), calling Update() on all your replicas should lead to the same output and the same new state.

Please define what do you mean by "failed to update".

When one of the

[2019-03-01 09:17] lni commented on #30
I think what you are trying to suggest is that when using the Master server component, which is optional, the RaftAddress can't be used as the binding address where there is private/public address mapping. e.g. a nodehost binds to the private address 10.0.0.1:80 when it is accessible by a remote program from a public address say node1.mydomain.com:8080.

This has nothing to do with docker as you c

[2019-03-01 09:22] gensmusic commented on #31
by `failed to update` i mean disk faulty. Your answer is quite clear to me.
Thanks a lot.

[2019-03-01 09:22] #31 closed, assigned to nobody

[2019-03-01 09:24] gensmusic commented on #30
great, also, in my case, docker using host network is not allowed by some security policy in my company.

[2019-03-02 04:15] lni commented on #30
I've edited the original post to better describe the issue.

[2019-03-04 06:35] lni opened #32 "Refocusing on core consensus features"
Shortly before the dragonboat source code was made publicly available in Jan. 2019, some changes were made to include features not directly related to consensus. For example, the C++ binding was included in the release and the Master server support was refactored from the Drummer package hoping users might be able to use it.

It has become clear to me now that dragonboat should just focus on the c

[2019-03-04 22:48] ghost commented on #18
thanks @lni for the clarification - appreciate the support.

[2019-03-05 01:24] lni commented on #18
other pure Go Key-Value DBs are being actively investigated, e.g. https://github.com/petermattis/pebble looks very interesting.

[2019-03-05 02:33] lni commented on #30
@gensmusic this issue has been resolved in https://github.com/lni/dragonboat/commit/968d735048ab0f909dca9835e1d048394c62ccc6

please note that the Master server support will be reworked in the major release, details in https://github.com/lni/dragonboat/issues/32.

[2019-03-05 02:33] #30 closed, assigned to nobody

[2019-03-14 00:10] gensmusic commented on #30
cool

[2019-03-14 00:18] gensmusic commented on #32
the ` GetNodeHostInfo` is the exact way we want to use. Currently I have to fork the repo and export `GetNodeHostInfo` myself. I will switch back when this is done.

[2019-03-14 00:29] gensmusic commented on #32
Another question, can I use the info from `logdb.ListNodeInfo()` when I restart a nodehost? I didn't see there is a delete in logdb, so I can assume it contains the full infomation of all clusters.

[2019-03-14 04:28] lni commented on #30
@gensmusic please try the version in the Master branch and let me know if you see anything strange. thanks!

[2019-03-14 04:43] lni commented on #32
@gensmusic the above item 1 and 2 are already done in our private development branch.

GetNodeHostInfo() will return the following NodeHostInfo instance and its definitions are provided below. Let me know if you see anything missing or strange.

[code]

As a breaking change to the APIs, it is being developed as a part of the 3.0 release with other major new features, so it will take another couple

[2019-03-14 05:53] gensmusic commented on #32
looks good to me. However is it possible to add `IsObserver` or something similiar so we can known if a raft node is an observer ?

[2019-03-14 07:11] lni commented on #32
it will eventually be added to the NodeHostInfo type, for now you can get such observer info from the GetClusterMembership() API.

[2019-03-14 10:07] gensmusic commented on #32
ok, cool. Thanks, @lni

[2019-03-15 23:46] savearray2 opened #33 "Error when calling cpp binding StartCluster"
The following fails when using the C++ bindings:

[code]

[code]

It works when a relative path is used instead:

[code]

The problem seems to originate here:
https://github.com/lni/dragonboat/blob/ca03e0312b1dd2958fd0c618a9c42257d3702e6e/internal/utils/fileutil/plugin.go#L23-L33

A potential fix would be to remove the `^` from the beginning of the applicable regular expression(s), or change it to

[2019-03-16 06:27] lni commented on #33
@savearray2 Thanks for the feedback. I agree that it will be more convenient to also allow users to just pass in a C++ factory function for creating the StateMachine. This will also make the C++ API more consistent with the native Go API.

Will probably do it next week, as I am busy with a long list of new features/refactoring.

[2019-03-16 06:33] lni opened #34 "Add disk based state machine support"
When all state machine data is stored on disk, there is no need to periodically generate snapshots as the state is always available on disk.

Add such disk based state machine support to dragonboat and allow snapshot to be generated and streamed when it is actually required.

Note that this is more like an optimization to further save disk space and bandwidth consumption. The current released vers

[2019-03-16 06:38] lni opened #35 "New snapshot image format for disk based state machine"
To support disk based state machine, snapshot image format need to be upgraded to

- support block based checksum.
- allow the total size to be unknown when start streaming.
- support metadata only snapshot.

The SnapshotWriter and SnapshotReader types should be extended to support the above described new features and maintain backwards capability to support the current snapshot format.

[2019-03-16 19:48] savearray2 commented on #33
@lni No problem. I appreciate your response. Right now I'm just using a symbolic link that points back to my compiled executable as a stopgap. For better or worse, it seems to work fine for now.

Also, while you're on the topic of refactoring, what do you believe is the best way to store a large amount of key/value pairs on each node sent through proposals to a dragonboat cluster (1-100k each mess

[2019-03-17 05:28] lni commented on #33
@savearray2 It really depends on how many such Key-Value pairs you are going to deal with. If the amount is a couple million pairs and the total size can be comfortably fitted into your RAM, then you can even store all key-value pairs in an in-memory map. Note that all your data will still be persisted as all proposals are stored on disk.

If your data size is larger than your RAM, then a RocksDB

[2019-03-17 21:53] savearray2 commented on #33
@lni I'm dealing with mostly commodity hardware, so each node probably won't have more than 8-16 GB of RAM. I might be able to stretch it to 32 GB, if I have to. Everything will run ECC RAM, however. Additionally, new nodes will come online at random (without being able to predict when) from week to week, with other nodes being removed week to week (but with more control when that happens). Each n

[2019-03-19 15:51] lni commented on #33
@savearray2 thanks for the detailed descriptions

When there is terabytes of data on each machine, it is quite often to further shard it into many Raft groups. For example, if each Raft group looks after say 1Gbytes data, there will be 1,024 Raft groups for each 1T data. This avoids the issue that multi-terabytes might need to be snapshotted in one go.

As the library is implemented in Go, I hope

[2019-03-20 06:25] gensmusic opened #36 "panic when save snapshot"
[code]

I got panic when save sanpshot. using version v2.1.3.
I'm using multiplile goroutine to wirte
[code]

[2019-03-20 09:01] lni commented on #36
@gensmusic it seems to me that the total number of written bytes value returned by your SaveSnapshot method is incorrect. Please make sure you return the actual number of bytes written to the provided io.Writer

[2019-03-20 09:51] gensmusic commented on #36
my bad. Thanks @lni .

[2019-03-20 09:51] #36 closed, assigned to nobody

[2019-03-21 19:27] savearray2 commented on #33
@lni Thank you for the detailed explanation. Splitting the nodes up to handle much smaller amounts of data, but possibly running multiple on the same system is a very good idea. The snapshots taken will also be much more randomized across the cluster.

However, I still think it would be a good idea for the user to be able to take somewhat manual control over when each node snapshots. There's a req

[2019-03-25 03:37] wwq-2020 opened #37 "how to dynamically add node?"
how to dynamically add node?

[2019-03-25 06:05] #37 closed, assigned to nobody

[2019-03-25 06:29] lni commented on #37
Adding/Removing node is achieved via the membership change APIs.

Examples are provided in https://github.com/lni/dragonboat-example/tree/master/helloworld

[2019-03-25 06:40] lni commented on #33
@savearray2

I guess my previous answer caused some confusions. Let me try again  ;)

In the current released version v2.1.3, users can't manually request a snapshot to be taken immediately. Users can only specify how often (in terms of how many new updates) snapshots should be captured & saved. Please also note that the term "snapshot" here is a point-in-time view of the State Machine described i

[2019-03-26 02:37] huanyang712 opened #38 "A few recommended storage engine libraries - 推荐几个存储库"
https://github.com/tidwall/buntdb

https://github.com/xujiajun/nutsdb

[2019-03-26 04:26] lni commented on #38
Thanks for the info.

[2019-03-26 04:26] #38 closed, assigned to nobody

[2019-03-26 04:48] lni commented on #38
For those who might be interested -

To use your favourite storage engine in Dragonboat, just implement the ILogDB interface defined in the raftio package and pass a factory function that creates such instance to the LogDBFactory field of your NodeHostConfig.

[2019-03-27 10:26] iknite commented on #34
This will be very useful to our project https://github.com/bbva/qed since this is our very use case.

If you need more input it will be gladly provided.

Great project by the way!

[2019-03-27 12:26] lni commented on #34
@iknite disk based state machine has already been added in a private dev branch, it is being actively tested.

[2019-04-01 09:08] lni opened #39 "Stop using delete range+manual compaction in RocksDB based LogDB"
This feature in RocksDB is the suggested method to delete a selected range of KVs. Sadly, with recently reported/fixed bugs in RocksDB, I just have the feeling that it is not stable enough to be used in production.

Stop using delete range+manual compaction in RocksDB based LogDB, revert back to the regular delete by key style approach. It might be slower but far better than a risky one slightly f

[2019-04-02 14:34] sladezhang opened #40 "any plan or suggestions on add java bindings?"
do we have any plan to add java bindings support?
or if I want to use dragonboat in java project, do we have any suggested methods?

[2019-04-03 04:01] lni commented on #40
There is no plan to add java binding support.

Users are welcomed to build their own java binding. If they choose to do it as an open source project, I am more than happy to provide assistance in that process.

[2019-04-03 07:46] #40 closed, assigned to nobody

[2019-04-04 01:16] isnlan opened #41 "binding.h not found in vendor"
# github.com/snlansky/silk/vendor/github.com/lni/dragonboat/internal/cpp
In file included from ../vendor/github.com/lni/dragonboat/internal/cpp/wrapper.go:34:0:
./wrapper.h:19:10: fatal error: dragonboat/binding.h: No such file or directory
 #include "dragonboat/binding.h"
          ^~~~~~~~~~~~~~~~~~~~~~
compilation terminated.
When I use dep or go mod, the header file will not be found.This make

[2019-04-04 04:32] lni commented on #41
It has nothing to do with whether you build it in docker.  If you look at dragonboat's release-2.1 branch tree or the released .zip/.tar.gz source files, there is a top level package named binding -

https://github.com/lni/dragonboat/tree/release-2.1

however for whatever reason it is not in your vendor folder -

https://github.com/snlansky/silk/tree/addmod/vendor/github.com/lni/dragonboat

[2019-04-04 05:34] lni commented on #41
@snlansky can you provide a bit more info on how you maintain your vendor folder? did you manually remove the github.com/lni/dragonboat/binding package?

[2019-04-04 07:00] lni opened #42 "Try not to import the internal/cpp package if possible"
It is currently used in drummer tests and by the binding package. In a normal build, try not to import the internal/cpp package.

Once internal/cpp is avoided in a normal build, together with the EXPERIMENTAL pebble support, we should be able to build dragonboat as pure Go project.

[2019-04-04 12:50] isnlan commented on #41
When I used dep to generate the vendor folder, it was visible from the vendor, but the header file was missing at compile time, so I eventually removed it from the vendor

[2019-04-04 13:41] lni commented on #41
@snlansky

I've made the v2.1.4 release for some RocksDB related issues, as part of that v2.1.4 release, I've also changed the dragonboat package to no longer rely on the internal/cpp package. Please try v2.1.4 and let me know if you still have the same problem.

I also created a dummy project with go mod to reproduce the issue you had, the binding package is not included in my vendor folder when

[2019-04-04 13:42] lni commented on #39
fixed in v2.1.4.

[2019-04-04 13:42] #39 closed, assigned to lni

[2019-04-04 13:42] lni commented on #42
Implemented in v2.1.4.

[2019-04-04 13:42] #42 closed, assigned to lni

[2019-04-05 16:54] huanyang712 opened #43 "How to get the state of each node"
When a node fails, how to get the it’s state ?

[2019-04-06 03:16] lni commented on #43
In the current v2.1.x releases, you can implement your own IMasterClient type to get periodically notified of the states of all Raft nodes managed by the NodeHost instance.

In the coming v3.0 release, which is expected to be released as Beta in 2-3 weeks, there will be a new API called GetNodeHostInfo. It returns the states of all Raft nodes managed by the NodeHost instance.

Note that how to fin

[2019-04-06 06:35] isnlan commented on #41
@lni
Thank you very much for your attention to my question

[2019-04-06 06:49] isnlan opened #44 "build docker images failed"
Dockerfile
`
FROM golang:1.11
MAINTAINER silk
ENV GOCACHE=off
ENV GOPATH=/opt/gopath
ENV CGO_CFLAGS="-I/path/to/rocksdb/include"
ENV CGO_LDFLAGS="-L/path/to/rocksdb/lib -lrocksdb"

RUN mkdir -p "$GOPATH/src" "$GOPATH/bin" && chmod -R 777 "$GOPATH"
WORKDIR $GOPATH

RUN apt-get update && apt-get install -y build-essential libncurses-dev libtool make gcc g++ unzip

RUN go get -u -d github.com/lni/dra

[2019-04-06 07:33] lni commented on #41
@snlansky please close this issue if it has been resolved. thanks.

[2019-04-06 07:36] lni commented on #44
@snlansky

It failed because there is no sudo support.

Please have a quick look on the Dockerfiles for building docker images used in our nightly tests -
https://github.com/lni/dragonboat/blob/master/scripts/Dockerfile-debian-9.4

[2019-04-06 07:36] #44 closed, assigned to nobody

[2019-04-06 08:15] isnlan opened #45 "duplicate commit data"
IStateMachine.Update always receives duplicate data when the node is restarted.

[2019-04-06 08:40] lni commented on #45
@snlansky

No, nothing is duplicated.

After a node is restarted, it must either restore its data from a snapshot image or re-apply all committed data from the Raft log so the state machine can maintain consistent state. This is the exact default behaviour described by the Raft thesis. It is documented in statemachine/rsm.go -

In short, when your IStateMachine is restarted, the state machine must

[2019-04-06 08:40] #45 closed, assigned to nobody

[2019-04-06 08:42] #41 closed, assigned to nobody

[2019-04-09 05:23] #43 closed, assigned to nobody

[2019-04-09 05:23] #33 closed, assigned to nobody

[2019-04-15 07:56] lni opened #46 "Breaking changes in coming v3.0"
The coming new release will have the version number bumped to v3.0. It is a major release with the following breaking changes -

- NewNodeHost now returns error when it fails to create a new NodeHost instance.

Your existing code is probably doing this -
[code]
Please update it to
[code]

- In v3.0, the Update method in IStateMachine will be updated to return a Result instance and an error, it con

[2019-04-15 07:58] lni opened #47 "Add an overview doc to explain dragonboat basics"
Add an overview doc in both English/Chinese to explain dragonboat basics.

Add the overview doc link to README.md and also mention it in the example repo.

[2019-04-15 09:24] zhengxiaochuan-3 commented on #46
what about #34 #35 in v3.0 ?

[2019-04-15 10:19] lni commented on #46
@zhengxiaochuan-3

they are not breaking changes, just some new features.

both have been implemented & extensively tested. will make them publicly available as a feature branch later this week. Looking forward to have your feedbacks. :)

[2019-04-16 03:32] lni commented on #32
See #46 for progress.

[2019-04-16 03:32] #32 closed, assigned to nobody

[2019-04-16 05:40] riaan53 commented on #46
Thank you! Been trying to figure out a way to add subscribers or notifiers and the new update signature sounds like it should work perfectly for that. Looking forward to the new release and thank you for the awesome work.

[2019-04-17 03:55] rothtty opened #48 "Will the update method be blocked during the process of creating a snapshot?"
If I have a lot of data, I need to take a snapshot, It might take two seconds.
during these two seconds, the state machine cannot update?

[2019-04-17 06:25] lni commented on #48
@dydysy When your state machine implements the IConcurrentStateMachine interface, Update() can be concurrently invoked when snapshot is being created.  Your reads to the state machine can also be invoked concurrent to update().

[2019-04-17 06:25] #48 closed, assigned to nobody

[2019-04-17 07:31] rothtty commented on #48
thanks very much.
because I used the release version(2.1.5), so I didn't see the IConcurrentStateMachine interface. hope to release the IConcurrentStateMachine interface as soon as possible.

[2019-04-17 08:54] lni opened #49 "Add API to request a new snapshot to be created"
Add API to request a new snapshot to be created, its usage should be similar to the one used for requesting raft membership change.

[2019-04-17 11:10] lni commented on #48
@dydysy

In the coming v3.0 release, an overview wiki will be added to introduce such technical details. also looking forward to have more feedbacks from you. Thanks.

[2019-04-20 07:56] lni opened #50 "Add API to clean up data that belongs to already deleted node"
Once a node is removed (NodeHost.RequestDeleteNode) from the Raft cluster, all its data can be removed from the system to free up storage space.  Add API to do that.

This is requested by a potential user.

[2019-04-20 23:53] riaan53 opened #51 "After update hooks feature request"
Hi,

I have a few subscribers that needs to do `syncReads` once new data for that specific topic or item has changed or is added. Is there a way to accomplish this currently? Currently it looks like the only way is to poll or long poll through the read interface. It would be nice if I can register some hooks or have an update channel.

Thanks!

[2019-04-21 14:49] motecshine commented on #51
iStateMachine has a `Update` Interface。 maybe you can implement it to complete your requirements.

[2019-04-21 15:36] lni commented on #51
@riaan53

According to my understanding, you want to be notified once something in your state machine is changed/added. If that is what you want, you can always have some extra code in the Update() method of your IStateMachine to trigger that notification as Update() is the place where things get changed/added in your state machine. The Update() method which is expected to be implemented by your a

[2019-04-21 18:20] riaan53 commented on #51
Hi, thanks for the replies!

I managed to get my pattern working by just using additional code in the `Update` method like you suggested (already implemented all interfaces as per docs). I just needed to wrap the `IConcurrentStateMachine` in a parent container to be able to hook into it.

[2019-04-21 18:20] #51 closed, assigned to nobody

[2019-04-21 21:38] abbccdda opened #52 "Unknown function signature in drummer client"
When trying to build `drummer/server/drummercmd` using `go build main.go`, following exception was triggered:
`drummer/client/nodehost.go:387:14: dc.nh.StartClusterUsingPlugin undefined (type *dragonboat.NodeHost has no field or method StartClusterUsingPlugin)`

The root cause was due to this inclusion refactoring [diff](https://github.com/lni/dragonboat/commit/225ed952ce5cb893903f5f334c38a5e30b98

[2019-04-21 22:10] abbccdda opened #53 "Integration test for dragonboat"
Inspired by #52 , wondering whether it makes sense to trigger jenkins test coverage for major codepaths in dragonboat.

[2019-04-22 05:01] lni commented on #52
@abbccdda

drummer/server has been removed in the coming release and the drummer package itself has been moved to internal/drummer.

[2019-04-22 05:01] #52 closed, assigned to nobody

[2019-04-22 05:19] lni commented on #53
This project uses travis for CI (https://travis-ci.com/lni/). It currently builds the master branch by default for all library packages and their tests. It should probably use travis to build the latest release branch as well.

[2019-04-22 05:49] lni commented on #53
It actual builds the latest release branch as well, see the link below -

https://travis-ci.com/lni/dragonboat/branches

The error discussed in #52 never get caught as those drummer server components were never included in the rebuild-all target.

[2019-04-22 05:49] #53 closed, assigned to nobody

[2019-04-23 07:13] motecshine opened #54 "new features are separate from the real problem list, which is better."
New Feature
- [x] Item 1
- [ ] Item 2
- [ ] Item 3
- [ ] Item 4

new features  are separate from the real problem list, which is better.

[2019-04-23 07:13] motecshine commented on #54
![image](https://user-images.githubusercontent.com/7615270/56561726-5c75a300-65da-11e9-8db4-f46726283c1b.png)

[2019-04-23 07:38] #54 closed, assigned to nobody

[2019-04-23 07:40] lni commented on #54
thanks for the recommendation.

[2019-04-25 00:00] xianglinghui commented on #49
Hi, I may need this feature.

I am developing a distributed storage，it should support auto-scaling.  An existed node may split to two node，the new node will begin running with an unempty stagemachine. I need let the new node to generate a snapshot when a new member join its cluster，because the new member need synchronize data.

[2019-04-25 03:45] lni commented on #49
@xianglinghui

this feature has been implemented in the coming released.

[2019-04-25 13:11] xianglinghui commented on #49
It's wonderful.

[2019-05-06 08:36] JasonYuchen opened #56 "potential memory leaks when using leveldb"
after passing all tests in dragonboat-cppwrapper-tests:
[code]

[2019-05-06 14:16] #56 closed, assigned to nobody

[2019-05-06 14:16] lni commented on #56
Thanks for reporting the issue, it has been fixed in master.

[2019-05-07 06:21] lni commented on #34
v3.0 beta with on disk state machine support is now available for review & testing.

https://github.com/lni/dragonboat/tree/beta-release-3.0

Please see the README.md file for a list of other changes.

[2019-05-07 06:22] lni commented on #35
This has been implemented in v3.0 beta, it is now ready for review & public testing.

https://github.com/lni/dragonboat/tree/beta-release-3.0

[2019-05-07 06:26] lni commented on #46
@zhengxiaochuan-3 @riaan53

all breaking changes mentioned above have been implemented in the beta v3.0 release, https://github.com/lni/dragonboat/tree/beta-release-3.0

please feel free to raise issues if you see anything broken or strange. thanks!

[2019-05-07 06:27] lni commented on #47
The Chinese version is now available at:

https://github.com/lni/dragonboat/blob/beta-release-3.0/doc/overview.CHS.md

[2019-05-07 06:28] lni commented on #1
NodeHost.GetNodeHostInfo() in v3.0 returns a boolean flag to indicate whether a node is a non-voting member.

[2019-05-07 06:31] lni commented on #49
@xianglinghui

This feature can now be previewed in the v3.0 beta release. It is implemented as a new NodeHost API named RequestSnapshot().

https://github.com/lni/dragonboat/tree/beta-release-3.0

nodehost_test.go contains some tests that can be used as examples on how to use this new API.

[2019-05-07 06:33] lni commented on #50
This has been implemented as a new NodeHost API named RemoveData(). It is available for preview & testing in the v3.0 beta release.

https://github.com/lni/dragonboat/tree/beta-release-3.0

There are some tests in nodehost_test.go that can be used as examples on how to use this new API.

[2019-05-07 09:34] riaan53 commented on #46
Awesome thank you! The disk based state machine looks fantastic and fits my usecase better than pure in mem. Any reason for the fork of gorocksdb or can I just use the original?

[2019-05-07 13:54] lni commented on #46
Hi @riaan53

The patched version of gorocksdb included in dragonboat has some extensions, e.g. the OKey() and OValue() methods of the Iterator type. Most of them were added to avoid extra allocations. I didn't try to upstream my changes as the original interface seem to be complete and it is mostly a one-to-one mapping of the RocksDB's interface, introducing such extra methods for minor performanc

[2019-05-09 14:21] iknite commented on #34
Hi,

I'm just testing the features and It shows the following error:
https://github.com/iknite/raft-example/blob/dragonboat/error-notes.md

Sometimes it works, and halts `ab` execution, then launching it again will show the problem.

I'm just using gorocksdb master branch and the changes in:
https://github.com/iknite/raft-example/blob/dragonboat/error.patch

Please let me know If I can help someho

[2019-05-10 03:41] lni opened #59 "LastApplied value not moving forward in v3.0 beta"
Hi,

I'm just testing the features and It shows the following error:
https://github.com/iknite/raft-example/blob/dragonboat/error-notes.md

Sometimes it works, and halts `ab` execution, then launching it again will show the problem.

I'm just using gorocksdb master branch and the changes in:
https://github.com/iknite/raft-example/blob/dragonboat/error.patch

Please let me know If I can help someho

[2019-05-10 03:48] lni commented on #59
@iknite reported this issue in #34

After a quick look, I have the feeling that they are both caused by the bug below.

https://github.com/lni/dragonboat/blob/54b5e2a4f3d1f85b113b4f2fce67aeb32eb32dea/internal/rsm/statemachine.go#L241-L248

In the above highlighted part, when init == true, it will always return true. This is obviously wrong.

[2019-05-10 03:49] lni commented on #34
@iknite

Thanks for reporting the bug! I've opened issue #59 to address your reported bug.

[2019-05-10 06:00] riaan53 commented on #18
There has been some recent improvements to etcd boltdb as well. Might be worth a look, havnt tested it myself yet https://www.cncf.io/blog/2019/05/09/performance-optimization-of-etcd-in-web-scale-data-scenario/

[2019-05-10 07:45] lni commented on #59
Hi @iknite

There are actually two bugs -

* the recoverSMRequired() method has been fixed the in https://github.com/lni/dragonboat/commit/300c193b88dfb432dd8ac32acb2bd8c95a98b62a

* in the on disk state machine example program, when it tries to store the last applied index, it encodes the uint64 value as little endian []byte, converts it to a string and JSON marshals it. This corrupts the last ap

[2019-05-10 07:45] #59 closed, assigned to lni

[2019-05-10 10:11] lni commented on #18
@riaan53

BoltDB is not supported because it doesn't checksum its stored data. BoltDB is very similar to lmdb and both have the same issue.

etcd uses BoltDB in its state machine, all data is also available in the raft log (which is always crc checked), if something goes wrong, the entire state machine state can be restored from the raft log. For dragonboat, the key-value store is used to keep the

[2019-05-10 11:38] riaan53 commented on #18
@lni thanks for the feedback, good to know. Looking forward to the pebble project :)

[2019-05-11 06:01] lni opened #60 "Why session is not supported when using IOnDiskStateMachine"
@riaan53 asked the following question in the chatroom.

[2019-05-11 06:32] lni commented on #60
Hi @riaan53

This is an implementation specific limitation related to the fact that client sessions are modeled as an in memory state machine, while an IOnDiskStateMachine type have its state always persisted on disk. If you read the Raft thesis or the implementation code, client session state machine takes the output of IOnDiskStateMachine's Update() method as input.

There is no easy way to supp

[2019-05-11 06:33] #60 closed, assigned to nobody

[2019-05-11 06:35] lni commented on #48
@dydysy v3.0 beta is now available for review & testing.

[2019-05-11 06:36] lni commented on #45
@snlansky v3.0 beta is now available for review & testing. It comes with the support for a new state machine type called IOnDiskStateMachine, it can help to address the concern you raised in this issue.

[2019-05-13 11:47] 256dpi opened #61 "Pluggable Log DB Implementations"
Thanks for the amazing library. I'm currently trying it out on a project I'm working on and it was a big success until now. :-)

Recently, I wanted to play around with some alternative implementations for the underlying LogDB that are pure Go. To fully implement a custom LogDB and turn off the other implementations to prevent CGO compilation one needs to implement the `raftio.ILogDB` interface and

[2019-05-14 05:01] lni commented on #61
The current version has the following behaviour -

- RocksDB is used by default when NodeHostConfig.LogDBFactory is nil
- When one of those Log DB related built tags is set (e.g. dragonboat_pebble), RocksDB will not be linked so users can use the dragonboat library without installing RocksDB first.

For the proposed API above, I am wondering how the same behaviour can be maintained?

For making yo

[2019-05-15 10:11] 256dpi commented on #61
Thanks for the clarifications!

Defaulting to RocksDB if the factory function is nil would not be possible with the proposed API. The user has to import the package actively and set the factory method. Otherwise, the rocksdb package gets linked no matter what the factory function is set to (to accommodate an absent value).

From my experience with Go I never had to build with build tags to select

[2019-05-16 03:10] lni commented on #61
I agree that build tags are weird. That being said, please note that -

- Most users are expected to use the default RocksDB based Log DB for now, no dragonboat build tag is involved.
- When using a custom Log DB implementation, the dragonboat_custom_logdb build tag is optional. As long as the RocksDB library is installed, no build tag will be required.
- If everything goes well, pebble will event

[2019-05-16 03:13] lni opened #62 "Why On Disk SM need to fsync after each batched update"
@riaan53 asked the following good question in the chatroom.

for the disk sm, is the design to fsync after each batch? Seeing as it was already fsynced in raft wal it feels a bit unnecessary to incur the penalty twice. My thinking is that on a crash or restart, recover all items from disk with valid crc and then report that to the open method (like it is now) - the missing items will be replayed a

[2019-05-16 03:31] lni commented on #62
@riaan53

The biggest motivation for using On Disk SM is to make sure that there is roughly one copy of the user data on disk (in SM or in Raft Log DB). Once the committed Raft Log entries are applied into the on disk SM, those Raft Log entries are ready to be removed to release disk space.

Your mentioned method above won't work because we can't remove anything from the Raft Log if arbitrary amou

[2019-05-16 06:04] lni commented on #62
It probably make sense to add a new method say Fsync() to the IOnDiskStateMachine type, it syncs all in core data to disk. The new Fsync() method is called before compacting the Raft Log. We can then make it optional to fsync for each Update().

[2019-05-16 08:28] riaan53 commented on #62
Hi @lni , Awesome- thank you for the explanation. That sound like a nice way to achieve that. Let me know what you decide on.

[2019-05-23 14:18] lni commented on #62
@riaan53 The above mentioned changes have been implemented, a Sync() method has been added to the IOnDiskStateMachine interface, it is available in the 3.0 beta branch.

https://github.com/lni/dragonboat/tree/beta-release-3.0

[2019-05-23 14:18] #62 closed, assigned to nobody

[2019-05-23 14:22] riaan53 commented on #62
Awesome! Thank you! :)

[2019-05-23 14:28] lni commented on #61
Deleted my previous post as the information in it is now out of date and can be confusing to users.

In the current v3.0 beta branch -

You can now set the NodeHostConfig.LogDBFactory field to the provided LevelDB/Pebble based Log DB factory methods from the plugin package. The old build tags named dragonboat_leveldb and dragonboat_pebble have been retired. This still requires you to have the Rock

[2019-05-23 14:28] #61 closed, assigned to nobody

[2019-05-23 14:44] lni commented on #61
@256dpi

Based on your feedback, the above changes have been made. You can now switch Log DB implementations on CLI if you like. The usage of build tags have been minimized, dragonboat_no_rocksdb will have to stay until pebble is ready to take over the role of RocksDB.

There is no plan to expose the IKvStore interface to the public, due to the reasons explained in my previous reply. If you want t

[2019-05-24 08:12] 256dpi commented on #61
Thanks for working on this! This makes stuff already a lot easier.

[2019-05-24 08:35] 256dpi opened #64 "Improvements for Local Reads"
To query a local node today one needs to call two methods to obtain the data:

[code]

There are a couple of improvements I would like to discuss:

It seems to me that there is no way to call `ReadLocalNode` without ever calling `ReadIndex` first. Wouldn't it make sense to allow applications to read from the local node without linearizability guarantees?

I would suggest to provide a method signat

[2019-05-24 09:29] lni commented on #64
@256dpi

A custom factory function with one of the following signatures is passed into the StartCluster method when starting the node -

func(uint64, uint64) sm.IStateMachine
func(uint64, uint64) sm.IOnDiskStateMachine

The returned sm.IStateMachine and sm.IOnDiskStateMachine instances are created by user code, users thus have full access to them. They can keep a reference to those instance and ca

[2019-05-24 12:43] 256dpi commented on #64
I think it makes sense for this library to only focus on linearizable access. However, the chosen approach to provide a factory for the state machine creates a mental conflict. It appears to one that the NodeHost is managing the instance and thus it might be gone without further notice. If it is only created once we might just pass in the already constructed state machine? That would also suggest

[2019-05-24 14:51] lni commented on #64
There are good reasons to require the factory method to be passed in. For example, it allows further optimizations relate to how state machines are recovered from snapshots. So yes, in future releases, the factory method might be called multiple times for the same state machine.

I think I will definitely allow interface{} to be used as input/output of those read related methods. Using interface{}

[2019-05-26 11:11] lni commented on #64
The signature of the Lookup method has been changed to
[code]

as I believe it is far more flexible for average cases. NodeHost APIs have been updated accordingly to accommodate the above change.

An optional NALookup([]byte) ([]byte, error) can be implemented to retain the old interface/no extra heap allocation behaviour. NAReadLocalNode has been added to the NodeHost API to query local node usin

[2019-05-26 11:11] #64 closed, assigned to nobody

[2019-05-26 12:10] 256dpi commented on #64
Thanks for implementing the changes!

I can understand the motivation to also provide `NALookup` for performance reasons. But the benchmarks seem not to be 100% accurate. The `NoOP.Lookup()` function is allocating a slice while `NoOP.NALookup()` just returns the key. In real life bot would allocate some memory to return a result. If the lookup would be allocation free, it would not return any data

[2019-05-26 12:42] 256dpi commented on #64
I tried out the changes and got the following panic:

[code]

It's caused by `StaleRead` being executed while the state machine has not yet been opened. I think this should be legal and therefore the function should return an error instead of causing a panic.

[2019-05-26 13:29] lni commented on #64
Micro benchmarks are never meant to be 100% accurate, it gives people a rough and quick idea on what is going on. In the provided benchmark results, even without the make([]byte, n) you mentioned, there are still 2 extra allocs/op caused by using interface{}.

For NALookup, it doesn't need any allocation if the result is written into the input byte slice. The bottom line is users have full control

[2019-05-26 13:36] lni commented on #64
For the panic issue, yes, an error should be returned in that case.

[2019-05-27 11:13] 256dpi commented on #64
Thanks for fixing and the panic. I haven't considered reusing the input byte slice as the output. Seems to be a valid scenario for the additional `NALookup` interface. 👍

[2019-06-09 06:32] lni commented on #50
in master branch, ready to be released soon.

[2019-06-09 06:32] #50 closed, assigned to lni

[2019-06-09 06:32] lni commented on #49
in master branch, ready to be released.

[2019-06-09 06:32] #49 closed, assigned to lni

[2019-06-09 06:33] lni commented on #47
in master branch, ready to be released.

[2019-06-09 06:33] #47 closed, assigned to lni

[2019-06-09 06:34] lni commented on #34
in master branch, ready to be released.

[2019-06-09 06:34] #34 closed, assigned to lni

[2019-06-09 06:34] lni commented on #3
removed

[2019-06-09 06:34] #3 closed, assigned to nobody

[2019-06-09 06:34] lni commented on #35
in master branch, ready to be released.

[2019-06-09 06:34] #35 closed, assigned to lni

[2019-06-12 12:40] xianglinghui opened #66 "It seems need RocksDB lib when using LevelDB based Raft Log storage"
Hi，I build my application with LevelDB based Raft Log storage，it reports the follow errors:

[work@tj1-smart-test06 ~/hykv_prj/src/hykv/.gopath/src/hykv]$ go build -v -tags="dragonboat_no_rocksdb" ./cmd/hykv
hykv/vendor/github.com/lni/dragonboat/internal/logdb/kv/rocksdb/gorocksdb
hykv/vendor/github.com/lni/dragonboat/internal/logdb/kv/rocksdb/gorocksdb
vendor/github.com/lni/dragonboat/internal/lo

[2019-06-12 15:36] lni commented on #66
Hi @xianglinghui

Thanks for reporting the issue.

I had a quick look, the problem is caused by the fact that internal/tests/diskkv.go, internal/tests/diskkv_test.go and nodehost_test.go imported the RocksDB package without taking the dragonboat_no_rocksdb tag into consideration.

Will fix soon.

[2019-06-13 02:15] lni commented on #66
Fixed in 544a4b8ff81223ed3705f34d8e2db44e2d252968

The status of the LevelDB support is detailed in docs/storage.md, please make sure to have a look.

[2019-06-13 02:15] #66 closed, assigned to nobody

[2019-06-14 04:11] lni opened #67 "Optimize ILogDB.ReadRaftState"
Optimize ILogDB.ReadRaftState() to speed up the NodeHost.startCluster() method.

[2019-06-14 04:13] lni opened #68 "Add v3.0 APIs support to the C++ binding"
Add v3.0 APIs support to the C++ binding to at least support the new on disk SM type.

[2019-06-14 04:14] lni opened #69 "Add metrics support"
Add metrics support, e.g.

https://github.com/VictoriaMetrics/metrics

[2019-06-14 07:10] lni opened #70 "Add docker based test to ensure Dragonboat can be used without RocksDB"
Add docker based test to ensure LevelDB based raft storage can be used without RocksDB.

[2019-06-19 09:17] hejiew opened #72 "Can not add a removed node into the cluster"
how to add a removed node into the cluster?

[2019-06-19 10:12] lni commented on #72
It is a feature - removed node is not allowed to be added back. See the implementation in the link below.

https://github.com/lni/dragonboat/blob/79bcef060698c5c0e200c7f72fc3fda03b99feae/internal/rsm/membership.go#L134

[2019-06-19 10:12] #72 closed, assigned to nobody

[2019-06-20 03:55] lni commented on #70
done.

[2019-06-20 03:55] #70 closed, assigned to nobody

[2019-06-20 12:29] lni opened #73 "Add tests to check number of allocations"
Use testing.AllocsPerRun to check number of allocations when making proposals/using index read/applying entries.

[2019-06-21 02:48] lni opened #74 "Support raft entry compression"
allow proposed raft entries to be compressed using lz4/snappy. it should be transparent to user state machines.

[2019-06-23 09:08] xianglinghui opened #75 "invalid membership change operation will be recorded into raft log"
Hi，lni

It seems invalid membership change operation will be recorded into raft log, and will be replayed when restart the node.

I do a RequestDeleteNode call on a cluster which only have one node(itself), then the program panic:

2019-06-23 16:24:51.754526 I | rsm: [01001:00001] applied ConfChange Remove ccid 0, node n00001, index 5
2019-06-23 16:24:51.754585 I | dragonboat: [01001:00001] applie

[2019-06-23 11:11] lni commented on #75
When you only have 1 node in the cluster and you choose to delete it, Dragonboat followed your instruction and did exact what you requested. Once the Config Change proposal is committed, it is permanently stored in the Raft Log and it will always be replayed. I don't see anything invalid here.

The root question here is that why you choose to delete the only node from the cluster? If you intention

[2019-06-24 02:35] lni commented on #75
@xianglinghui

I am waiting for further information from you on why the only node in a Raft cluster is deleted. I'd like to  understand is there any real use case for such membership change.

[2019-06-25 06:59] lni commented on #67
done 8b4badb3ea93f3a437c96e3519b9872e90c5a9f2

[2019-06-25 06:59] #67 closed, assigned to lni

[2019-06-26 06:04] #46 closed, assigned to nobody

[2019-06-26 06:07] lni commented on #75
I have updated the membership change part, it has been made more resilient to the following unexpected requests -

* deleting the only node from a cluster will be rejected
* promoting an observer using a AddNode request with different address will be rejected

The following bug has been fixed -
* adding an existing node/observer with different address will be rejected

v3.0 release has been patche

[2019-06-26 06:07] #75 closed, assigned to nobody

[2019-06-26 06:18] lni commented on #74
In v3.x, users who want their proposed entries to be compressed can do that in their applications.

[2019-06-26 09:38] lni commented on #73
done, 6019fd355b75df8e8e8ce289a07422b63f1b7798

[2019-06-26 09:38] #73 closed, assigned to lni

[2019-06-27 07:58] lni opened #76 "Return error immediate after the request is dropped"
When making proposals/config changes/read index requests, requests can be dropped when leader is not ready. In v3.0 and earlier, users will have to wait until timeout to get notified.

Although it is impossible to catch all such cases, we should return error immediate after the request is dropped whenever it is possible & easy to do so.

[2019-06-27 08:02] lni commented on #76
Added in 5c22480b8dbf3129d9b720e8c4f1b27a69c2e5b3

NodeHost.SyncRead, NodeHost.SyncPropose return ErrClusterNotReady when such read/write requests are dropped.

When using the async version of such requests, the returned RequestResult value will report Dropped() == true.

[2019-06-27 08:02] #76 closed, assigned to lni

[2019-06-30 05:09] lni opened #77 "Default NodeHostConfig.DeploymentID not correctly handled in ImportSnapshot"
One user reported offline that ImportSnapshot failed to work in their test environment. It turns out to be caused by the NodeHostConfig.DeploymentID handling in ImportSnapshot.

Basically, in NodeHost, default NodeHostConfig.DeploymentID is 1, while ImportSnapshot considers the 0 value as the default.

[2019-06-30 05:11] lni opened #78 "ExportSnapshot should not be rejected when a snapshot has already been generated"
When exporting a snapshot, it should not be rejected when a snapshot has already been exported.

[2019-06-30 05:14] lni opened #79 "ImportSnapshot is broken on IOnDiskStateMachine"
ImportSnapshot is broken on IOnDiskStateMachine. It fails to handle the case of rolling back progress on existing user state machine.

[2019-06-30 15:22] lni commented on #79
fixed in the master branch, v3.0 release will be patched later after more testing

[2019-06-30 15:22] lni commented on #77
fixed in the master branch, v3.0 release will be patched later after more testing

[2019-06-30 15:22] #77 closed, assigned to lni

[2019-06-30 15:23] #79 closed, assigned to lni

[2019-06-30 15:23] #78 closed, assigned to lni

[2019-07-01 06:00] ghost opened #81 "each ReadIndex request will trigger a heartbeat ?"
the _handleLeaderReadIndex_ function in the ‘raft.go’ , line 1400 .
Does it mean that every _ReadIndex_ request triggers a heartbeat ?
Should they be combined into one heartbeat ?

[2019-07-01 06:23] lni commented on #81
ReadIndex requests are always batched whenever possible, please see requests.go and node.go for details.

[2019-07-01 06:23] #81 closed, assigned to nobody

[2019-07-04 13:29] #1 closed, assigned to nobody

[2019-07-04 13:34] lni commented on #68
completed in #71, some minor issues are going to be addressed in separated PRs

[2019-07-04 13:34] #68 closed, assigned to nobody

[2019-07-11 11:41] lni opened #84 "Remove the 32mbytes max proposal payload size restriction"
Colfer has this max serialized size restriction on colfer defined types, we inherited that. No user has raised any concern yet but this is obviously not something desirable.

Remove the 32mbytes max proposal payload size restriction.

[2019-07-11 11:56] lni opened #85 "Raft log's inmem not recycling all of its shrunk elements"
When working on #84, it came to my notice that Raft log's inmem doesn't recycle all of its shrunk elements.

The underlying Go runtime issue is described in github.com/golang/go/issues/9618.

[2019-07-12 04:00] lni commented on #84
The above described restriction has been removed in cd5dfedbede9b3d574973773cf7a9db6f5a5b653

ErrPayloadTooBig is now only returned when the proposal payload is larger than user specified Config.MaxInMemLogSize.

[2019-07-12 04:00] #84 closed, assigned to lni

[2019-07-12 04:01] lni commented on #85
resolved in a6952afbc285f159025e77f271edff248d132213

[2019-07-12 04:01] #85 closed, assigned to lni

[2019-07-16 04:14] lni opened #86 "Support snapshot compression"
Support snapshot compression

[2019-07-16 05:11] lni commented on #86
A new field named SnapshotCompressionType has been added to config.Config. It can be used to choose whether to compress generated snapshots. Compressed snapshots can always be handled by raft node no matter whether SnapshotCompressionType is set or not.

Snappy is currently supported. Have not got time to check LZ4 implementations in Go, will do that later.

[2019-07-16 05:11] #86 closed, assigned to lni

[2019-07-16 05:12] lni commented on #69
already in master

[2019-07-16 05:12] #69 closed, assigned to lni

[2019-07-21 06:38] lni commented on #74
added for v3.2

[2019-07-21 06:38] #74 closed, assigned to lni

[2019-07-21 06:39] lni opened #88 "Add benchmark results for on disk SM"
Add benchmark results for on disk SM

[2019-07-21 06:40] lni opened #89 "Add examples for recently introduced new features"
add examples to example_test.go

[2019-07-23 09:30] lni opened #90 "UDP based transport"
Dragonboat currently uses TCP based transport for exchanging Raft messages between NodeHost instances. Such strictly ordered reliable transport is not actually required.

The existing TCP based transport is pretty straight forward, it is implemented in a single .go file with only a couple hundred lines of code -
https://github.com/lni/dragonboat/blob/master/internal/transport/tcp.go

It will be ve

[2019-07-28 01:08] 50829637 opened #91 "碰到读写性能严重下降 - Read/Write performance degradation using the C++ wrapper"
你好，发现dragonboat是个非常优秀，非常容易上后，在性能压测过程碰到性能困惑，想咨询下是否使用方法不得当：
1、机器环境：amd 8核 16G，三台， 三台服务器ping 延迟：0.5ms。
2、纯内存，就一个变量。
3、请求直接命中Leader提交

发现现象：
1、仅put，单cluster，min:5ms，max:35ms，avg:18ms，从服务端统计看，2.3w/秒，并发连接：600
2、仅get，单cluster，min:3ms，max:22ms，agv:13ms，从服务端统计看，3.8W/秒，并发连接: 600
3、读写=10:1，单cluster，min:3ms，max:1.5秒，从服务端统计看，读:1.3W/秒，写1000次/秒，并发连接 600

读写混合的时侯，性能下降特别厉害，不知道为何？

[2019-07-28 12:34] lni commented on #91
The biggest concern here is that your average latency is 13ms when doing read only queries. I'd recommend to profile your own code to see what is introducing such huge delays.

Using 600 concurrent clients on 1 Raft cluster backed by a in memory state machine, when ping time between two nodes are 0.6ms, I got close to 300,000 reads per second and the avg delay is 2ms -

[code]

when ping time betw

[2019-07-28 12:34] #91 closed, assigned to nobody

[2019-07-29 06:50] 50829637 commented on #91
c++代码：
get 请求过来先调用了： `rs = g_nh->ReadIndex(ullClusterID, timeout, p_pcsMyAsyncEvent);`，
然后 dragonboat::Event 类的set 函数中， 调用：`rs = g_nh->ReadLocal(ullClusterID, query, ret_buf);`

[2019-07-29 11:11] lni commented on #91
@50829637

I've updated the title to state that your reported issue happened when using the C++ wrapper.

You may want to have a look at the example below. Note that libcppcoro is not strictly required, you get much higher throughput when your threads used for calling calling ReadIndex/ReadLocal are created by the Go runtime. See CRunIOServiceInGo() and its C++ binding RunIOServiceInGoRuntime() fo

[2019-07-30 10:02] lni commented on #90
some guic-go benchmark results generated by github.com/marten-seemann/quic-go-benchmarks

[code]

[2019-07-31 12:47] choleraehyq opened #93 "raftpb/raft_optimized.go的生成脚本是 - How raftpb/raft_optimized.go is generated"
raft_optimized.go 是用 colfer 生成的吧，好像在 raftpb 里只有一个 pb 的生成脚本，好像没有 colfer 的生成脚本。

[2019-07-31 13:08] lni commented on #93
The colfer definition used to generate the original raft_optimization.go only covers the Entry type. I made some modification to the generated code as well, e.g. added those SizeUpperLimit methods. From memory, those Messages/MessageBatch methods were modified from protobuf generated code.

In short, the colfer definition file is not included because raft_optimized.go is not actually generated fro

[2019-07-31 13:08] #93 closed, assigned to nobody

[2019-08-05 04:57] abbccdda opened #94 "raft#restoreRemotes makes raft node blindly become follower"
This code logic in internal/raft.go:
[code]
accidentally set raft node itself to follower. The original purpose was to make local observer remotes become followers during remote snapshot restoration, if the snapshot indicates it as a normal member.
As @lni discovered, the potential impact of this bug is that for 2 observers `x` and `y`, where `x` is fully caught up but `y` lags behind, snapshot wi

[2019-08-05 09:17] lni commented on #94
Thanks @abbccdda for reporting this issue.

[2019-08-05 09:17] #94 closed, assigned to nobody

[2019-08-08 10:12] xkeyideal opened #95 "Ondisk GetHash function application?"
See the docs `The hash should be generated in a deterministic manner which means nodes from the same Raft cluster are suppose to return the same hash result when they have the same Raft Log entries applied.`

See the example of ondisk, the GetHash function generate by all kvs md5.

if the GetHash return different value of nodes from the same Raft cluster, what will happened?

the example of ondisk

[2019-08-09 11:57] lni commented on #95
Hi @xkeyideal, as mentioned in the doc, GetHash is optional so you don't need to implement it.

It is currently not used/checked, so nothing really happens if different nodes of the same cluster return different hash values. In the future, we might use GetHash() to provide users the ability to check the consistency of their state machines.

I will remove those GetHash methods from the examples soo

[2019-08-09 11:57] #95 closed, assigned to nobody

[2019-08-09 12:02] lni opened #96 "Remove the GetHash() method from examples"
Remove the GetHash() method from examples, they are confusing users.

see details in #95

[2019-08-09 21:49] vtolstov commented on #90
can you compare also kcp ? and what implementation of go-kcp used?

[2019-08-12 01:15] xkeyideal commented on #95
Thx for your answer

[2019-08-12 03:18] hejiew opened #97 "too much rocksdb log"
the LOG file of rocksdb is big ,how to set rocksdb config like info_log_level and keep_log_file_num

[2019-08-18 03:51] lni commented on #97
Thanks for reporting the issue. It has been fixed in the Master branch.

[2019-08-18 03:51] #97 closed, assigned to nobody

[2019-08-19 08:49] xkeyideal opened #98 "OnDisk Update() can improve performance like this?"
[code]

if the raft node `ents[firstIndex].Index < appliedIndex < ents[lastIndex].Index`, can do above codes?

[2019-08-20 01:30] xkeyideal commented on #98
`When there is any connectivity error between the local node and the remote
node, an ErrSnapshotStreaming will be returned by io.Writer's Write method
 when trying to write data to it. The SaveSnapshot method should return
 ErrSnapshotStreaming to terminate early.`

In SaveSnapshot function how to handle the `ErrSnapshotStreaming`, can give an example?

[2019-08-21 09:32] lni commented on #98
@xkeyideal it is all up to you how you want to optimize the Update() method in your state machine. the most important thing here is that your Update() method must apply all entries supplied to it and correctly record the index of the last applied entry.

In Update(), your code normally doesn't need to query what is the last applied index as all entries supplied to Update() will be the ones that ha

[2019-08-21 09:32] #98 closed, assigned to nobody

[2019-08-22 01:17] xkeyideal commented on #98
got it, thx

[2019-08-28 06:26] xkeyideal opened #100 "provide an ondisk statemachine example"
this is my multi-group raft ondisk statemachine example based on dragonboat [mraft](https://github.com/xkeyideal/mraft).

Because the understanding of this framework is not deep enough, the example maybe have some faults, PTAL.

Follow-up will be used in the production environment to instead of database store datas, reduce database component dependencies and network overhead between application wi

[2019-08-28 08:15] lni commented on #100
@xkeyideal examples, including the on disk example, can be found in https://github.com/lni/dragonboat-example

note that the above mentioned examples are just examples, they are _NOT_ benchmark programs as they are intentionally implemented in the most straight forward way.

[2019-08-28 08:15] #100 closed, assigned to nobody

[2019-08-28 08:26] xkeyideal commented on #100
I know the dragonboat-example and see them detail.

Now I write an application based on dragonboat, and I want to apply production environment.

Please take a look my codes and i have some questions.

If you can, we can communicate in Chinese, my English is poor, leads to unclear statements.

we communicated on zhihu.com private letter a few months ago.

[2019-08-28 08:33] lni commented on #100
@xkeyideal

Sorry but I won't review your application.

[2019-08-28 08:44] xkeyideal commented on #100
I means the application maybe enrich the example.

So,  can you answer the above two questions

[2019-08-28 08:53] lni commented on #100
I've just email you, please have a look. for your questions -

1. the state machine instance is created by a user supplied factory function, users can choose whatever methods to configure their own state machine, it has really nothing to do with the raft library.

2. Sync() is similar to Linux's fsync() API - it synchronizes the in-core state with storage device. fsync() synchronizes the state of

[2019-08-28 09:15] xkeyideal commented on #100
thx, i replied to your email, please have a look

[2019-08-31 08:35] lni opened #101 "Use Raft Log as state machine"
A potential user mentioned in his email that he wants to use Raft Log as the state machine. In such setup, committed entries won't be pasted to any user state machine as the Raft Log is the state machine. User applications can query the Raft Log to get what they want.

[2019-10-09 12:48] caiwk opened #102 "use hard-link as snapshot"
In our situation on diskStateMachine , we use multi raft to manage distribute file system, we  use hard link as snapshot to save  a lot of time of saving big file to snapshot-file, although the snapshot file could  change after being captured, we think raft log will cover these changes and finally the state in new node will be same as leader
but the problem is we can only read hard-link(metadata)

[2019-10-10 02:39] #102 closed, assigned to nobody

[2019-10-17 09:09] caiwk opened #103 "mem never come down"
every entry is 4M []byte , ondiskStateMachine
while my app is working ,  the mem is growing util 100%. the mem never come down although stop the work of the app, I have to kill the app to release the mem.
this is the mem pprof below,

[code]
it's a bug or something wrong in my code ?

[2019-10-17 09:55] lni commented on #103
It seems that those 4Mbytes entries were never released - they can't be released until applied into your SM. Please check again to see whether all those proposed entries have been committed & applied.

Please also note that while entries are expected to stay in RAM until applied, you can use Config. MaxInMemLogSize, NodeHostConfig.MaxSendQueueSize and NodeHostConfig.MaxReceiveQueueSize to control

[2019-10-17 11:24] caiwk commented on #103
I tried to set the Config. MaxInMemLogSize, NodeHostConfig.MaxSendQueueSize and NodeHostConfig.MaxReceiveQueueSize to control the max RAM size,but it doesn't work,the mem still growing...
my code called
`
_, err = nh.SyncPropose(ctx, cs, data)
`
if err == nil ,can I consider this entry has been applied into SM?and then `data` will be released?

[2019-10-17 16:41] lni commented on #103
I have the feeling that I have found the problem. The root causes are in internal/raft/inmemory.go, one of the problems is related to the way how im.entries is resized.

[2019-10-19 06:59] caiwk commented on #103
actually I have not found the problem , I changed the entry size from 4M to 100k, the mem% could be stable at 14%(64G mem total, 100 multi groups) , I also changed the settings.Soft.InMemEntrySliceSize and settings.Soft.MinEntrySliceFreeSize from 496,96 to 100,50,it seems dosen't work
anyway, I can change the entry size to keep my app working normally

[2019-10-19 09:39] caiwk commented on #103
I have another problem :
I create 40 raft groups which handle write operation,a rocksdb raft group which record each  write operation

after each write operation, every write-raft-group will call rocksdb.DoOp() in its *OnDiskStateMachine.Update() method to record this op.
[code]
my code about rocksdb just same as dragonboat-example's ondisk.go

### the problem is
every write-raft-group blocked in

[2019-10-23 05:45] lni commented on #103
@caiwk please open a new issue for the new one.

for the reported memory issue, please provide a minimum program that can re-produce the symptom

[2019-10-23 06:44] lni commented on #103
@caiwk please also try the release 3.1.3 to see whether you still have the excessive memory usage issue when using 4MBytes entries.

[2019-10-23 15:40] #103 closed, assigned to nobody

[2019-10-24 03:00] caiwk opened #104 "some problem between raft groups"
I create 40 raft groups which handle write operation,a rocksdb raft group which record each  write operation

after each write operation, every write-raft-group will call rocksdb.DoOp() in its *OnDiskStateMachine.Update() method to record this op.
[code]
my code about rocksdb just same as dragonboat-example's ondisk.go

### the problem is
every write-raft-group blocked in DoOp
`_, err = nh.SyncPro

[2019-10-24 03:32] lni commented on #104
You are not allowed to make a SyncPropose inside your SM's Update() method - to allow SyncPropose to complete, the SM has to invoke its Update method in its worker goroutine. In your program, the SM can  not have its Update method invoked because your call to SyncPropose is blocking the previous call to Update to be completed.

[2019-10-24 03:32] #104 closed, assigned to nobody

[2019-10-24 03:35] lni commented on #103
The issue I described above is not really relevant to the reported symptoms.

@caiwk please also try the release 3.1.3 to see whether you still have the excessive memory usage issue when using 4MBytes entries, please also provide the detailed steps (e.g. a minimum program) that can reproduce your problem.

[2019-10-24 03:37] lni commented on #104
@caiwk I've also updated #103 and waiting for your responses. Please feel free to re-open #103 when you are ready to provide more info on that issue.

[2019-10-24 03:47] caiwk commented on #104
although there are two different SM,one SM.update() still can not call to another SM's Syncpropose?why? I'm confused about it.
If it's true , why it wouldn't block if  I change the number of write-raft-group  from 40 to 10?

[2019-10-24 04:26] lni commented on #104
each worker goroutine used for executing SM's Update method is assigned to handle multiple raft groups.

[2019-10-24 06:59] caiwk commented on #104
thx

[2019-10-26 08:36] lni commented on #103
The reported issue exists in v3.1.x, it was fixed in the master branch back in July but never got released. v3.1.4 has been released to address this issue.

[2019-11-01 07:44] zhangxu19830126 opened #105 "Terminate a snapshot during the transfer"
In `IOnDiskStateMachine`,  the `SaveSnapshot` is responsible for generating and sending snapshots to other nodes. This process may last for a long time. When other nodes receive the complete snapshot, it is found that the snapshot may expire, so it is expected to add one to terminate on the leader node. The function of the snapshot currently being sent, can generate a new snapshot

[2019-11-06 04:56] #105 closed, assigned to nobody

[2019-11-06 10:06] hicqu opened #106 "Seems witnesses shouldn't be count when committing entries"
### Dragonboat version
master.

### Expected behavior
I guess it's better if witnesses won't be count when committing entries.

Suppose we have a Raft group with nodes `A, B, C, D E`. `A, B` are in one datacenter and `C, D` are in an another one. All of them are voters except `E`, which is a witness. For now if any datacenter fails, we could lost some latest writes if those entries are committed b

[2019-11-07 02:11] lni commented on #106
This is expected. A witness node doesn't have the actual log, there is a price to pay for that and that price is the reduced availability.

Such reduced availability impact has also been analyzed in details in the context of Raft by the author who first came up with the witness idea. Please see the paper below.

https://www.researchgate.net/publication/280091830_Reducing_the_Energy_Footprint_of_a_

[2019-11-07 02:11] #106 closed, assigned to nobody

[2019-11-08 07:55] nemo1105 opened #107 "Miss windows go files"
### Dragonboat version
V3.1

### Expected behavior
build pass

### Actual behavior
build failed

### Steps to reproduce the behavior

1. Use Windows
2. Make a simple application just copy two files from examples/hello world
3. go mod tidy
4. go build -a -v -tags=dragonboat_no_rocksdb
5. build failed. The error message is
[code]

### Resolve this problem

Copy two files from https://github.com/lni/

[2019-11-08 11:11] lni commented on #107
@wclssdn please use the master branch if you want to run dragonboat on windows. The issue mentioned above was resolved in the master branch several weeks ago, there were also a few other windows specific fixes as well.

Please feel free to report issues when you see anything strange in windows.

[2019-11-08 11:11] #107 closed, assigned to nobody

[2019-11-12 07:40] UAvinash7 opened #108 "What happens when there is 50:50 ratio in consensus voting mechanism considering the fact that we are going with odd number of nodes and provided that one nodes goes off-line before submitting their response"
Hi @lni
I was exploring dragonboat multigroup libraries set and came across an interesting question which is: I've a leader node and 4 follower nodes where leader is proposing a transaction as valid (i.e. true) where as follower node F1 also proposing the transaction as valid, but follower nodes F3 and F4 are proposing the transaction as invalid (i.e. false) and during the same time the follower n

[2019-11-13 01:56] motecshine commented on #108
In 'raft paper', all events will be handled by the leader (strong leader).

[2019-11-14 12:16] lni commented on #108
In raft, nodes in a raft cluster do not vote on proposals, thus there won't be such 50:50 split vote.

[2019-11-14 12:16] #108 closed, assigned to nobody

[2019-11-15 11:51] UAvinash7 commented on #108
Hi lni,
Thanks for prompt response!
Now need one more clarification from you:
Consider a RAFT Cluster with 5 nodes (1 Leader and 4 Followers). Here, there is a clear chance that two followers may vote for a proposed transaction as yes and the remaining two followers may vote as no. How do you handle this tie in dragonboat?
Awaiting your response!
Thanks in advance!

[2019-11-16 10:41] lni commented on #108
@UAvinash7 as explained above, nodes do not vote for proposals in Raft. If you want to know what happens when two followers *propose* certain value while two other followers *propose* something different at the same time, for such case, all proposals will be passed to the leader first and then got processed like all other regular proposals - nothing is really special here.

I'd recommend you to re

[2019-12-02 01:20] lni opened #111 "Allow logdb compaction to be manually triggered"
In the current implementation raft log compaction is always followed by a logdb compaction to reclaim disk space. One of dragonboat's users reported that that this caused high IO overhead in their system.

Add the ability to allow logdb compaction to be manually triggered.

[2019-12-02 01:21] lni opened #112 "Use logical clock in request.go's APIs"
Use logical clock in request.go's APIs

[2019-12-03 11:38] lni commented on #112
done in d72a5934d60810628731a405226e6db815d5239f

[2019-12-03 11:38] #112 closed, assigned to lni

[2019-12-08 07:08] lni opened #113 "Target RocksDB v6.4 by default"
Target RocksDB v6.4 by default.

The range delete feature was declared as stable several months ago, didn't see any new bug report after the v6.4 release, it also seem to be working fine on my own system.  Time to restore the range delete support.

[2019-12-10 08:19] lni opened #114 "Depreciate LevelDB support in LogDB"
LevelDB support was added as a compromise to allow users to use dragonboat without manually installing any C/C++ libraries (how to install rocksdb was the most frequently asked question).

LevelDB support in dragonboat will be depreciated once the Pebble support has its "experimental" label removed.

[2019-12-10 08:21] lni commented on #113
done in d97762b5019e56c093d665374d8753b5cac788f8

[2019-12-10 08:21] #113 closed, assigned to lni

[2019-12-10 08:22] lni commented on #111
Added NodeHost.RequestCompaction, see f604b2f3909fd0c3aa49270a8bcd5034b9c3d8c0

[2019-12-10 08:22] #111 closed, assigned to lni

[2019-12-13 07:38] yingfeng opened #115 "Why not choosing a naive WAL implementation for LogDB?"
From the past issues I notice that RocksDB is selected as the raft log store, and others are temporarily not used due to the durability issues.
However, as a multi-raft library, why not choose the naive log implementation instead of a KV engine? The  innegligible overhead of transaction mechanism, as well as merge operations within RocksDB which often trigger writing stalls,  could be avoided when

[2019-12-14 13:03] lni commented on #115
Because the requirement is not that "naive".

Any plan to write (solid reliable) one for a real open source system? Will be delighted to follow that project and contribute.

[2019-12-29 05:46] choleraehyq opened #116 "Support using badger as LogDB"
https://github.com/dgraph-io/badger has already been used heavily in dgraph.

[2019-12-29 06:44] choleraehyq commented on #116
duplicate with https://github.com/lni/dragonboat/issues/18, sorry.

[2019-12-29 06:44] #116 closed, assigned to nobody

[2019-12-29 08:45] fscnick opened #117 "make install-rocksdb-ull failed when building rocksdb"
### Dragonboat version
v3.1.5

### Expected behavior
success

### Actual behavior
[code]

### Steps to reproduce the behavior
Try to build a docker image with dockerfile as follow, but failed.
[code]

[2019-12-29 13:18] lni commented on #117
It seems to be an alpine linux issue. Given you are using that third RUN command to build and install rocksdb, any chance you can just get the rocksdb-dev package from alpine's apk?

[2019-12-29 14:57] lni commented on #117
Closing this as this is not a dragonboat issue.

I got the exact same error when building RocksDB using the default ash shell from Alpine linux's busybox. Everything works fine once I switched to bash.

[2019-12-29 14:57] #117 closed, assigned to nobody

[2020-01-07 01:49] yingfeng commented on #115
Perhaps [this one](https://github.com/eBay/Jungle) could be a possible candidate.

[2020-01-07 02:10] lni commented on #115
@yingfeng Thanks for the info. Jungle looks interesting, will definiately read its paper when I have time.

That being said, jungle features a combation of LSM and B+-tree. With essential features like multithreaded write, truncation and crash consistency in mind, I doubt anything practical in such a production system can be regarded as "naive". ;)

[2020-01-07 02:41] yingfeng commented on #115
Actually, [this](https://github.com/chubaodb/chubaodb/tree/e215c4f36ede33422f16676718a3d49d2f3963d6/dataserver/src/raft/src/impl/storage)  solution is what I mentioned previously, it's a real "naive" solution.

[2020-01-07 03:12] lni commented on #115
@yingfeng I had a quick look at that Jungle paper, but I am not convinced that it is a sound solution. Please check its cost analysis results (table 1) for more details - note that there is no point/range query during dragonboat's normal operations and space amplication is not a high priority.

ChubaoDB's log store is similar to the one used by etcd - it is a raft log store designed for single nod

[2020-01-07 05:21] yingfeng commented on #115
Although the point/range query performance is not that important for raft log,  the write amplification is indeed smaller than general LSM store, so I think it might perform better than RocksDB especially when integrating Dragonboat with other persistent engines . The weakness of Jungle is it is not dedicated to log store although it claims to be because it has considered a lot on lookup performan

[2020-01-08 01:33] lni commented on #115
As mentioned by that Jungle paper itself in its table 1, its write amplification is pretty close to LSM with tiering. RocksDB support a certain type of such tiering. Known as the universal compaction, it specifically targets the high write amplification issue. Now it all comes to a simple question - why Jungle's author didn't include Jungle vs RocksDB results in terms of write amplification? See t

[2020-01-08 02:17] yingfeng commented on #115
Yes, the "native" solution of log store, will cause serious performance issue due to concurrent fsync() from lots of WAL log files. It could be resolved through a centralized IO scheduler which calls the real fsync() while eash WAL file itself will not call fsync() directly. This is similar with many database engines, such as the [lock free WAL of MySQL 8.0](https://mysqlserverteam.com/mysql-8-0-n

[2020-01-09 03:00] lni commented on #115
@yingfeng The new MySQL WAL is not that "naive". That being said, if anyone is interested and has a concrete prototype ready for integration & dicussion, I'd be more than happy to assist.

[2020-01-12 05:12] lni commented on #115
I tried the Universal Compaction in RocksDB and it does reduce the write amplification in typical multi-raft workload. Will add that as an option so interested users can enable it if they want.

[2020-01-12 07:58] lni commented on #115
Universal style compaction has been added, it is experimental, more testing is required before using it in production. It should be able to help reducing write amplification.

[2020-01-12 07:58] #115 closed, assigned to nobody

[2020-01-12 08:46] lni opened #118 "Better universal compaction support"
Universal compaction in RocksDB has been supported in Dragonboat, it can help to reduce write amplification compared to the default leveled compaction.

The current support is marked experimental as more testing is required, universal compaction options are not supported.

[2020-01-16 07:25] UAvinash7 opened #119 "Randomly creating a cluster of chosen nodes for block verification (out of all the nodes based on a particular type of asset transaction(s)) in a raft based consensus algorithm"
Is there any functionality in dragonboat raft library that allows randomly creation of cluster of nodes for a block that is proposed for block verification from majority of nodes in that particular cluster and canonical chain addition based on the particular type of transaction (transaction may be classified on asset/commodity type) that a block.

Here in this context, block contains a particular

[2020-01-16 08:54] lni commented on #119
Please fill in the issue template before submitting issues.  Please specify what you expect and what actually happened, provide details can also help.

Please also note that cc every single contributor is really not necessary.

[2020-01-16 08:54] #119 closed, assigned to nobody

[2020-02-21 16:53] huanyang712 opened #120 "where is drummer?"
RT.

[2020-02-22 05:06] lni commented on #120
Drummer is no longer provided as an open source component.

[2020-02-22 05:06] #120 closed, assigned to nobody

[2020-02-26 08:41] zhiqiangxu opened #121 "能否描述下dragonboat对节点加入和退出的处理？"
raft的实现其他部分基本都严格按照论文，唯独节点的处理，各个实现都有比较大的出入，能否简单描述下dragonboat对这块的处理？

[2020-02-27 04:23] #121 closed, assigned to nobody

[2020-02-27 04:27] lni commented on #121
Please note that the issues section is used for bug reporting and feature requests.

[2020-02-29 11:36] winwisely99 commented on #120
What was drummer ?

[2020-02-29 14:53] lni commented on #120
Drummer is a program used for monkey testing dragonboat.

[2020-03-29 07:21] lni opened #122 "Use Pebble as the default LogDB storage engine"
Switch to pebble as the default LogDB storage engine.

Existing users using RocksDB as the LogDB storage engine will be able to transparently migrate to pebble as pebble provides bidirectional compatibility with RocksDB.

[2020-04-03 15:15] Iulian7 opened #123 "Project maintenance and continuity"
Firstly, this is a fantastic contribution to the Go ecosystem as a whole and a much needed one at that. So really great work!

I have a couple of questions:
1. Is the library used in production anywhere?
2. This project seems to be maintained by a single person. Is it a personal project or is there a plan/roadmap to get wider adoption and support?

Thank you,
Iulian

[2020-04-04 04:46] lni commented on #123
This library has been used by several medium to large sized Chinese internet companies for their production systems, e.g. 58.com. There are probably many small companies using it as well.

Contribution to the project is always welcomed.

[2020-04-04 04:46] #123 closed, assigned to nobody

[2020-04-07 06:42] gxglls opened #124 "Protobuf register conflict when use dragonboat and etcd in one project"
### Dragonboat version
Dragonboat  v3.2.0
### Detail
my project use dragonboat  and etcd at the same time ，when I complile and run , process crash at protobuf register part:
[code]

I use grep  find that  etcd(v3.3.19) exist a same named file raftpb/raft.pb.go in path github.com/coreos/etcd@v3.3.19+incompatible/raft/raftpb/raft.pb.go,  which invoke proto.RegisterEnum to Register the same Enum as D

[2020-04-07 09:15] lni commented on #124
This is actually a protobuf issue.

That being said, to allow users to use dragonboat + etcd together for whatever reason they want, I've updated dragonboat (https://github.com/lni/dragonboat/commit/e7ff2aaff505870b94f79806b1538e36192748af) to bypass this reported issue.

Dragonboat only uses a very small subset of features in protobuf (marshaling/unmarshaling objects only), I guess the above chan

[2020-04-07 10:38] gxglls commented on #124
it work for me.   This is actually a protobuf  design problem.  thanks !

[2020-04-07 10:39] #124 closed, assigned to nobody

[2020-04-07 11:38] lni commented on #124
Will make a v3.2.1 release with this change in the coming couple of days

[2020-04-12 13:54] 256dpi opened #125 "Read Custom Index"
I'm currently looking into implementing linearizable sessions with dragonboat. I know that there are already API's that provide this functionality e.g. `SyncRead`, `ReadIndex`, etc. However, those guarantee linearizability over all writes and reads issued against the node.

What I'd like to do, is to get the latest index from a `Propose` result and plug that into `ReadIndex` to only wait until tha

[2020-04-12 14:24] 256dpi opened #126 "Recyclable Entry Result Data"
In my project I make heavy use of the possibility to attach a result to the processed state machine entry. I'm already using a buffer pool for all transformations within the update, but it seems that there is currently no way to recycle the entry result data slice.

My proposal would be to add the possibility to register some sort of callback on the result that is called once the data slice is not

[2020-04-13 05:10] lni commented on #125
When a proposal is completed successfully, it indicates that the proposed entry has been applied on the node where the proposal was made, you can then use StaleRead to do whatever you like.

[2020-04-13 11:27] 256dpi commented on #125
Just to clarify: When a proposal is completed i.e. `SynPropose` returns, the entry has been committed to the local log **and applied to the state machine** even if the local node is just a follower? Up until now, I was under the impression that `SyncPropose` would return after the leader committed and applied the entry, hence the need for `SyncRead` or `ReadIndex`.

[2020-04-14 12:49] lni commented on #125
Correct.

Note that the above described approach assumes that there is no node restart between the completion of the mentioned proposal and your stale read.

[2020-04-14 13:53] lni commented on #126
I think it is better to give users full control of what they want to return as a part of the Result struct. An interface{} is probably better here. If that gets added, the next question is whether Data []byte should be depreciated.

[2020-04-14 18:00] 256dpi commented on #126
Based on what we discussed in #125 I assume that the result is actually set by the local node processing the state machine update? If yes, it would be amazing if there is the possibility to also attach an object to the proposal to prevent another decoding step when performing the update. The same object could the be used in return to attach a result from the update method (assuming it points to so

[2020-04-14 20:17] dioptre opened #127 "Whats the best way to remove a node after it's been failing"
If I get a lot of these errors I'd like to remove the nodehost:
```roo_roo.0.iyk7jxr4gdmt@docker2-prod    | 2020-04-14 20:14:32.809352 W | transport: breaker 192.168.9.92:6300 to 192.168.9.97:6300 failed, connect and process failed: dial tcp 192.168.9.97:6300: connect: no route to host```

What's the best approach to detect these and deal with them?

Thanks
Andrew

[2020-04-15 15:06] lni commented on #127
It basic says the nodehost identified as 192.168.9.97:6300 is not reachable. It is up to your application to determine whether that machine actually failed or it is just connectivity issue.

In my systems, I have separate servers to monitor all my nodehost instances, each nodehost periodically ping those servers to report it availability. A nodehost is considered as dead once it fails to send say

[2020-04-15 15:32] lni commented on #126
Yes.

It is not that straight forward.

Consider there are three nodes in a cluster, let's call them A, B and C, assuming A is the leader. When user starts a proposal on node B, which is a follower, the proposal will have to be passed to node A first and eventually gets replicated back to B as a part of the entry replication procedure. Such attached object makes the process more complicated - shal

[2020-04-16 04:30] lni commented on #126
To implement what you described above using the current version of dragonboat, you can just associate your Object with the RequestState instance returned by the Propose method and invoke the attached Object when your proposal is successfully completed.

[code]

[2020-04-16 21:04] dioptre commented on #127
Ok thanks!

[2020-04-18 01:18] dioptre commented on #127
I implemented it this way, look ok?
https://github.com/sfproductlabs/roo/blob/master/roo/kvwatcher.go
Had a second question too, is there a way to listen to an event for the peer that gets kicked so they can rejoin? Or do you bother?

[2020-04-19 07:31] lni commented on #127
@dioptre

There is a ConnectionFailed event you can subscribe to -
https://github.com/lni/dragonboat/blob/master/raftio/listener.go#L65

To subscribe to the event, you need to implement the raftio.ISystemEventListener interface and set it here -
https://github.com/lni/dragonboat/blob/master/config/config.go#L329

I don't use it in my system, that event listener is added to help some tests.

[2020-04-20 17:55] dioptre commented on #127
That's great thanks mate

[2020-04-24 05:17] #127 closed, assigned to nobody

[2020-04-24 05:34] dioptre opened #128 "Reducing Memory"
### Dragonboat version
3.2
### Expected behavior
Memory use significantly less than 1G
### Actual behavior
Memory hovers around 1G
### Steps to reproduce the behavior
Hi mate,

One of my early adopters of roo using a small online machine ran out of memory while installing, and I realized that the resident memory of my setup is also around 1G. I noticed here https://github.com/lni/dragonboat/issues

[2020-04-25 03:44] lni commented on #128
Thanks for reporting the issue! Will look into this during the weekend.

[2020-04-25 10:02] lni commented on #128
Hi @dioptre

I've made some changes to the master branch, please give it a go and see whether it solves your memory consumption issue. Will patch the release-3.2 branch and make a patch release if it works.

Please note that the master branch has been updated to use pebble as the default storage engine for LogDB, this is different from those v3.2 releases. To use RocksDB internally in dragonboat,

[2020-04-27 20:50] dioptre commented on #128
Thanks mate, will take a look in the next few days and let you know.

[2020-04-29 06:47] lni commented on #128
@dioptre

I've made some more changes to give users easier control on memory consumption.

You can now set the LogDBConfig field of your NodeHostConfig to the returned object of  config.GetTinyMemLogDBConfig() to ensure dragonboat's LogDB doesn't use more than 256MBytes RAM. See config/config.go for other memory size options.

Before this change, the above settings can only be set by using a JSON

[2020-04-29 08:05] ibytechaos commented on #128
@lni I just tried master branch,  memory usages from 1g reduce to 100M

[2020-04-29 08:21] ibytechaos commented on #128
@lni "Please note that the master branch has been updated to use pebble as the default storage engine for LogDB, this is different from those v3.2 releases"
I noticed that v3.2.2 still need rocksdb, but master branch dont, It is convenient for you to release a new version that use pebble as the default storage engine for LogDB?

[2020-04-29 12:14] lni commented on #128
@ibytechaos

Dragonboat v3.3 will be released once pebble is marked as production ready by its developers. Pebble's initial plan is to do that in Sprint 2020, it might got slightly delayed because of the COVID-19.

You should see more memory footprint reduction in the next few days, one of them is actually caused by some recent changes in pebble, I will talk to the pebble devs to get it sorted out

[2020-05-01 02:28] lni commented on #128
interestingly, I can no longer reproduce the high memory footprint issue in pebble.

[2020-05-01 14:41] lni commented on #128
closing this issue for now, pls feel free to reopen if you see more memory footprint related issues.

[2020-05-01 14:41] #125 closed, assigned to nobody

[2020-05-01 14:48] lni commented on #126
I was about to implement the above proposed change this afternoon, when I realized that this wasn't done in the current version for a reason - results returned by the Update method need to be associated with proposal sessions and they are marshaled and stored as a part of the snapshot util clients explicitly notify the system that they have received those results.

When returning an interface{}, t

[2020-05-01 14:48] #126 closed, assigned to nobody

[2020-05-04 14:00] 256dpi commented on #126
Thanks for looking in to this! Makes sense to keep an encoded version of the Update result around for the session feature.

As you pointed out, the application may store decoded versions of the command and update to prevent unneeded decoding when the request is local. In that regard, adding `Object interface{}` would just be an optimization to get rid of the global lookup map. Would be nice if it

[2020-05-06 10:13] 50829637 opened #129 "“dragonboat: dropped an incoming message” 警告为何？"
### Dragonboat version 3.2
压测过程中，某些结点经常性会报这些警告，为何？
2020-05-06 18:09:16.548251 W | dragonboat: dropped an incoming message
2020-05-06 18:09:16.548263 W | dragonboat: dropped an incoming message
2020-05-06 18:09:16.565970 W | raft: [f:1,l:1074873,t:2,c:1074741,a:1074741] [00001:00002] t2 rejected Replicate index 1074929 term 2 from n00001
2020-05-06 18:09:16.565994 W | raft: [f:1,l:1074873,t:2,c:107

[2020-05-06 13:47] lni commented on #129
It means replication messages are being generated faster than it can be processed - you are expected to see such messages in your stress tests, otherwise your stress tests are not generating enough stress.

[2020-05-06 13:47] #129 closed, assigned to nobody

[2020-05-06 17:12] lni commented on #126
My concern is that this is going to make the interface slightly more complicated while the added feature is only used by very limited number of users.

[2020-05-07 02:51] dioptre commented on #128
Looks super stable after an hour at 78M - massive difference thanks mate!

[2020-05-07 17:19] dioptre commented on #128
Ah its doubled overnight to 148. What theoretically happens when it hits the maximum?

[2020-05-08 03:09] dioptre commented on #128
230 eek! @ibytechaos what did you see after a while mate?

[2020-05-08 03:16] lni commented on #128
@dioptre

It is expected for the memory footprint to keep rising until certain limit. When nodehost is first started, there should be a line in the log showing the estimated limit, it looks like the one below on my system -

[code]

If you are using GetTinyMemLogDBConfig() as your logdb config, yours should be

[code]

Could you please keep it running for a couple more days to see whether there wi

[2020-05-08 03:26] dioptre commented on #128
Thanks mate for getting back to me.

Was wondering if my cluster was going to blow up. Phew!

Will get back to you when I see it get to 256 or in a few days.

As you expected:
`roo_roo.0.8d3zeqw4pj4s@docker1-prod    | 2020-05-07 01:00:17.395950 I | dragonboat: logdb memory limit: 256MBytes`

[2020-05-09 18:45] dioptre commented on #128
Ah its crept up to 372M without much intervention from me. Is there a potential leak mate?

[2020-05-09 18:46] dioptre commented on #128
BTW I've kept everything in rocks per your instructions above

[2020-05-11 03:46] lni commented on #128
@dioptre

372M is probably still normal, up to 256M used by the memtables in LogDB plus ~120M by other parts of RocksDB/Pebble and dragonboat. Also note that Go doesn't return all freed heap memory back to the OS, go runtime holds certain amount of memory as well.

Any chance you could take a memory profile of your process and see its in use memory spaces? Maybe just leave it there for another cou

[2020-05-11 05:29] abbccdda opened #130 "Add control flow for membership change"
The current Dragonboat membership change is limited to one node change at a time. If we are going to do a complete move of the Raft group, such as from node 1,2,3 to 4,5,6, we need six commands to make it happen. If the whole process could be automated, that would be a great efficiency saving.

In the Raft paper, there was a suggested path for maintaining two quorums during the membership change w

[2020-05-11 05:46] dioptre commented on #128
OK mate, it is now up to 530M. I was wondering if I could trigger a GC or something. I've been looking at a number of tools to do a full memory log. Have you used libleak? https://github.com/WuBingzheng/libleak or what else would you recommend?

[2020-05-11 05:53] lni commented on #128
@dioptre

Thanks for the feedback.

I normally use golang's built-in memory profiler (https://golang.org/pkg/runtime/pprof/) to dump a heap profile to inspect those in use spaces.

Another quick question I have is how many Raft groups (clusters) are there in your application?

[2020-05-11 07:08] lni commented on #130
Thanks for sharing the idea!

If arbitrary configuration changes is to be supported in a future release, the protocol described in the section 4.3 of the Raft thesis will be the one to be implemented. There is no excessive complexity here - just need to implement & test that well documented simple protocol plus some labor work to update all related test cases.

[2020-05-11 07:08] #130 closed, assigned to nobody

[2020-05-11 20:36] abbccdda commented on #130
Ok, sounds good to me :)

[2020-05-11 21:18] dioptre commented on #128
I use just the one cluster across 4 machines.

I'm adding an initial summary from Valgrind in case anything pops out!

[code]

[2020-05-12 05:10] lni commented on #128
@dioptre

Any chance you can use golang's built-in memory profiler to dump its heap profile to see what is actually using those memory?

[2020-05-12 20:00] dioptre commented on #128
ok mate, i'll run it for a bit and get the heap profile (i'm using this method https://github.com/sfproductlabs/roo/blob/master/README.md#get-some-profiling-info), I hope it's correct - will just let it sit for a day or so on my local machine

[2020-05-13 03:20] lni commented on #128
@dioptre that svg graph produced by the memory profiler will be useful, it will tell you where memory got allocated.

[2020-05-13 09:01] lni commented on #128
@dioptre

I've updated a built-in tool (github.com/lni/dragonboat/v3/tools/checkdisk) to demo that the memory footprint can be sustained at very low level (~500M when using **two NodeHost instances and 48 raft groups**).

Below is the cmd line used in my test, you need a beefy server, say 20+ cores with fast enterprise class NVME SSD (slow NVME SSD on mac won't fit), to run it.  The cmd above did

[2020-05-13 23:08] dioptre commented on #128
Hey mate, I added the pprof to my app, ran it for a day and get:
[code]

![profile001](https://user-images.githubusercontent.com/760216/81874921-e5d47c00-9533-11ea-8d11-1cb468742c95.png)

To summarize, I'm getting ~500M in physical memory and the go profiler is saying 160M? Not sure if I'm radically getting something wrong here....

[2020-05-13 23:22] dioptre commented on #128
Maybe valgrind is right, and its non-garbage collected rocksdb calls (above)? The stack there is after running it only for 30 seconds...

[2020-05-14 02:36] lni commented on #128
@dioptre thanks for the feedback, but I can't really read the content of the png you posted, the font size is way too small for most items on the png. Maybe send me the one in original resolution via email?

That being said, the hotspot (in red) seems to be related to some context instances. Do you have lots of context instances in memory, e.g. ones with very long deadlines, ones you never cancel(

[2020-05-14 20:13] dioptre commented on #128
Will send over soon mate.

I call defer cancel after every context call, and do have some long running tasks, but doesn't account for the missing memory (340M) above.

[2020-05-15 03:32] lni commented on #128
@dioptre

From what I can tell from the above png, ~80MBytes of memory was used by those context instances, that is already half of the memory accounted in the heap profile. Dragonboat doesn't use context internally, you may want to check what is actually using those context instances.

The "missing" memory are mostly memory allocated outside the go runtime (e.g. rocksdb) or caused by the fact tha

[2020-05-16 04:23] dioptre commented on #128
You mentioned the footprint goes away if we use pebble? Do you have a branch or commit you feel is stableish and recommend? Could give some help to a new diskkv example too if you want - I can try the FreeOSMemory (https://code-examples.net/en/q/173f5f1), and track down any leaks in the calls to rocks using valgrind but not sure if its worth the effort if we are moving to pebble soon. I just start

[2020-05-20 18:25] dioptre commented on #128
Definitely something going on in Rocks:
https://github.com/lni/dragonboat-example/blob/master/ondisk/diskkv.go

Ran it for a few hours, and:
[code]

[2020-05-21 03:04] dioptre commented on #128
Updated code again today (https://github.com/sfproductlabs/roo/issues/2#issuecomment-631848919).

Added a GC function (https://github.com/sfproductlabs/roo/blob/982a490698b7de8368973e4a19a0b410ad3a3a2c/roo/kvdocker.go#L151) and cleaned up the http requests, so pprof is now:
[code]
RES is still massive
[code]

Added in a forced GC [debug.FreeOSMemory()], and cleaned out the http contexts and the RE

[2020-05-21 03:52] lni commented on #128
@dioptre thanks for the info.

After running the system for an hour with RES hitting 430M, do you have its memory profile's top20 output? As you can see from the top20 output above and the svg file you emailed me, dragonboat is not using much memory.

You may also want to try the checkdisk tool I mentioned above, it can be used as a demonstration that Dragonboat doesn't use much memory even when t

[2020-05-21 07:28] dioptre commented on #128
I'm going to replace rocksdb.NewLogDB with pebble tomorrow. Seems like the rocksdb implementation used might be a memory vortex. After that, will look at checkdisk maybe, but probably will need to spend time to replace diskkv first to ensure there are no further leaks. Seems like the dragonboat references to the external rocksdb calls are leaking/never closed so it's just filling up RES.

[2020-05-21 15:25] lni commented on #128
@dioptre

I am not sure what do you mean by "dragonboat references to the external rocksdb calls are leaking/never closed". Could you please be more specific on which part of Dragonboat is indirectly leaking memory?

Based on what I have seen so far, Dragonboat is **NOT** leaking anything directly or indirectly.  As explained above, if you try that checkdisk tool, you can keep it busy doing reads

[2020-05-21 17:18] dioptre commented on #128
Strange, perhaps I'm running an older commit. I'm going to use ```go get github.com/lni/dragonboat/v3@master``` today.

I've got 2.2G RES after running it overnight. Definitely a black hole somewhere. Will get back with more details after moving to Pebble today. I'm not using anything outside of Go other than diskkv so it's definitely rocksdb called by logdb/diskkv (my calls are almost all reads,

[2020-05-21 17:37] dioptre commented on #128
Does this look right mate? Feels off.

[code]

Will get to the bottom of it!

[2020-05-21 19:43] dioptre commented on #128
Ok mate, between the forced GC, the forced timeouts in HTTP (found out you had to read the resp body until the end, else a connection may not close), the new PebbleDB and lots of forced context cleanups everywhere, seems to be stable again. Will let you know if I run into troubles or if I pin down the actual leak! Will have my tail between my legs if it was something I did.... sorry in advance for

[2020-05-21 19:44] #128 closed, assigned to lni

[2020-05-21 22:41] dioptre commented on #128
You were right mate, it wasn't rocksdb - replaced pebble with it again, and the mem shrank! Apologies again... Trying to catch a leak behind the GC is an absolute nightmare.

[2020-05-22 07:37] lni commented on #128
From my understanding, RocksDB/Pebble doesn't leak memory, they just uses quite a bit memory to store certain types of data in memory, e.g. block caches, memtables etc. For example, for memtables, its size directly impacts write throughput. When memtable size is set to be large, you'd be seeing memory footprint to keep increase for a while until it hits the configured limit.

In Dragonboat itself,

[2020-05-27 04:11] dioptre commented on #128
Thanks heaps!

[2020-06-15 06:09] sosnovski opened #132 "How can get the count of log entries?"
Hi,

I would like to say thank you for the huge contribution to open source.

I had a need to track the process of applying all the log entries after the start of the node.
Tell me, is there a way to get the count of log entries at the time the node starts?

I apologize for my bad English

[2020-06-16 15:30] lni commented on #132
when using IConcurrentStateMachine or IOnDiskStateMachine, committed proposals are provided to your Update method as Entry instances, the Index field of each Entry is the index of the committed proposal. You can use that to keep track of the progress.

unfortunately that is not available when using IStateMachine.

[2020-06-16 21:42] sosnovski commented on #132
I have an idea how to count the applied logs myself using the usual increment in the update method. However, the main problem is how to determine the total number of logs recorded before starting the cluster

[2020-06-17 03:48] lni commented on #132
In raft, entry indexes are always continuous, e.g. when you have an entry with index 5 ready to be applied into the state machine, it means there must be entries with index 1,2,3,4 already committed and applied in the raft cluster.

You might be able to figure out the total number of entries based on that.

[2020-06-17 06:52] sosnovski commented on #132
I understood your idea, but the problem is not how to count the number of logs at the time the update method was called, but how to get their total number before starting the update method calls.

For example - in the raft library from hashicorp there is a LastIndex method
which returns the number of the last index after creating the raft instance, but before starting it.

I have a suggestion to a

[2020-06-17 13:17] lni commented on #132
my guess is that you want the max index of committed entries available on the local node, e.g., when there are 3 nodes in a cluster, say nodes A, B and C, when the committed index for the cluster is 100 and node C has a snapshot at index 90 plus entries between index [91, 95], you want a mechanism to somehow get this 95 value when starting C?

for a 3 nodes cluster, when the committed index for th

[2020-07-03 13:01] lni commented on #132
Closed as required information is not available.

[2020-07-03 13:01] #132 closed, assigned to nobody

[2020-07-23 02:33] rfyiamcool opened #134 "Question: dragonboat support wal and data store in memory ?"
see title, thank u.

[2020-07-23 05:48] rock59 opened #135 "How many raft groups dragonboat can handle efficiently?"
How many raft groups dragonboat can handle efficiently?
Is there any limit on the number of raft groups?

[2020-07-24 03:52] lni commented on #134
WAL has to be on disk, otherwise how could WAL survive a machine reboot?

Data store on the other hand can be placed in memory, please read the docs in github.com/lni/dragonboat/v3/statemachine for details.

[2020-07-24 03:52] #134 closed, assigned to nobody

[2020-07-24 03:54] lni commented on #135
There is no limit in the software, but clearly it depends on what hardware you use (SSD, network, CPU) and what application RSM you have. In my tests, it is easy to scale to 5-10 thousands on a few years old hardware.

[2020-07-24 03:54] #135 closed, assigned to nobody

[2020-07-31 02:38] Fullstop000 commented on #101
What's the progress of this?

[2020-07-31 08:07] lni commented on #101
@Fullstop000 please feel free to take the ownership of this one if you like.

Note that the issues section records all potential enhancements, when an enhancement issue is added it doesn't mean there is any concrete plan to implement it until someone pick it up.

[2020-08-02 14:11] tephrocactus opened #136 "Build issue"
### Dragonboat version
`3.2.2` and `3.2.3`

### Expected behavior

Application build on Linux with `github.com/lni/dragonboat/v3 v3.2.2` in `go.mod` must be successful.

### Actual behavior

Build fails with error:

[code]

Also tag for dragonboat `v3.2.3` has typo: `v.3.2.3` . This version does not fetch automatically by `go mod tidy`.

### Steps to reproduce the behavior

1. `import "github.com/

[2020-08-02 14:53] tephrocactus commented on #136
Removing `github.com/cockroachdb/pebble` from `go.mod`, which was marked as //indirect, and then retrying `go mod tidy` & `go mod vendor` helped. Maybe not a dragonboat issue.

[2020-08-03 04:56] lni commented on #136
The typo in tag has been fixed. Thanks for reporting!

That pebble related build issue is more tricky -

Basically, dragonboat has an implementation of the "github.com/cockroachdb/pebble/vfs".FS interface based on an old but more stable version of pebble. You have a more recent version of pebble introduced into your build and that pebble version has a new method added to its "github.com/cockroachd

[2020-08-03 07:10] #136 closed, assigned to nobody

[2020-08-03 07:45] tephrocactus commented on #122
Why not just use simple custom kv store implementation like the following one?

1. Use separate directory for raft log files;
2. Directory contains file with latest raft log index which is updated every time new entry is written;
3. Each log entry goes in a separate file. Name of a file is it's index;
4. Use in-memory b-tree to manage entry files (ordering, range scans, e.t.c). B-tree element is j

[2020-08-03 09:31] lni commented on #122
@tephrocactus thanks for sharing the idea.

The main issue with the approach you described above is the extra synchronization (fsync()) costs required when there are large number of active raft clusters. For posix systems like Linux, the above approach will take two fsync() calls per raft log entry, one for the file itself and one for the parent directory. When there are large number of active raf

[2020-08-09 12:22] jeremyhahn opened #137 "gorocksdb core dump on Raspberry Pi 4's BCM2711 processor"
### Dragonboat version
3.2.2

### Expected behavior
gorocksdb writes successfully

### Actual behavior
goroutine 0 [idle]:
runtime: unknown pc 0xffb2ac
stack: frame={sp:0x7f9582bbb0, fp:0x0} stack=[0x7f9502c980,0x7f9582c580)
0000007f9582bab0:  0000007f9582bad0  0000007f9582bad0
0000007f9582bac0:  0000000000000000  0000000000000020
0000007f9582bad0:  0000000000000000  0000000000000000
0000007f9582b

[2020-08-09 15:56] lni commented on #137
As I don't have access to any Raspberry Pi 4, I can't try to reproduce the reported issue on Raspberry Pi 4.

Dragonboat works fine on ARM64, there is a travis-ci target running all tests on ARM64 for each push using pebble as the storage engine.  I've also added travis-ci targets to use RocksDB on ARM64 to run all LogDB tests. As you can see from the  links below, there is no ARM64 specific issue

[2020-08-09 16:37] lni commented on #114
Done

[2020-08-09 16:37] #114 closed, assigned to lni

[2020-08-11 03:20] jeremyhahn commented on #137
Confirmed working on Ubuntu 64-bit (20.04.01 and 18.04) with go 1.14.7 on RPI 4 model B with RocksDB and CGO.

Hopefully it's just an issue with the current beta release. You can try running Raspberian in a virtual machine if you're curious. I use QEMU on Linux with the kernels at https://github.com/dhruvvyas90/qemu-rpi-kernel. I believe VirtualBox will also work https://raspberrytips.com/run-rasp

[2020-08-11 05:38] lni commented on #137
Great to see it works on Raspberry Pi 4 + 64bit Ubuntu.

[2020-08-11 05:39] lni commented on #118
Closed as RocksDB is no longer the default storage engine for the coming release.

[2020-08-11 05:39] #118 closed, assigned to nobody

[2020-08-13 05:01] jeremyhahn commented on #137
Root cause follow-up:

TL;DR use librocksdb-dev from OS package repository or github.com/rocksdb/tags/v5.17.2 when building from source.

I wasn't aware of the librocksdb-dev package available in the package repo (thanks for the linked travis job!) so I compiled from rocksdb/master which doesn't appear to be compatible with gorocksdb https://github.com/tecbot/gorocksdb/issues/185

Raspi OS 64bit a

[2020-08-13 06:32] lni commented on #137
Thanks for the extra info, it is very useful.

Just a quick question - did you get any chance to try any more recent version of RocksDB (say 6.4.x or 6.5.x) on Ubuntu ARM64? I can confirm that 6.5.x works fine in my AMD64 systems.

[2020-08-13 08:08] jeremyhahn commented on #137
I did try, versions later than v6.3.6 results in the core dump on both Raspios and Ubuntu ARM64. My AMD64 desktop is able to compile and run the master branch.

[2020-08-14 07:32] lni commented on #137
Thanks for the information.

I will try Ubuntu ARM64 + the latest RocksDB release on AWS Graviton2 instances this coming weekend to see is there anything I can find.

[2020-08-17 11:12] lni commented on #137
Interestingly, I didn't get any trouble building/running Dragonboat + RocksDB v6.11.4 on a m6g.xlarge instance (ARM64) from AWS. I used Ubuntu 20.04 ARM64, RocksDB v6.11.4 was built with the default g++-9.3 compiler with its default options. Go 1.15 was used to play with the HEAD of Dragonboat's master branch. Please see logs below.

It seems to me that the problem you experienced is still tools/e

[2020-08-17 14:06] jeremyhahn commented on #137
I'll reserve some time this week to put together a docker container or packer image to reproduce the problem. Also happy to screen share with you.

[2020-08-17 17:30] lni commented on #137
You may also want to try Ubuntu 20.04 and its default g++-9.3 with the latest RocksDB v6.11.4 to see whether they work on your Raspberry Pi 4.

[2020-08-18 04:05] jeremyhahn commented on #137
Here is what I get on my RPI 4 running Ubuntu 20.04.1 LTS ARM64.

[code]

[code]

[code]

[code]

[code]

Using the flags mentioned in an earlier post:
[code]

Dragonboat HEAD using librocksdb v6.3.6 and the example you provided:
[code]

Dragonboat HEAD using librocksdb v6.3.6 and the example you provided with additional CGO_LDFLAGS:
[code]

[code]

Dragonboat HEAD using librocksdb v6.11.4 and the

[2020-08-18 08:32] lni commented on #137
Let's first rule out hardware issue here, e.g. https://github.com/golang/go/issues/28431 had similar illegal instruction error caused by some particular processors.

For the above test-logdb.bin executable that generated the reported illegal instruction error, you can copy that executable to an ARM64 based AWS m6g instance running the same version of Ubuntu and run from there to see whether it wor

[2020-08-18 08:38] lni commented on #137
Another thing I noticed is that you are using RocksDB as a static lib, it shouldn't be a problem in theory but just saw similar illegal instruction errors reported by other Go users when statically linked binaries were used.

https://groups.google.com/forum/#!topic/golang-nuts/1R4yayrgWUI

Can you try building RocksDB as a shared lib as well?

[2020-08-18 20:25] jeremyhahn commented on #137
static_lib test results

test-logdb.bin built with librocksdb-v6.11.4 on the RPI, run on the m6g instance:

[code]

Dragonboat HEAD with librocksdb-v6.11.4 on the m6g instance:
[code]

Dragonboat HEAD with librocksdb-v6.11.4 on the m6g instance with additional CGO_LDFLAGS:
[code]

Dragonboat HEAD built with librocksdb-v6.11.4 on the m6g instance with additional CGO_LDFLAGS, run on the RPI:
[code]

[2020-08-18 22:45] jeremyhahn commented on #137
shared_lib test results

Dragonboat HEAD with librocksdb-v6.11.4 built on m6g, run on m6g:
[code]

test-logdb.bin and librocksdb-v6.11.4 built on m6g, run on RPI:
[code]

Dragonboat HEAD and librocksdb-v6.11.4 built and run on RPI:
[code]

Dragonboat HEAD and librocksdb-v6.11.4 built on RPI, run on mg6:
[code]

[2020-08-19 06:44] lni commented on #137
As you can see from the above static_lib test results, the same test executable that works fine on m6g would cause illegal instruction error on Raspberry Pi4. It seems to me that there are some inconsistent behaviors between the ARM64 processors used on m6g and the one on Raspberry Pi4.

I now have the feeling that the error should be reproducible using a minimum Go program (without any Dragonboat

[2020-08-27 00:39] jkassis opened #138 "request dropped as the cluster is not ready"
I'm implementing Bootstrap code for Rafts as K8S StatefulSets...

The first server comes up... creates a NodeHost, and then a cluster with no initialMembers and join == true...

`
			if err := nh.StartCluster(initialMembers, true, stateMachineFactory, nodeConfig); err != nil {
				core.Log.Fatal(fmt.Errorf("failed to add cluster: %w", err).Error())
`

The second server comes up and calls an http s

[2020-08-27 00:46] jkassis commented on #138
simplified repro...
![image](https://user-images.githubusercontent.com/3630156/91371777-d3bad880-e7c6-11ea-8ba4-c3b0ec3145b3.png)

[2020-08-27 01:05] jkassis commented on #138
here are some logs...
[code]

[2020-08-27 02:35] lni commented on #138
As indicated in the log, the proposal was dropped because there was no leader.

You also need to include the RaftAddress of both nodes in your initialMembers, this is to allow those two nodes to know each other so they can communicate. Please check the example programs available at https://github.com/lni/dragonboat-example for more details.

[2020-08-27 02:35] #138 closed, assigned to nobody

[2020-08-27 06:28] jkassis opened #139 "IRaftEventListener.LeaderUpdated Called Frequently"
My cluster seems bootstrapped into three healthy nodes, but i get very frequent updates on this channel.

![image](https://user-images.githubusercontent.com/3630156/91399857-94ef4780-e7f3-11ea-820c-143246398aaf.png)

It seems that the leader does not get notifications when it is still the leader, but followers get frequent notifications that they are not the leader. Once per heartbeat?

Normal?

[2020-08-27 07:14] jkassis commented on #139
I'm now have dragonboat integration to the point that i can actually run my services... that's amazing. I swapped out hashicorp/raft for dragonboat in one day... plus maybe 4-5 hours of research. thanks for great apis, docs, and support.

not sure if it's related to the chatty LeaderUpdates, but the performance of my dragonboat raft integration is about 50% of the performance of my hashicorp/raft

[2020-08-27 07:56] lni commented on #139
@jkassis LeaderUpdated() is indeed called more frequent than it should. Thanks for reporting this issue and it will be addressed soon.

For the performance issue you mentioned above, my understanding is you observed the startup time using Dragonboat is 200% when compared to your old implementation using hasicorp Raft and badger?

[2020-08-27 15:30] jkassis commented on #139
Well startup time is perhaps another issue. I see sometimes long ~30s startup times with an empty database which is an issue for developer time / inner loop, but this is regarding my service.

It's a db that i initialize (schema and initial objects) through an external command. The external command runs notably slower... ~2x and is clearly reproducible by swapping out hashi / dragonboat.

Here is

[2020-08-27 19:06] jkassis commented on #139
Here's a little more info, though perhaps this belongs in a separate issue at this point:

[code]

[2020-08-27 19:14] jkassis opened #140 "NodeHost Address Changes"
When a StatefulSet pod goes down in kubernetes, it comes back up with a different IP address. Thus when bringing up a failed / downed NodeHost it will have a different IP. But it will retain the previous RAFT state since that state it is stored on a PersistentVolume.

Is there a way to update ADDRs for Nodes that have joined existing clusters?

P.S. FWIW It seems a bit strange to me that Nodes are

[2020-08-27 19:16] jkassis commented on #139
Does Hashi RAFT return on RAFT WAL commit or settling of the TXN?

[2020-08-28 00:43] jkassis commented on #139
today i updated my code so that i can switch back and forth between hashicorp and dragonboat with a single boolean. dragonboat seems to perform 10x worse in my 3 NodeHost 1 Cluster (single raft) test case. the one thing that isn't real-world about *this* test is that all of the NodeHosts are run in a single process, just bound to different ports. To be fair this is true for Hashicorp as well. In a

[2020-08-28 00:45] jkassis commented on #139
regarding the long startup times... after further investigation this is *not* a dragonboat issue. it's clearly on myside where i'm initing the DB for my rafted service. the performance i'm seeing here obviously *is* a concern though.

thanks again!

[2020-08-28 03:47] lni commented on #139
@jkassis

I am still waiting for your definition on "DB init" - when your screenshot shows that it takes the hashicorp implementation less than 1 second to complete the DB init step but a few seconds for dragonboat to do the same, what steps are involved in your DB init steps? Does that a few seconds spent by dragonboat includes its start up time?

In the screenshot above, that dbInit script got e

[2020-08-28 05:58] lni commented on #140
You don't have to use IP addresses, surely you can use DNS names. For a DNS name like host01.example.com, what is the difference between host01.example.com and an ID such as 0e46ab3e681f?

Also note that in the current code, the only assumption made is that when a Raft node is introduced to the system, a string type static identifier consistent with its NodeHost.RaftAddress() must be provided. Use

[2020-08-28 05:58] #140 closed, assigned to nobody

[2020-08-28 14:57] jkassis commented on #139
hi @lni. i think the name dbInit is a little misleading in this case. it just does raft proposals. mostly writes. my rafted service is a custom db that uses a local badger store for kv persistence.

one thing that is a little different come to think of it is that the hashicorp raft is using the raft-badger adapter to manage the WAL in the same badger instance as my rafted service. doesn't seem lik

[2020-08-28 16:24] lni commented on #139
@jkassis you didn't answer my question - when you claim that a few proposals can take a few extra seconds to complete when compared with hashicorp raft, did those a few extra seconds include dragonboat's start up time? In particular, does your dbInit.js script start a brand new dragonboat instance each time? Based on the log you provided above, it took dragonboat around 3 seconds to start when you

[2020-08-28 17:04] jkassis commented on #139
@lni. sorry it wasn't clear. dragonboat is started once when the db server process comes up, so this is definitely. not startup time over and over. here's what I see in a stackdriver profile...

![image](https://user-images.githubusercontent.com/3630156/91593527-33bf9500-e915-11ea-86aa-0131d8e590f3.png)

the process spends lots of time in park which indicates blocked goroutines. MTU on osxdarwin i

[2020-08-28 17:37] lni commented on #139
A few issues here -

1. given your state machine states are persisted to disk, you should probably use the OnDiskStateMachine type. See the example project on how to use it.
2. you probably don't need to take snapshot very often as your state is always on disk. Normally only do that when you need to compact raft logs. what kind of performance you can get if snapshotting is completely disabled (e.g

[2020-08-28 17:48] lni commented on #139
It will also be useful to know how many proposals will be triggered each time when that dbInit.js script is invoked?

[2020-08-28 17:59] jkassis commented on #139
snapshotting is run every 2048 logs so i was able to get profiles that exclude snapshotting. here they are head to head...

The DragonBoat profile on top is averaged over 7 profiles. The HashiCorp profile on bottom is averaged over 11 profiles.

Total CPU used by DB is less than HC while TPS is lower. this indicates lots of blocking i think. My statemachine is not *entirely* ondisk, which is why i

[2020-08-28 18:36] jkassis commented on #140
ok. good i can extend the transport. i was in mobile gaming for many years. big MMOs. using DNS isn't safe because it makes the DNS server an extra point of failure. plus it adds latency. all the professional ops people said no way, plus we did many benchmarks that crushed K8s DNS. you can cache DNS responses, but now you have a cache synchronization problem. it's very awkward, in particular, with

[2020-08-29 00:03] jkassis commented on #139
the select statements in nodeWorkerMain and taskWorkerMain are the hotspots AFAICT.

![image](https://user-images.githubusercontent.com/3630156/91623411-460af480-e950-11ea-97c4-e1d6b692aa5a.png)

[2020-08-29 00:08] jkassis commented on #139
hashicorp does not contribute to block time like this...

![image](https://user-images.githubusercontent.com/3630156/91623699-48218300-e951-11ea-98b0-0282796726c6.png)

[2020-08-29 05:01] jkassis commented on #139
agree mbp is not the best, but for now it's apples to apples since both benchmarks are running on the same machine.

[2020-08-29 05:41] lni commented on #139
@jkassis those block time info are not very useful, nodeWorkerMain and taskWorkerMain are blocked on select statements when they are idle.

Do you have everything including your server side code running on your mbp? If that is the case, please add some logging to see when (1) HTTP request is received, (2) proposal is made, (3) IStateMachine.Update() is called, (4) IStateMachine.Update() is ready t

[2020-08-29 06:40] lni commented on #139
Dragonboat actually has a built-in tool to check the problem you reported. It is available at -

https://github.com/lni/dragonboat/tree/master/tools/checkdisk

when I run the master HEAD version on my mbp 2018 using the following command, it will create two NodeHost instances with 48 raft clusters. A single client is created to keep making proposals on one of those 48 clusters, it keeps doing that

[2020-08-29 17:26] lni commented on #140
So we need a mapping system to map IDs to IP addresses so nodes can eventually talk to each other using those dynamically assigned IP addresses.

To address your concerns above, such a mapping system must be (1) fully decentralized, no single point of failure, (2) present to its users as a single entity with good consistency, (3) high performance. More strictly, one might also expect that (4) memb

[2020-08-29 19:54] jkassis commented on #139
works on master... first run...

[code]

[2020-08-29 19:57] jkassis commented on #139
not sure if the broken pipe is normal but 41 proposals per second with a total of 2496 looks good...
[code]

[2020-08-30 20:12] jkassis commented on #139
added prometheus histograms to http time, raft proposal time, and service time. eliminated service time with a noop.

![image](https://user-images.githubusercontent.com/3630156/91668567-74a8dc80-eac2-11ea-9d4c-a7e483ebd6fc.png)

[2020-08-30 20:25] jkassis commented on #139
![image](https://user-images.githubusercontent.com/3630156/91668792-41ffe380-eac4-11ea-980b-eb28a50b53db.png)

[2020-08-30 20:44] jkassis commented on #139
i tried a few things... cut TTL in half,  disable metrics, set quorum checking == false. no leverage from any of these settings. 65ms * 34 proposals == 2.2secs which is about what i'm seeing. the stats from checkdisk are a little better, but still not as fast as hashicorp. the only 2 things i can think of is that i'm using raft-badger for the WAL on the hashicorp while db uses pebble. either that

[2020-08-30 20:49] jkassis commented on #139
here's my badger config for the hashicorp WAL db
![image](https://user-images.githubusercontent.com/3630156/91669151-abcdbc80-eac7-11ea-90ff-2399375f6421.png)

[2020-08-30 20:55] jkassis commented on #139
i don't see dragonboat metrics in prometheus. a similar histogram around WAL DB commit time would be helpful.

[2020-08-31 06:12] lni commented on #139
@jkassis

Let's be crystal clear first, there are two issues so far -

1. Your closed source program with a ton of other features, business logics, dependencies and communication overheads (e.g. HTTP) are costing 4.58 seconds on average for 34 proposals, that is 135ms per proposal. I've provided you a simple program clearly demonstrating that a proposal can be completed on your machine in about 34

[2020-08-31 18:36] jkassis commented on #139
@lni first let me thank you again for your responsiveness, thoroughness, and support. i still do believe that dragonboat is an excellent product and that you are personally an exceptional engineer. What you have done with dragonboat is very special and i honor your work.

I do believe i understand your analysis and perspective and i think we are getting to the bottom of the mystery. Part of the ch

[2020-08-31 23:46] jkassis commented on #139
things look better for dragonboat when run on kubernetes in the cloud... maybe even faster than hashicorp.

![image](https://user-images.githubusercontent.com/3630156/91779038-3fc38500-eba9-11ea-9387-064ef1a9ffef.png)
![image](https://user-images.githubusercontent.com/3630156/91779050-4520cf80-eba9-11ea-8ade-bb40419d610e.png)
![image](https://user-images.githubusercontent.com/3630156/91779062-4a7e

[2020-09-02 08:32] lni commented on #139
@jkassis

checkdisk results provided above was obtained using 1 raft group and 1 client. see the command line I provided in my previous reply. you still need to check why proposal delay jumped from 34ms (in checkdisk) to 65ms in your tests. That >30ms jump (2x) is huge, it didn't just appear for no reason.

your hashicorp results are definitely wrong as well. you first reported that it took hashic

[2020-09-04 01:38] chensheng0 opened #141 "asking for bench tools"
hi:

Thanks for your great work focusing on raft and distributed system.

I am new to raft and distributed consistency. And I found dragonboat, it is a amazing work as I see. So I want to learn source codes.

Is there some bench tools? So I can do some little bench tests to see some things out, just like nats did: https://docs.nats.io/nats-tools/natsbench#start-the-nats-server-with-monitoring-enab

[2020-09-04 01:45] #141 closed, assigned to nobody

[2020-09-04 02:11] lni commented on #141
There is no plan to provide any benchmarking tool.

[2020-09-04 09:15] lni commented on #139
The issue of LeaderUpdated() repeatedly called with the same LeaderInfo has been fixed in master.

[2020-09-04 09:15] #139 closed, assigned to nobody

[2020-09-12 03:45] jkassis commented on #139
@lni thanks for closing this. and thanks for your most recent post regarding the performance evaluation. I have run out of time to evaluate this as my primary focus, so I am occasionally investigating further. If you like I can keep you up to date with my findings on this ticket or another thread of your choice. until i hear otherwise... i'll post here...

i did an AB test with the same app runnin

[2020-09-13 00:26] lni commented on #139
@jkassis

Please see the issues I mentioned in my 2nd Sept reply.

[2020-09-15 12:16] Ichliebedich0505 opened #142 "How does dragonboat manage clock drift (or skew)?"
In the section 8 of raft thesis, the authors assume that the clock skew is bounded so that the leader lease can be employed to ensure the leader won't step down for some time to come. But the clocks in servers must be different to some extent. Here I wonder how does dragonboat manage clock drift (or skew)?

[2020-09-15 14:41] lni commented on #142
Please follow the instructions in issue_template.md when raising issues.

If you are interested in certain part of Dragonboat's design/implementation, please read the source code, the answer is there. When you believe something is broken/missing, please be more specific on what you saw/experienced. Thanks.

[2020-09-15 14:41] #142 closed, assigned to nobody

[2020-10-07 17:57] advancedwebdeveloper opened #143 "module declares its path as: github.com/cockroachdb/pebble but was required as: github.com/petermattis/pebble"
### Dragonboat version

### Expected behavior
Successful retrieval of all dependencies

### Actual behavior
That's uncertain
### Steps to reproduce the behavior

My environment:

I am on Ubuntu 20.04 (x86_64).

[2020-10-07 18:01] advancedwebdeveloper commented on #143
CC @sumeerbhola @petermattis @jbowens @tbg @256dpi

[2020-10-08 08:36] lni commented on #143
@advancedwebdeveloper what dragonboat version are you using?

package github.com/petermattis/pebble was the package name for pebble, but that was changed to github.com/cockroachdb/pebble many months ago. When looking at the MASTER branch, there is no reference to github.com/petermattis/pebble, see below.

[code]

also note that such issue never occurred in the travis CI environment where each chec

[2020-10-08 08:58] advancedwebdeveloper commented on #143
@lni , trying to reproduce.

Cloning from the master branch:

Now, obtaining modules:

[2020-10-08 09:13] lni commented on #143
@advancedwebdeveloper are you still experiencing the same issue? when searching for the key word "petermattis", I didn't get any hit in the logs you posted above.

I did a quick check, release 3.2.x and 3.1.x don't have any reference to github.com/petermattis/pebble, github.com/petermattis/pebble only appears in the release-3.0 branch. please make sure you are using the 3.2.x release or the MASTER

[2020-10-08 09:20] advancedwebdeveloper commented on #143
And then I do

and getting this:

[2020-10-08 09:28] advancedwebdeveloper commented on #143
Then I tried such stuff

and got such output

[2020-10-08 09:40] advancedwebdeveloper commented on #143
[dragonboat_verbose_test_logs.zip](https://github.com/lni/dragonboat/files/5346776/dragonboat_verbose_test_logs.zip)

Attaching my compressed log file, as an output to

[Duplicating](https://drive.google.com/file/d/1l8lYdiN7uVN7t41g2-ReJMRnNWl-2tK0/view?usp=sharing) on google drive

[2020-10-08 13:35] lni commented on #143
@advancedwebdeveloper that "incompatible type for method 'getScores'" issue is a different error.

The  'rocksdb/c.h' file not found error is caused by the fact that you don't have rocksdb installed and then not using the Makefile to run test. Dragonboat uses `make test` to run all tests, rocksdb is not required when running `make test`

I also noticed that your go version output is

[code]

Pleas

[2020-10-09 15:24] lni commented on #143
please feel free to reopen if there is new info. all three reported issues have been addressed above.

[2020-10-09 15:24] #143 closed, assigned to nobody

[2020-11-30 05:39] jkassis opened #144 "to pebbledb or not to pebbledb"
pebbledb is now the default, yet the logs warn...

`pebble support is experimental, DO NOT USE IN PRODUCTION`

i think the docs also mention that the *squeemish* should go for rocksdb.

where exactly does pebbledb stand wrt dragonboat today?

[2020-11-30 09:22] lni commented on #144
Pebble is the default storage engine for Raft Log in the master branch, which is the development branch of Dragonboat. Pebble will be marked as production ready once v3.3 is released, before that it should be considered as beta (in development).

Please note that there is no known issue for the Pebble support, v3.3 is not released yet because I'd like to wait a little bit longer to allow more pebb

[2020-11-30 09:22] #144 closed, assigned to nobody

[2020-11-30 18:06] jkassis commented on #144
thanks @lni ... one more question... is there a way to control memory usage of pebble through dragonboat? if not... we might consider making this a feature request.

[2020-12-01 02:56] lni commented on #144
@jkassis could you please open a new issue on the memory usage issue so other users can easily search and find the discussions in the future? will be happy to help you on that.

[2020-12-01 20:20] jkassis opened #145 "PebbleDB Memory Settings"
Is there a way to control memory usage of pebble through dragonboat?

eg badger gives some control over memory mapping for LSM tables and allows the user to specify maximum ram size for cache.

not seeing these options in the pebble codebase, so i'm guessing no, but raising it here in case i missed something.

[2020-12-02 04:05] lni commented on #145
Please have a look at the LogDB field in config.NodeHostConfig, it is defined in config/config.go

[2020-12-02 04:05] #145 closed, assigned to nobody

[2020-12-03 21:10] jkassis opened #146 "WAL Log Not Compacting After Snapshot"
### Dragonboat version
3.2.8

### Expected behavior
Expecting WAL with PebbleDB to compact after Snapshotting.

### Actual behavior
It does not appear that the WAL compacts ever. I ran a large enough load test on a 3 node / process cluster running on my development Mac that eventually filled the disk completely. It wasn't even possible to delete files. I had to reboot to free up some disk space so

[2020-12-03 21:21] jkassis commented on #138
looking deeply into the examples resolved this. thank you.

[2020-12-03 21:38] jkassis commented on #146
disable auto-compaction is definitely false...

![image](https://user-images.githubusercontent.com/3630156/101091348-e2a2eb00-356c-11eb-829d-58cb43f69d12.png)

[2020-12-04 01:48] lni commented on #146
hmm...

Do you have the dragonboat log? There should be some info there indicating whether WAL compaction is issued/executed. The log you provided above seems to be from your RSM, they are not useful as the actual Dragonboat log.

In your posted log above,  what is the content of the /var/tickie/cluster/local-server-0/raft/dragonboat/db directory? Is it for your Badger DB based RSM? What is the si

[2020-12-04 04:43] jkassis commented on #146
Yes. The log above is from RSM. I'll do another run tomorrow to get Dragonboat Logs.

I cleaned the data from that run to give me disk space, but the current content of that dir (which is *I believe* the NodeHostDir) is this...
[code]

The badger data is actually in /tmp since it is technically not persistent (at least not in k8s). It's kindof a glorified disk-backed cache. It's content *is* strea

[2020-12-04 05:18] lni commented on #146
Yes, /var/tickie/cluster/local-server-0/raft/dragonboat/db is indeed the NodeHostConfig.NodeHostDir directory.

Could you please check what are the sizes of those logdb-* and snapshot-part-* subdirectories under /var/tickie/cluster/local-server-0/raft/dragonboat/db/Jeremys-MBP.hsd1.ca.comcast.net/00000000000000000001? Thanks.

[2020-12-06 19:10] jkassis commented on #146
i finally got around to doing another cluster run. Here are the logdb sizes for one of the three raft nodes.

[code]

It's worth noting that this is the view after a benchmarking test that ran about 200QPS for 3-4 minutes. It looks to me like the raft was backing up. The process eventually failed catastrophically.

[2020-12-06 19:29] jkassis commented on #146
I ran this again with a single node RAFT. And I ran it with much lower TPS. The log10 eventually backed up again.

[code]

Here's logdb-10...
[code]

I inspected this throughout the run. logdb-10 is always filling up. it's a little suspicious to me that snapshot-part-10 is also filling up. I'm wondering if I'm not finishing the snapshot properly.

My snapshot code *is* getting called on regular in

[2020-12-06 20:49] jkassis commented on #146
Switching to rocks fixes it.

![image](https://user-images.githubusercontent.com/3630156/101291981-72d96e00-37c1-11eb-9219-57bfbe3a0693.png)

[2020-12-06 21:33] jkassis opened #147 "RTTMillisecond Tuning"
What's the best way to measure RTTMillisecond? And... does RTTMillisecond affect the overall bandwidth of the system?

After resolving `https://github.com/lni/dragonboat/issues/146` by switching to rocks... I'm trying to get the overall bandwidth of my system up.

The documentation for RTTMillisecond suggests that it could be as low as 1ms, but some of the other docs suggest values of 100.

[2020-12-06 22:54] jkassis commented on #147
Also. What's a good rule of thumb for log compaction. How many raft proposals. More proposals == more compaction == less time for proposals.

[2020-12-07 03:20] lni commented on #147
Please see the godoc of NodeHostConfig.RTTMillisecond on its definition, it has been clearly defined there. Note that there is no suggested RTTMillisecond, it should be set to reflect the working environment of your system.

Closing this one as from my point of view the RTTMillisecond field is well defined/explained in godoc, in case you find the godoc to be hard to understand, please feel free to

[2020-12-07 03:20] #147 closed, assigned to nobody

[2020-12-07 03:38] lni commented on #146
Please check your own code to see did you set the pebble's memtable size to be close to 16GBytes. As you can see from the info you posted above, those pebble log files are about 15-16GBytes each and that means memtable size was set to about 16GBytes.

[code]

If you run the current master version, e.g. using the checkdisk tool I mentioned before, you can keep running that for ages and won't see an

[2020-12-07 03:56] #146 closed, assigned to nobody

[2020-12-07 19:06] jkassis commented on #146
i will check. but in another run they were > 20GB. You can see in https://github.com/lni/dragonboat/issues/146#issuecomment-739561578 that i'm using the default / recommended LogDBFactory function for pebble: `pebble.NewLogDB`.

[2020-12-08 01:16] lni commented on #146
@jkassis to support your claim, please provide a minimum program that can reproduce the reported problem. in this case, it can be a simple console program that keeps making proposals and snapshots with a NOOP RSM. Please use the exact same version and configuration for pebble/dragonboat to show that pebble log file can actually increase to 16GBytes each when making regular size proposals.

[2020-12-08 14:09] jkassis opened #148 "Update Error Handling Clarification"
The docs say...

[code]

What happens when my Update method successfully applies m out of n Entrys and then throws an error? Should I return all m or all n Entrys or does it matter?

Here's my current understanding...

ServiceRaftDBDisk.Update:
[code]

RaftableService.Write:
[code]

And for comparison...

ServiceRaftDBRSM.Update:
[code]

And if you are really interested...

DBBadger.TxnW:
[code]

[2020-12-08 20:10] jkassis commented on #147
the docs are good WRT the definition of RTTMillisecond: `// Note that RTTMillisecond is the combined delays between two NodeHost including all delays caused by network transmission, delays caused by NodeHost queuing and processing`.

The question is more about the best way to measure it. Does Dragonboat expose an internal prometheus metric for this?

if i were to measure it myself, i would probabl

[2020-12-08 20:15] jkassis commented on #147
Also, the other part of the question is what impact does RTTMillisecond have on performance?

What is the impact of it being set to a value less than the actual RTT?

And what about being set to a value much greater than the actual RTT?

It seems clear that this parameter would affect average latency. But what about bandwidth? I would guess that a large RTT forces more proposals into large batches

[2020-12-08 20:29] jkassis opened #149 "SnapshotEntries Tuning"
What's a good rule of thumb for SnapshotEntries / log compaction?

I do understand that this is application specific, but perhaps some extra general guidance related to this value? Something like an equation perhaps?

I have noticed that <SnapshotEntries == more compaction == less time for proposals == smaller WAL size == faster node synchronization when sizeof(Entry) / sizeof(Snapshot) is large.

[2020-12-09 03:01] lni commented on #149
Users have full control on when they want to have a snapshot generated. You don't have to use Config.SnapshotEntries to make a snapshot for every N proposals. RequestSnapshot and SyncRequestSnapshot can be called at any time to generate a snapshot. It is up to the user to decide when it is appropriate to generate a snapshot as there are many factors involved.

Also note that LogDB compaction is no

[2020-12-09 03:01] #149 closed, assigned to nobody

[2020-12-09 03:07] lni commented on #147
Unless you have very large number of Raft clusters, RTTMillisecond is expected to have small impact on proposal throughputs.

[2020-12-09 03:09] lni commented on #148
When an error is returned by that Update() method, the []Entry part of the returned value is ignored.

[2020-12-09 03:09] #148 closed, assigned to nobody

[2020-12-10 09:35] ikgo opened #150 "Restore cluster after nodes crash and lost quorum"
### Dragonboat version
v3.0.0 master branch

How restore cluster after crash of nodes and cluster lost quorum and failed nodes can't be started with same IP?
NodeHost.RequestDeleteNode and RequestAddNode returns error in case cluster in not operational mode.

### Steps to reproduce the behavior
- 3 nodes cluster up and running.
- two nodes crushed
- two new nodes started but with new IP's

[2020-12-10 16:33] jkassis commented on #148
so all entries must succeed or none? my fsm processes each entry in a separate txn. maybe that is wrong.

[2020-12-10 19:17] jkassis opened #151 "panic: not suppose to be called"
Trying to track this down, but posting in case this is something on the dragonboat side. This comes up when starting my cluster and switching from pebbledb to rocksdb. Cluster comes up find with pebbledb, but I get this with the default LogDBFactory.

### Dragonboat version
v3.2.9

### Actual behavior
panic: not suppose to be called

goroutine 16 [running]:
github.com/lni/dragonboat/v3/internal/lo

[2020-12-10 19:28] jkassis commented on #151
ahh... this happens when using rocks in code, but running process with `dragonboat_no_rocksdb` go build flag. Just a little gotcha when switching back and forth between pebble and rocks.

[2020-12-10 19:28] #151 closed, assigned to nobody

[2020-12-10 20:21] jkassis commented on #150
@ikgo sounds like you might want to read `https://github.com/lni/dragonboat/issues/140`

[2020-12-10 21:32] jkassis commented on #146
i switched from the v3.2.6 branch to the master branch and this logsize issue *seems* to have gone away. I noticed that when starting the cluster, the raft was taking about 800MB of disk right away. Now at least when I start with pebble on master the raft takes a very reasonable 1MB of disk. However, I see see a significant RAFT throughput problem using pebble. With raft, my application can run ar

[2020-12-11 02:46] lni commented on #150
@ikgo

When 2 nodes out of your 3 nodes cluster are unavailable, the state of your Raft cluster becomes unavailable. You will not be able to use any membership change request (such as NodeHost.RequestDeleteNode and RequestAddNode) to remove or replace the crashed nodes as the cluster no longer has quorum to complete those operations.

When those 2 nodes are permanently gone, your only option is to

[2020-12-11 02:46] #150 closed, assigned to nobody

[2020-12-11 03:00] lni commented on #148
RSM's Update() method is expected never to return error. When any error is returned, Dragonboat has no idea how to handle that error so it will just panic.

[2020-12-11 03:10] jkassis commented on #148
ok. but what about the case for Disk backed state-machine?

[2020-12-11 03:52] lni commented on #146
probably caused by WAL preallocation.

Are you running on your macbook pro? RocksDB doesn't properly fsync the writes on MacOS, it gives people the false feeling that it is "faster", pebble on the other hand does fsync() properly and thus "slower".

[2020-12-11 03:58] lni commented on #148
Similar to the in memory RSM, Dragonboat will panic when any error is returned from an on disk RSM's Update() method. As mentioned in the doc, it is your RSM's responsibility to correctly record the latest index value of successfully applied update. On restarting such crashed (caused by error in Update()) RSM, your RSM's Open() method is required to return that exact index value, Dragonboat will t

[2020-12-11 12:43] ikgo commented on #150
@lni thanks

[2020-12-22 07:08] sethyates opened #153 "NodeID"
What is the recommended method for assigning NodeID? If we use a deterministic method, and a node is removed, then it cannot be added back with the same NodeID (`rej exist` error in log). Our nodes are managed using Kubernetes and Helm, which doesn't provide much mechanism for manually assigning NodeID's.

[2020-12-22 09:34] lni commented on #153
You are free to choose any NodeID you like. NodeID is just a numeric value picked by your code, I don't think it has anything to do with software like Kubernetes.

Note that in the context of raft/dragonboat, removing a node means using membership change operation to permanently remove a node from the raft cluster. If you have a crashed node that can be restarted, that node is not "removed" when i

[2020-12-22 09:34] #153 closed, assigned to nobody

[2020-12-22 10:13] sethyates commented on #153
Thanks!

[2020-12-23 21:30] aep opened #154 "custom transport and memberlist support"
Would be great if we could use this library on top of an existing encrypted mesh.

looks like there is already an api for it, but its not documented and fairly complex.

we already have a list of members, and a (message or stream based) transport method to them through devguard carrier,
but just need consenus on top. Is that something that would fit into dragonboat?

[2020-12-24 04:12] lni commented on #154
@aep <del>That TransportModule field was recently added, it is still a work in progress feature that only exists in the development branch. TestTransportModuleCanUseNodeHostID in nodehost_test.go is an example on how to use it, you may want to have a look. </del>

<del>I am working on this feature as in my own project I'd like to use a gossip protocol (e.g. similar to hashicorp's memberlist librar

[2020-12-25 21:31] abbccdda commented on #89
Is this ticket still valid?

[2020-12-30 11:50] lni commented on #96
Done

[2020-12-30 11:50] #96 closed, assigned to lni

[2021-01-13 05:57] lni commented on #154
Some changes have been made in the last few weeks.

NodeHostConfig.Expert.TransportFactory can be set to use custom transport module. plugin/chan/chan.go is an example on how to implement such a custom transport module.

NodeHostConfig.AddressByNodeHostID can be set to request all NodeHost instances to be addressed by an internal randomly assigned static ID value. This allows NodeHost instances to

[2021-01-13 05:57] #154 closed, assigned to nobody

[2021-01-13 06:07] lni commented on #140
A gossip service based approach has been added to allow NodeHost.RaftAddress to change after each restart.

You can set NodeHostConfig.AddressByNodeHostID to enable it. Once enabled, all those target parameters used in NodeHost's APIs (such as StartCluster, RequestAddNode etc.) need to be NodeHostID values. Basically, rather than saying "I want my cluster 2 node 3 to be running on the NodeHost ins

[2021-01-21 13:47] stffabi opened #155 "Factory for IKVStore"
Would it be possible to introduce an additional factory on the config for injecting custom `IKVStore` implementations?

This would make it possible to use other KV Stores without having to fully implement the `ILogDB` and would make it a lot more easier to write a plugin for another KV Store.

Thank you very much for this awesome project.

[2021-01-21 16:10] lni commented on #155
I am afraid that providing public access to the IKVStore interface only makes it much easier to implement a broken plugin that will eventually have data loss or corruption. For all open source Go KV stores that I am aware of, Pebble is the only one that can tick all boxes.

Another reason why it is not made publicly accessible is because KV store is not the ideal solution for storing raft logs.

[2021-01-21 16:10] #155 closed, assigned to nobody

[2021-01-21 16:45] stffabi commented on #155
Thanks for your reply.I understand your second point. We were just interested in using Badger as we are using it for other projects. I'm aware of your concerns about it, but we can life with its limitations.

[2021-01-22 04:40] lni commented on #155
Badger support was added back in Jan 2019, but later removed due to the concern of its reliability & lack of some essential features such as range delete.

[2021-01-22 12:19] lni commented on #137
https://github.com/facebook/rocksdb/pull/7233 seems to be the fix for this issue. Not verified on my end as I don't have any Raspberry Pi hardware.

[2021-01-22 12:19] #137 closed, assigned to nobody

[2021-01-22 15:39] stffabi opened #156 "OnDiskSTM: Inconsistent OnDiskIndex during node start will silently be ignored"
If an OnDiskSTM returns during the open an old index (let's say index=33) and the latest snapshot is on a newer index e.g. 50, this inconsistency will silently be ignored and assumed the OnDiskSTM is on 50. Therefore newer entries (e.g. with index=51, 52,...) will be recovered as it is assumed the STM is on index 50.
The node will just start fine and begin working with the old OnDiskSTM and and ap

[2021-01-23 04:01] lni commented on #156
@stffabi I am not sure what is the inconsistency here.

The situation you described above is legitimate - let's say your IOnDiskStateMachine have all entries up to index 33 applied, that index 33 value is recorded by your Update() method to reflect such progress. In this case, for all __regular user proposals __ applied into the on disk SM, 33 is the highest index value. After that index 33 regula

[2021-01-23 04:10] lni commented on #122
v3.3 uses pebble by default.

[2021-01-23 04:10] #122 closed, assigned to lni

[2021-01-23 05:28] #88 closed, assigned to nobody

[2021-01-23 05:28] #89 closed, assigned to nobody

[2021-01-23 21:16] stffabi commented on #156
@lni thanks for your reply.

I totally agree with you that this is legitimate iff there were no user proposals between index values [34, 50]. But in my case those indexes included user proposals. I also agree with you that if everything works fine such an inconsistency could not happen.

My issue was not directed to any inconsistency caused by dragonboat itself but if it was caused by something ou

[2021-01-24 04:11] lni commented on #156
@stffabi thanks for the input. I agree that it will be useful to check the OnDiskIndex of the snapshot and the onDiskInitIndex value of the SM when restarting an on disk state machine. Maybe something like the following in the recover() method in internal/rsm/statemachine.go -

[code]

Would you like to send in a PR to give it a try? Thanks.

[2021-01-24 09:51] stffabi commented on #156
Awesome, yes I would be interested in giving a PR a try. Unfortunately it would take me 2-3 days until I have time to look into it in detail. I'll create the PR as soon as I'm ready.

Thanks again.

[2021-01-24 11:24] lni commented on #156
Sounds great.

[2021-01-24 22:30] jkassis opened #157 "RocksDB Compatibility Verification"
I'm currently running Rocks 6.14 in production. What's the best way to test for complete compatibility with Pebble during migration to v3.3?

### Dragonboat version
v3.3

[2021-01-25 01:48] lni commented on #157
Pebble claims to be compatible with RocksDB v6.2.1.

In my own tests, I have a test Raft based program that keeps switching between RocksDB v5.18.x and Pebble during restarts. The test program checks whether everything work as expected and whether all Raft replicas end up having the same Raft Logs. A recently added LogDB plugin called Tee uses both RocksDB and pebble side by side so each read can

[2021-01-25 01:48] #157 closed, assigned to nobody

[2021-01-25 04:04] jkassis commented on #157
Excellent answer. Thank you @lni

[2021-01-26 15:05] stffabi opened #159 "Gossip: 3 node cluster with one node down => quorum will be lost"
If gossip is used with a 3 node cluster and one node is down, the gossip `NodeHostIDRegistry` can't resolve the node anymore from the NodeHostID to the RaftAddress, returning an error to the transporter. The transporter uses in its `send` method one common CircuitBreaker for all `IResolver.Resolve` calls.

https://github.com/lni/dragonboat/blob/ca6b5cabf3afd2da1083892f9cf04ffd3bcde623/internal/tra

[2021-01-26 15:11] stffabi commented on #159
I've tried to create a PR with a fix and pushed it as a Draft PR for discussion.

[2021-01-26 19:54] stffabi commented on #156
I've created a draft PR where we could discuss the changes.

[2021-01-27 06:46] lni commented on #159
Thanks for reporting! I think that circuit breaker was there by mistake - the gossip based address resolver queries its in memory member list to get the address, having a circuit breaker there isn't saving any resources, it is actually causing each sent message to have to get and update that circuit breaker. From memory, I added that when I saw excessive logging messages in tests, it was probably

[2021-01-27 09:02] lni commented on #159
the above mentioned related issue has been fixed. That redundant circuit breaker is still there, you may want to remove it in your PR or I can just delete it. Thanks for reporting the issue.

[2021-01-27 09:43] stffabi commented on #159
@lni I'm fine with removing the circuit breaker. I've just updated the PR. Thanks for fixing/optimizing the the memberlist iteration.

[2021-01-28 03:02] #159 closed, assigned to nobody

[2021-01-29 13:24] stffabi opened #162 "OnDiskSM: PrepareSnapshot is called for dummy snapshot, how to release resources"
In the current implementation `PrepareSnapshot` is called when a dummy snapshot gets created for an OnDiskSM. Most often an OnDiskSM needs to open some resources in the `PrepareSnapshot` method, e.g. a Pebble Snapshot, which needs to be closed after it is not used anymore. A close of the Pebble Snapshot e.g. is needed in order to allow Pebble to delete entries that are prevented from the snapshot

[2021-01-30 05:55] lni commented on #162
Thanks for reporting this issue. I am going to fix it today and make it into v3.3.1.

[2021-01-30 08:16] #162 closed, assigned to nobody

[2021-02-01 07:30] stffabi commented on #162
@lni Thanks for fixing the issue and creating a new release.

[2021-02-01 12:15] #156 closed, assigned to nobody

[2021-03-03 06:42] rajeshkgit opened #164 "Client SyncPropose outcome based on the IStateMachine update Callback Status"
I am trying to explore the multiraft for Application State replication( Application state is persisted to a persistent backend such as PostgreSQL or other databases). I have modified the HelloWorld IStateMachine to update the database as part of the Update() invocation, however, I am not able to fail the client SyncPropose based on the DB Update status (any error in updating the database should fa

[2021-03-04 05:24] lni commented on #164
As documented in statemachine/rsm.go, any non-nil error returned by the Update() method is considered as "unrecoverable", it will cause dragonboat to panic as there is no other sensible action it can take. For example, the disk or memory is full when you want to write something to it. So only return a non-nil error when you believe such error requires the whole program to be terminated so you can

[2021-03-04 05:24] #164 closed, assigned to nobody

[2021-03-10 07:45] SergeyLysanov opened #165 "PreVote Support"
Found in code the following comment:
`// Features currently being worked on -
//  * pre-vote
//`

Any plans to support pre-vote phase in near future?
Thanks!

[2021-03-11 09:16] lni commented on #165
One way or another it will eventually be supported, but I think it is currently low on my priority list. If someone wants to give it a go and contribute PR for this feature, I'd be happy to help.

[2021-03-12 15:48] lebovski opened #166 "Propose does not return all results"
Hi I need help understanding how SyncPropose works.

Suppose I have a Raft cluster and I send SyncPropose from the leader, one of the nodes (not leader) gives an error, which is stored in the result (sm.Result). I expect Propose to return me a set of sm.Result from all nodes, but it only returns the result from the leader.
Is it possible to get all the results? Or how can I validate the result of

[2021-03-13 02:38] lni commented on #166
I'd like to reiterate the definition of error in this context -

For unexpected failures, e.g. disk is full or corrupted, the Update method should return a non-nil error and this will cause the program to panic. You can then resolve the underlying issue and restart your program, the proposal that led to such non-nil error is guaranteed to be re-applied after restart. This kind of failure is usuall

[2021-03-13 02:39] lni commented on #164
#166 contains some detailed explanation as well

[2021-03-14 01:34] #166 closed, assigned to nobody

[2021-03-15 06:17] rajeshkgit commented on #166
@lni #164 I was also looking for a way to propagate the results from all the Raft nodes, instead of its being returned from the leader state machine.
**_IStateMachine/IOnDiskStateMachine is correctly implemented, all your nodes from the same Raft cluster should return the same value for the same proposal"_**
This may not work in the case where your StateMachines are making use of an external datab

[2021-03-15 07:55] lni commented on #166
@rajeshkgit when dragonboat requires all nodes from the same raft cluster to return the same results when given the same proposal to apply, that is not a constrain introduced by dragonboat, it is a fundamental requirement of the Replicated State Machine model. Both Raft and Paxos are built on top of this fundamental model.

As explained above, when impacted by the connectivity issue in your mentio

[2021-03-15 07:57] lni commented on #166
also note that client can make proposals on any nodes, not just the leader node, the returned result is generated by the local node which can be a follower node.

[2021-03-19 16:22] lebovski opened #167 "Respond after processing all the nodes."
Is it possible to configure the dragonboat so that the Propose only responds after processing all the nodes?

If I understand everything correctly, now Proposer processes the replies from the quorum and releases the client.

[2021-03-20 06:43] lni commented on #167
If I understand correctly, you want the client to be notified only when the proposed command has been applied to all replica nodes. Dragonboat doesn't have such feature and I am not sure how such a feature can be useful & practical for a consensus library.

For example, for a 3 nodes raft cluster, let's say node A and B are up and running when the third node C is unreachable due to network partiti

[2021-03-22 07:06] lebovski commented on #167
Yes, that's right, thanks for the answer.

[2021-03-23 01:17] chensheng0 opened #168 "A quick question: Were benchmarks data based on default tcp transport?"
I am reading the source code, and saw dragonboat has an excellent performance which according to benchmarks data. Is these data were test base on  default tcp transport or other customed rpc transport.

Thanks a lot.

[2021-03-23 03:13] lni commented on #168
Default TCP transport on 40Gbps dual ports ethernet cards.

Note that the benchmark results were observed on 2 years old open source version. Most recent internal version is about 50% better in terms of throughput, latency is also significantly reduced.

[2021-03-23 03:13] #168 closed, assigned to nobody

[2021-03-23 03:14] #167 closed, assigned to nobody

[2021-03-23 03:38] chensheng0 commented on #168
Thanks a lot.

[2021-03-23 07:21] lni commented on #165
Some extra info on this topic for those who are interested -

Pre-vote is primarily useful for the situation when a node is partitioned away from other nodes, e.g. when the node can send messages to the leader but couldn't receive messages from the leader. Without pre-vote, the partitioned node's term value will keep increasing. In a basic raft implementation, such partitioned node will keep sendi

[2021-03-23 16:38] huanyang712 opened #169 "请问 startCluster 的时候 join 是如何使用的？"
请问 startCluster 的时候 join 是如何使用的？
有没有相当文档？

···
if join && len(initialMembers) > 0 {
		return ErrInvalidClusterSettings
	}
···

我看到了这段代码，如果join=true的时候，却不能设置initialMembers，
那么，请问当前启动的node，要  join 到哪里去呢？

[2021-03-24 03:24] lni commented on #169
Please see the godoc of the StartCluster method.

[2021-03-24 03:24] #169 closed, assigned to nobody

[2021-03-30 08:18] xkeyideal opened #170 "Corruption: While creating a new Db, wal_dir contains existing log file"
Dragonboat version: v3.2.8
rocksdb version: 6.14.6

restart cluster:

![image](https://user-images.githubusercontent.com/6369390/112956775-619edd80-9173-11eb-870e-abab83ca8432.png)

restart cluster repeatedly:

![image](https://user-images.githubusercontent.com/6369390/112956925-885d1400-9173-11eb-8d80-2334f3c86554.png)

[2021-03-31 06:45] lni commented on #170
The RocksDB instance used for storing Raft logs and metadata is corrupted.

When trying to restart your instance, RocksDB believed that it is a new DB (in pebble, which can be considered as a golang port of RocksDB, this means there is no CURRENT file in the db directory, not sure how RocksDB itself checks whether it is a new DB) but later found existing .log files in the folder pointed by the wal

[2021-03-31 06:59] xkeyideal commented on #170
The program didn't modify NodeHostDir and WALDir settings, I found the CURRENT file in the db directory DATADir lost any data and WALDir log exist.
So RocksDB believed that it is a new DB,  but WALDir contains existing log file.

I don't know why this happens, now I deploy the program to linux test environment and observe for a few days.

[2021-03-31 11:00] lni commented on #170
you may want to upgrade to latest version v3.3.1, v3.2.x is no longer maintained.

[2021-04-01 01:14] xkeyideal commented on #170
Thanks

[2021-04-01 01:14] #170 closed, assigned to nobody

[2021-04-23 19:05] marcus-orchard opened #174 "Propose from node not in cluster?"
I'm struggling with the following scenario:

- Multi-raft with 5 node hosts
- Each cluster is ran on 3 of the 5 nodes, and the clusters change to adjust for load on each node
- Each node is consuming data from Kafka, and the consumed messages result in proposals to the different clusters
- If the Kafka message is consumed by a node and the cluster that should receive the proposal is on that node,

[2021-04-24 00:48] lni commented on #174
With the recently added gossip feature, a potential solution is to use gossip to share such cluster membership info across all NodeHosts.

If someone can implement this and send in a PR, I'd be happy to help getting it done.

[2021-04-27 08:05] coufalja commented on #90
I have a working Impl using https://github.com/lucas-clemente/quic-go (based on existing TCP implementation) do you fancy me doing a PR (I have no numbers yet to confirm if it really is or isn't in any way faster)? Should I add the impl under the plugins folder?

[2021-04-27 08:18] coufalja opened #175 "Feature request: API access to LogDB"
Hello, we run multiple multi-group dragonboat clusters which currently synchronise their state using Kafka. We would like to implement an asynchronous replication in a hub-and-spoke manner in between the clusters.  For that purpose, we either implement binlog as a state machine or given the date are already stored in the log in LogDB already access it there.
* Is there a reason why not to allow ac

[2021-04-27 15:44] lni commented on #175
The biggest reason is that the vast majority of users don't care the Raft logs stored in the LogDB. Exposing the LogDB via NodeHost is going to make NodeHost more complicated. Keeping it private also allows the LogDB interface to be changed without affecting any user applications.

I can see legitimate reasons why certain applications would require access to the LogDB, as I have an application tha

[2021-04-28 07:10] lni commented on #90
@coufalja that sounds interesting

any quick benchmark data on such quic based transport? I looked into that quic go package in 2019 and the RTT latency was not on par with TCP, see the quic-go-benchmark results posted above. wondering anything changed in the last two years.

for the PR, yes, please put it in the plugin folder.

[2021-05-03 11:35] coufalja commented on #175
No specific plans yet, I was thinking about creating a new interface in `raftio` package that would define read-only methods for LogDB (effectively a subset of current `raftio.ILogDB`). And the implementation should be a wrapper struct around the actual LogDB implementing the aforementioned interface via delegation to the actual DB. Via the split, I would have got the feature I need while keeping

[2021-05-08 06:54] lni commented on #165
pre-vote support has been added.

[2021-05-08 06:54] #165 closed, assigned to nobody

[2021-05-09 08:34] lni commented on #175
@coufalja

How about we add another API to NodeHost named GetReadOnlyLogDB(), it returns a LogDB wrapper that implements the existing raftio.ILogDB interface but all write related methods will cause panic in this wrapper?

[2021-05-14 08:57] LuDell opened #177 "How to support Gossip?"
### Dragonboat version

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2021-05-15 11:51] lni commented on #177
Please check the godoc of NodeHostConfig.

[2021-05-15 11:51] #177 closed, assigned to nobody

[2021-06-14 03:52] lni opened #178 "Repair clusters by reducing cluster size"
Current version of dragonboat provides a tool called ImportSnapshot to repair clusters that permanently lost their quorums. For example, a 3 nodes cluster becomes unavailable when it loses 2 nodes permanently. The ImportSnapshot tool repairs such cluster by manipulating the membership records to include new nodes into the cluster, a snapshot previously exported from the cluster is imported to thos